/*header*/
.testata {
	font-family: Techno, Impact, Verdana, Arial, sans-serif;
	font-size: 3em;
	color: #344A76;
	text-decoration: none;
	padding-left: 10px;
	text-align: left;
	
}	
.testata2 {
	font-family: Techno, Impact, Verdana, Arial, sans-serif;
	font-size: 1em;
	color: #344A76;
	text-decoration: none;
	padding-left: 10px;
	text-align: left;
	float: left;
}
/*header end*/
/*body*/
a:link {
	color: #888888;
}

.click {
	color: black;
	cursor: pointer; 
	font-weight: bold;
	text-decoration: underline;
}

.success {
	font-family: Arial, sans-serif;
	font-size: 1.2em;
	color: green;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding-bottom: 5px;
}

.titolo {
	font-family: Arial, sans-serif;
	font-size: 1.2em;
	color: #344A76;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
}

.descrizione {
	font-style: italic;
	font-size: 1em;
	text-align: justify;
	padding: 0 10px 10px 0;
}

.informativa {
	font-size: 1em;
	overflow: scroll;
	height: 300px;
	padding: 1em;
	background-color: #E0E0E0;
	border: 1px #ddd solid;
	margin: 1em 0;
}

ul.list {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.validation_error {
	color: #cd0a0a;
	font-size: 1em;
	clear: both;
	font-weight: bold;
}

.validation_error_input {
	border: 1px #cd0a0a solid;
}

.titolo_sezione {
	font-size: 0.9em;
	color: #444369;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	margin-top: 5px;
}

.sezione {
	background: #f4f4f4;
	padding: 5px;
	margin-top: 2px;
}

.sezione_highlight {
	border: 2px solid #444369;
}

.titolo_sottosezione {
	font-size: 0.7em;
	color: #444369;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	border-bottom: solid 1px #ddd;
	border-width: 1px 0;
	margin: 2px 0 2px 0;
}

.sezione_table {
	width: 100%;
}

.sezione_table_h {
	text-align: left;
	background-color: #E0E0E0;
}

.sezione_table_row_odd {
	background-color: #EAEAEA;
}

.sezione_table_row {
	background-color: white;
}

.sezione_table_label {
	width: 12%;
}

.sezione_table_label2 {
	width: 70%;
}

.sezione_table_buttons {
	text-align: right;
}
/*schede dinamiche*/
.titoloSezione {
	font-size: 0.8em;
	color: #444369;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	margin-top: 5px;
	background-color: #E0E0E0;
}

.testoesteso {
	font-size: 0.9em;
}

.etichettaControllo {
	
}

.controllo {
	position: relative;
}

.controllo input {
	float: left;
}

.searchbox {
	background-image: url('../images/search.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;	
}

.ui-autocomplete-input {
	background-image: url('../images/search.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;	
}

.help_image {
	background-image: url('../images/help.gif');
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 2px;
}

.help_image label {
	visibility: hidden;
}

.error {
	color: #cd0a0a;
	font-size: 0.8em;
	padding: 0px 2px;
	font-weight: bold;
}

#functions ul {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#functions ul li a{
	float: right;
}
/*schede dinamiche end*/
/*body end*/
/*menu*/
.col2 ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.col2 ul li {
	padding-top: 10px;
}

.col2 a {
	color: #888888;
}

.col2 a:hover {
	color: #444369;
}

.col2 .menu_button {
	margin: 5px 0;
	width: 90%;
}
/*menu end*/

.lista-endo > ul {
	margin-left: 0;
	padding-left: 0;
}

.lista-endo ul {
	list-style-type: none;
}

.lista-endo ul li {
	font-weight: bold;
	text-transform: uppercase;
}

.lista-endo ul li ul li{
	font-weight: normal;
	font-style: italic;
}

.lista-endo ul li ul li ul li{
	font-weight: normal;
	text-transform: none;
	font-style: normal;
}