@CHARSET "UTF-8";

.elenco-endo-title{
	font-size: 18px;
}
DIV.elenco-endo-title{
	margin-bottom: 16px;
}

DIV.elenco-endo{
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.famiglia-endo-title{
	font-size: 16px;
	/*font-weight: bold;*/
}

DIV.famiglia-endo{
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 0px;
}

.categoria-endo-title{
	font-size: 12px;
	font-weight: bold;
}

DIV.categoria-endo{
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 0px;
}
/* stili CART-FACCT*/
.label-cart{
	width: 28%;
	float: left; 
	clear: left;
}

.testo-cart{
	padding-top: 4px;
	padding-bottom: 2px;
}

.testo-cart-container{
	display: block;
	float: none;
	clear: both;	
}

.campo-cart {
	position: relative;
	display: inline;
}
.campo-cart-right{
	float: right;
	width: 70%;
}

.campo-cart-left INPUT{
	/*max-width: 80%;*/
}

.campo-cart-left{
	/*float: left;*/
}

.campo-cart-icons {
	display: inline-table;
	position: relative;
}

TABLE .campo-cart-right.campo-file-cart{
	
	width: auto !important;
	max-width: 100%;
}

DIV.campo-cart-container-obbligatorio SPAN.campo-file-cart{
	background-image: none !important;
	background-color: #FFFBD6 !important;
}

DIV.campo-cart-container SPAN.campo-file-cart.ui-selectmenu-button{
	width: auto !important;
	min-width: 100px;
}

/*
.campo-file-cart{
	width: 95% !important;
	float: left;
	clear: both;
	text-align: left;
}
*/

.campo-cart-container{
	/*display: inline;*/
	clear: both;
	position: relative;
}

.titolo-tabella{
	padding-top: 4px;
}

.tabella-cart{
	display: inline-table;
	width: 100%;
	clear: both;
}

td.column-cart{
	
}
TD.warning{
	width: 40%;
}
TD.error{
	width: 40%;
}
TD.name{
	width: 20%;
}
TD.size{
	width: 7%;
}
TD.cancel{
	width: 8%;
}
TD.delete{
	width: 8%;
}




.column-cart .campo-cart-nowidth{
	width: auto;
}

.tab-cart{
	display: inline-block;
}

.tabs-moduli-container{
	display: inline-table;
}

.sezione-cart {
	display: inline-block;
	float: left;
	clear: both;
	width: 100%;
}

.sezione-cart LEGEND{
	font-weight: bolder;
	color: inherit !important;
}

.sezione-cart fieldset {
	margin: 5px !important;
	padding: 5px !important;
	border-style: solid !important;
	border-width: thin !important;
	border-radius: 4px 4px 4px 4px;
	border-color: #AAAAAA !important;
}

fieldset.fieldset-firmadigitale{
	margin: 5px !important;
	padding: 5px !important;
	border-style: solid !important;
	border-width: thin !important;
	border-radius: 4px 4px 4px 4px;
	border-color: #AAAAAA !important;
}

.fieldset-firmadigitale LEGEND{
	font-weight: bolder;
	color: inherit !important;
}

DIV.signed-upload-ctrl{
	padding-top: 6px;
}

.quadro-cart-title{
	font-size: 12px;
	font-weight: bold;
		
}	
.quadro-cart-tab-title{
	font-size: 13px;
	font-weight: bold;
}

.modulo-cart{
	font-size: 12pt;
	display: inline-table;
	width: 100%;
}

.modulo-cart .quadro-cart{
	font-size: 10pt;
	display: inline;
	width: 100%;
}

.modulo-cart-title{
	font-size: 14px;
	font-weight: bold;
}

.bottone-cart{
	margin-top: 4px;
	font-size: 12pt;
	color: #ffffff !important;
	box-shadow: 0 15px 11px maroon inset, 0 10px  57px maroon inset, 0 2px 1px black !important;
	background: maroon !important;
}

.bottone-cart-small{
	margin-top: 2px;
	font-size: 9pt;
	color: #ffffff !important;
	box-shadow: 0 15px 11px maroon inset, 0 10px  57px maroon inset, 0 2px 1px black !important;
	background: maroon !important;
}

DIV.campo-cart-container-obbligatorio LABEL.mandatory-star{
	display: inline-block;
	/*float: left;*/
}

DIV.campo-cart-container-obbligatorio SPAN.ui-button-text{
	background-color: #FFFBD6 ;
}

DIV.campo-cart-container-obbligatorio TABLE.file-list SPAN.ui-button-text{
	background-color: transparent;
}

.sign-attachment{
	display: inline-table;
	vertical-align: top;
}

a.linkEsterno
{
        color: #b71218;
        background-image: url( '../images/external_link_icon_off.gif');
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 20px;
        text-decoration: none;
}

a:hover.linkEsterno
{
        background-image: url( '../images/external_link_icon.gif');
        text-decoration: underline;
}

.blockUI>h1{
	font-size: 16px;
	font-weight: bolder;
	vertical-align: middle;
	padding: 20px;
}

OL.elenconumerato{
	/*display: block;*/
	padding-left: 30px;
	padding-top: 15px;
}

UL.elencopuntato{
	/*
	display: inline-block;
	left: 30px;
	*/
	padding-left: 24px;
	padding-top: 12px;
}

LI.elencopuntato {
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: inherit;
	display: list-item;
}

LI.elenconumerato {
	list-style-type: decimal;
	list-style-position: outside;
	list-style-image: none;
	display: list-item;
}

UL.error-list{
	padding-left: 20px;
}

LI.error-msg{
	list-style-image: url( '../images/error.png');
}

LI.warning-msg{
	list-style-image: url( '../images/warning.gif');
}

DIV.ui-state-error LI{
	list-style-type: disc;
	list-style-position: inside;
}

.icon-firmadigitale {
	background-image: url('../images/certificato.gif');
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 2px;
}

.icon-firmadigitale LABEL{
	visibility: hidden;
}
