.protip {
	padding: 2px; 
	border : 1px solid #333333;
	background: #F2F3F5;
	position: absolute;
	z-index: 100;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	border: 1px solid #333333;
}

.keyboard_down_arrow {
	vertical-align: middle;
}