<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     th:replace="~{decorator_main :: layout(~{::title}, ~{::section})}">
<head>
	<title th:text="#{label.gestione_attivazioni}">label.gestione_attivazioni</title>
</head>
<body>
   <section 
   	class="section section-muted" 
	th:attr="aria-describedby=titleSection">
   
   <div class="container">
    <!-- contenuto di esempio START -->

    <h1 id="titleSection" th:text="#{label.gestione_attivazioni}">label.gestione_attivazioni</h1>


					<form name="inviodati" method="post">
						
						<div th:replace="~{fragments/lists :: list-common-parts}" />

					
						<div class="table-responsive">
							<table class="table table-sm table-striped table-hover table-bordered">
							    <thead>
							        <tr>
							        	<th scope="col" th:text="#{label.alias}"  width="2%" class="table-filterable-header" data-filter-name="id" />
							        	<th scope="col" th:text="#{label.descrizione}" width="20%" class="table-filterable-header" data-filter-name="descrizione" />
							            <th scope="col" th:text="#{label.idcomune}"  width="2%" class="table-filterable-header" data-filter-name="idcomune" />
							            <th scope="col" th:text="#{label.attivo}"  width="2%" />
							            <th scope="col" th:text="#{label.connections}" width="20%" />
							        </tr>
							    </thead>
							    <tbody>
							        <tr th:each="dato, iStat : ${dataList.content}">
							        	<td><a class="detail-link-action" href="#" th:attr="data-id=${dato.id}" th:text="${dato.id}"></a></td>
							        	<td th:text="${dato.descrizione}" />
							        	<td th:text="${dato.idcomune}" />
							        	<td th:text="${dato.attivo}" />
							            <td>
							            	  <ul th:each="conn, iStat : ${dato.comunisecurityConnections}">
							            	  	<li><label th:text="${conn.id.ambiente}" style="size: 20px;" />: <span th:text="${conn.connectionstring}"></span></li>
							            	  </ul>
							            </td>
							        </tr>
							    </tbody>
							</table>
						</div>
					</form>
				
				
					 <div th:replace="~{fragments/lists :: list-pagination(${dataList})}"></div>				
					
					 
				
					<button type="button" id="nuovo" class="btn btn-primary" 								
						th:onclick="location.href=[[@{create.htm}]]"
						th:text="#{button.new}">button.new</button>
					<button type="button" id="back" class="btn btn-secondary" 								
						th:onclick="location.href=[[@{/}]]"
						th:text="#{button.back}">button.back</button>
										

  </div>	  	
  

   
  <script  th:replace="~{fragments/lists :: script-list-pagination}"  />
    
  
  </section>
</body>
</html>