<app-inner-page-layout [isLoading]="!caricamentoCompletato">

    <div class="torna-indietro link" (click)="tornaIndietro()">
        <h4>
            <i class="glyphicon glyphicon-chevron-left"></i> Torna indietro
        </h4>
    </div>

    <div *ngIf="(news$ | async) as news" class="dettaglio-news">
        <h2>
            <span [innerHTML]="news.titolo | stripHtml"></span>
            <small>
            <br/>
            <span [innerHtml]="news.sottotitolo"></span>
          </small>
        </h2>

        <div class="row">
            <div class="col-md-9">
                <div class="data-pubblicazione">
                    {{news.data}}
                </div>
                <div class="corpo-news">

                    <p [innerHtml]="news.corpo">

                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <app-share-social [titolo]="news.titolo"></app-share-social>
            </div>
        </div>
    </div>
</app-inner-page-layout>