/* Default layout External Backoffice Table of Contents:
    1.  Global
    6.  Page
    7.  Content
    8.  SubContent
    9.  Navigation
    10. Sidebar
    11. Footer 
    12. Footer Legal
    13. Various classes
    14. Schede Dinamiche
*/
@IMPORT url("../../header/header.css");

@IMPORT url("../buttons/button.css");

@IMPORT url("../../effects/effect.css");

@IMPORT url("../../jmesa/jmesa.css");

/* ----------------------------------------------------------------------*/
	/* ----------------------------->>> GLOBAL <<<---------------------------*/
	/* ----------------------------------------------------------------------*/
body {
	margin: 0;
	padding: 0;
}

p,ol,ul {
	
}

a {
	
}

a:hover {
	
}

hr {
	display: none;
}

#menu {
	height: 2em;
	width: 99%;
	background-color: #182C33;
	z-index: 100;
}

/* ----------------------------------------------------------------------*/
	/* ------------------------------>>> Page <<<----------------------------*/
	/* ----------------------------------------------------------------------*/
#wrapper {
	clear: both;
	min-height: 52em;
}

#page {
	margin: 1em 1em 0 1em;
	padding: 0;
}

/* ----------------------------------------------------------------------*/
	/* ----------------------------->>> Content <<<--------------------------*/
	/* ----------------------------------------------------------------------*/
#content {
	float: left;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 50px !important;
}

#formContainer {
	display: block;
	width: 100%;
}

.label { /*display: inline; /* IE bug Hack */
	
}

.form { /*display: inline; /* IE bug Hack */
	
}

.rowForm {
	width: 100%;
	display: block;
	padding-bottom: 5px;
	float: left;
}

.cell {
	float: left;
	margin: 5px;
}

.clear {
	clear: both;
}

.posteggi_dettaglio {
	position: absolute;
	z-index: 1000;
}

/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Navigation <<<--------------------------*/
	/* ----------------------------------------------------------------------*/
#navigation {
	margin-top: 2em;
}

#help {
	z-index: 5000;
}

/* ----------------------------------------------------------------------*/
	/* ---------------------------->>> Sidebar <<<---------------------------*/
	/* ----------------------------------------------------------------------*/
#sidebar {
	float: right;
	width: 15%;
	margin-top: 2em;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	margin-bottom: 30px;
}

#sidebar li ul {
	
}

#sidebar li li {
	margin: 0;
	padding: 4px 0 4px 0;
}

#sidebar li li a {
	
}

#sidebar h2 {
	padding: 0;
	margin: 0 0 6px 0;
}

#sidebar a {
	
}

#sidebar a:hover {
	
}

/* ----------------------------------------------------------------------*/
	/* ---------------------------->>> Footer <<<----------------------------*/
	/* ----------------------------------------------------------------------*/
#wrapper2 {
	
}

#footer {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer a {
	
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	display: block;
	float: left;
	width: 300px;
	padding-left: 20px;
}

#footer li.first {
	padding-left: 0;
}

#footer li ul {
	margin: 0;
	margin-bottom: 30px;
}

#footer li li {
	display: list-item;
	float: none;
	margin: 0;
	padding: 2px 0;
}

#footer li li a {
	
}

#footer h2 {
	margin-top: 0;
}

/* ----------------------------------------------------------------------*/
	/* --------------------------->>> Footer Legal <<<-----------------------*/
	/* ----------------------------------------------------------------------*/
#legal {
	clear: both;
	margin: 0;
	padding: 10px 0;
}

#legal a {
	
}

/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Various classes <<<---------------------*/
	/* ----------------------------------------------------------------------*/
.timestamp {
	
}

.timestamp a {
	
}

.blue {
	
}

.error_header {
	background-image: url(../../../images/error.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.error {
	
}

.success,.success_header {
	background-image: url(../../../images/success.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
}

.fade {
	
}

.gray {
	
}

.help_inline {
	position: absolute;
	z-index: 1000;
}

.help_image {
	background-image: url('../../../images/help.gif');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 5px;
}

.help_image label {
	visibility: hidden;
}

.searchbox {
	background-image: url('../../../images/magnifying-glass.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

/* E' utilizzato nella funzionalità anagrafe per avere lo sfondo rosso 
del searchbox  */
.searchboxBackgroudRed {
	background-image: url('../../images/magnifying-glass.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}
.clear {
	clear: both;
}

/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Schede Dinamiche <<<--------------------*/
	/* ----------------------------------------------------------------------*/
.listaSchede {
	margin: 0;
	padding-bottom: 19px;
	padding-left: 10px;
	text-transform: uppercase;
}

.listaSchede ul,.listaSchede li {
	display: inline;
	margin: 0;
	padding: 0;
}

.listaSchede a:link,.listaSchede a:visited {
	float: left;
	margin-right: 8px;
	padding: 2px 10px 2px 10px;
}

.listaSchede a:hover {
	
}

.listaSchede a.SchedaAttiva {
	
}