<div class="share-social">
    <h4>Condividi</h4>
    <div class="lista-canali">
        <a href="{{facebookUrl()}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class="fa fa-facebook"></span>
        </a>

        <a href="{{gPlusUrl()}}" onclick="window.open(this.href, 'gplus-share','width=580,height=296');return false;">
            <span class="fa fa-google-plus"></span>
        </a>
        <a href="{{twitterUrl()}}" onclick="window.open(this.href, 'gplus-share','width=580,height=296');return false;">
            <span class="fa fa-twitter"></span>
        </a>
    </div>
</div>