<?xml version="1.0"?>
<MainMenu>
  <!-- Versione del menu in uso, deve essere "2" -->
  <Versione>2</Versione>
  <!-- Se valorizzato mostra il testo inserito nella parte centrale della pagina di benvenuto -->
  <Descrizione/>
  <!-- 
  Questo elemento contiene le sezioni di menu che verranno mostrate nel menu superiore.
  Ogni elemento SezioneMenu va a generare una tendina contenente i sottomenu specificati
   -->
  <Sezioni>

    <SezioneMenu>
      <!--<Titolo>Torna alla Home</Titolo>-->

      <Titolo>
        <![CDATA[<i class="glyphicon glyphicon-home"></i>]]>
      </Titolo>
      <Url>~/Reserved/benvenuto.aspx</Url>
    </SezioneMenu>

    <SezioneMenu>
      <!-- Titolo della voce di menu di primo livello nel menu superiore -->
      <Titolo>Scrivania virtuale</Titolo>

      <!-- Lista di sottomenu -->
      <Items>
        <!-- 
          E' possibile assegnare i seguenti attributi ad ogni voce di menu:
          
          - icona-bs: nome dell'icona del set di icone di bootstrap (vd. http://getbootstrap.com/components/#glyphicons per la lista),
                      il nome dell'icona va specificato senza i prefissi "glyphicon glyphicon-".
                      Ad esempio se si vuole visualizzare l'icona "glyphicon glyphicon-asterisk" occorre scrivere "asterisk"
                      
          - completa-url: Se impostato a true all'url specificato nel parametro "url" verranno accodati come parametri di querystring i valori di token, alias e software
                          Se impostato a false l'url specificato nel parametro "url" non verrà modificato
                          
          - mostra-in-home-page: Se impostato a true la voce di menu verrà mostrata tra le piastrelle della pagina di benvenuto
                                 Se impostato a false la voce di menu non verrà mostrata nella pagina di benvenuto
                                 Valore di default: true
                                 
          - target: Target in cui aprire la voce di menu, ad esempio _blank
        -->
        <MenuItem icona-bs="open-file">

          <!-- titolo della voce di menu -->
          <Titolo>Nuova pratica</Titolo>

          <!-- Descrizione che verrà mostrata nella pagina di benvenuto-->
          <Descrizione>Permette la presentazione di SCIA, Comunicazioni e Procedimenti ordinari</Descrizione>

          <!-- 
          Url a cui punta la pagina di benvenuto, nell'url è possibile specificare i segnaposto {idcomune} {software} e {token} che verranno
          sostituiti con i valori corretti          
          -->
          <Url>~/Reserved/NuovaIstanza.aspx</Url>
        </MenuItem>

        <MenuItem icona-bs="time">
          <Titolo>Pratiche in sospeso</Titolo>
          <Descrizione>Recupero domande non ancora presentate</Descrizione>
          <Url>~/Reserved/IstanzeInSospeso.aspx</Url>
        </MenuItem>

        <MenuItem icona-bs="folder-open">
          <Titolo>Le mie pratiche</Titolo>
          <Descrizione>Visualizzazione dello stato avanzamento istanza</Descrizione>
          <Url>~/Reserved/IstanzePresentate.aspx</Url>
        </MenuItem>

        <MenuItem icona-bs="calendar">
          <Titolo>Le mie scadenze</Titolo>
          <Descrizione>Permette l'interazione on-line per integrazioni documentali</Descrizione>
          <Url>~/Reserved/Scadenzario.aspx</Url>
        </MenuItem>

        <MenuItem icona-bs="search">
          <Titolo>Accesso agli atti</Titolo>
          <Descrizione>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Descrizione>
          <Url>~/reserved/accesso-atti/accesso-atti-list.aspx</Url>
        </MenuItem>
        
        <MenuItem icona-bs="star" completa-url="false">
          <Titolo>Sondaggio</Titolo>
          <Descrizione>Esprimi la tua opinione ed aiutaci a migliorare il servizio</Descrizione>
          <Url>http://sondaggi.comune.fi.it/limesurvey2/index.php/892816/lang-it</Url>
        </MenuItem>

        <MenuItem icona-bs="search" completa-url="false" permetti-token="true">
          <Titolo>Banca Dati Edilizia Privata</Titolo>
          <Descrizione>ricerca nella banca dati edilizia privata</Descrizione>
          <Url>https://netbuk.netspring.it/edilizia_grosseto/index.php?token={token}&amp;returnto=https%3A%2F%2Fnetbuk.netspring.it%2FAreaRiservata%2Freserved%2Fbenvenuto.aspx%3Falias%3DE202J%26software%3DCE%26token%3D{token}</Url>
        </MenuItem>
        
      </Items>



    </SezioneMenu>

    <SezioneMenu>
      <Titolo>Passa a</Titolo>
      <Items>
        <MenuItem mostra-in-home-page="false" completa-url="false">
          <Titolo>Scrivania virtuale SUAP</Titolo>
          <Descrizione>.</Descrizione>
          <Url>https://aida2015.comune.livorno.it/areariservata/Login.aspx?idComune=E625&amp;software=SS&amp;token={token}</Url>
        </MenuItem>

        <MenuItem mostra-in-home-page="false" completa-url="false">
          <Titolo>Scrivania virtuale Polizia Amministrativa (Occupazione suolo pubblico)</Titolo>
          <Descrizione>.</Descrizione>
          <Url>https://aida2015.comune.livorno.it/areariservata/Login.aspx?idComune=E625&amp;software=SP&amp;token={token}</Url>
        </MenuItem>
      </Items>
    </SezioneMenu>
  </Sezioni>


  <!-- La sezione MenuUtente contiene le voci di menu che compaiono nel menù utente, è possibile assegnare ai vari MenuItem  gli stessi attributi degli elementi del blocco SezioneMenu-->
  <MenuUtente>

    <!--MenuItem icona-bs="lock">
			<Titolo>Modifica password</Titolo>
			<Descrizione>Modifica della password dell'utente</Descrizione>
			<Url>~/Reserved/ModificaPassword.aspx</Url>
		</MenuItem-->

    <MenuItem icona-bs="off" completa-url="false" mostra-in-home-page="false">
      <Titolo>Esci</Titolo>
      <Descrizione>Uscita dai servizi on-line</Descrizione>
      <Url>https://identificazione.055055.it/iam/UI/Logout?goto=http%3A%2F%2Fsuap.comune.fi.it%2F</Url>
    </MenuItem>

  </MenuUtente>
</MainMenu>