
#set($qstr = ("id=" + $!itemEntity.id.codice +"&idComuneDomanda=" + $!itemEntity.id.idcomune + "&ts_=" + $Utilities.generaPassword( 8 ) ))
																																			
#set( $qsDownloadFile = $Utilities.getLinkForFile( $qstr ) )

<div class="dettagliolink" data-qsmac="$qsDownloadFile" >Dettaglio</div>