<div class="stato_istanza" data-identificativo="$!itemEntity.id.codice" data-idcomunedomanda="$!itemEntity.id.idcomune" onclick="verificaStato(this,'$!itemEntity.id.codice','$!itemEntity.id.idcomune')" title="clicca qui per verificare lo stato"></div>