
#if($!itemEntity.tipoRichiesta == "I" )
	Richiesta integrazione
#elseif($!itemEntity.tipoRichiesta == "C")
	Richiesta Conformazione
#elseif($!itemEntity.tipoRichiesta == "D")
	Comunicazione di diniego
#elseif($!itemEntity.tipoRichiesta == "M")
	Comunicazione		
#elseif($!itemEntity.tipoRichiesta == "P")
	Invio provvedimento
#else
	$!itemEntity.tipoRichiesta
#end