<div class="container-fluid sezione-home home-info">
  <div class="container">
    <h2>Informazioni</h2>

    <div class="row">
      @for (info of infoArray | async; track info) {
        <div class="col-md-6">
          <ul>
            @for (i of info; track i) {
              <li>
                <a
                  href="#"
                  [routerLink]="[infoUrl, i.id]"
                  [innerHtml]="i.titolo"
                ></a>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</div>
