@default-background-color: #e6e6e6;
@default-font-color: #696969;
@content-background-color: #fff;

@default-accent-color: #1ab394;
@default-accent-color-stronger: #18a689;
@default-widget-background-color: #f3f3f4;
@default-widget-background-color-dark: #e7eaec;



@primary-button-color: @default-accent-color;
@primary-button-color-hover: @default-accent-color-stronger;
@primary-button-text-color: @content-background-color;

@default-button-color: @content-background-color;
@default-button-color-hover: @content-background-color;
@default-button-border: #e7eaec;
@default-button-border-hover: #d2d2d2;

@form-control-color: #FFFFFF;
@form-control-border-color: #999;