.jmesa {
    margin: 0;
    clear:both;
    padding: 10px 0px 5px 0px;
   
}
.jmesa caption {
	padding-left: 5px;
}

.jmesa .table {
    padding: 2px;
    width: 100%;
}

.toolbar table {
    margin-right: auto;
    margin-left: 0px;
}

.jmesa .toolbar td {
    padding: 0px 1px 0px 1px;
}

.jmesa .toolbar select {

}

.jmesa .toolbar .pageNumber {

}

.jmesa .toolbar .pageNumber a {

}

.jmesa .toolbar img {
    border:0px;
}

.jmesa .filter td {
    padding: 2px 2px 3px 2px;
}

.jmesa .tbody input {
    padding: 0;
    margin: 0;
}

.jmesa .filter .dynFilter {
    position: relative;
    padding: 0;
    margin: 0;
    height: 15px;
}

.jmesa .filter #dynFilterDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 15px;
}

.jmesa .filter #dynFilterInput {
    padding: 0;
    margin: 0;
}

.jmesa .filter #dynFilterDroplistDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    z-index: 2;
}

.jmesa .filter #dynFilterDroplist {   
    padding: 0;
    margin: 0;
}

.jmesa .header td {
	padding: 4px 3px 4px 3px;
}

.jmesa .odd a,.jmesa .even a {
	color: #B61218;
}

.jmesa .odd td,.jmesa .even td {
    padding: 2px 3px 2px 3px;
}

.jmesa .odd td {

}

.jmesa .even td {
}

.jmesa .odd {
}

.jmesa .even {
}

.jmesa .highlight td {
    padding: 3px 4px 3px 4px;
}

.jmesa .highlight a {
   
}

.jmesa .statusBar td {
    padding: 2px;
}

.jmesa .dropShadow {
    padding: 10px 14px 14px 10px;
}

.jmesa .wsColumn {
    position: relative;
    padding: 0;
    margin: 0;
    height: 15px;
}

.jmesa .wsColumnError {
    position: relative;   
    padding: 0;
    margin: 0;  
    height: 15px;
}

.jmesa .wsColumnChange {
    position: relative;    
    padding: 0;
    margin: 0;   
    height: 15px;
}

.jmesa #wsColumnDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
}

.jmesa #wsColumnInput {
    padding: 0;
    margin: 0;
}
.addColumn{
	padding: 0px 0px 4px 4px; 
	display: inline;
}
.addColumn  label{
	visibility: hidden;
}

.emailColumn{
	padding: 0px 0px 4px 4px; 
	display: inline;
}
.emailColumn  label{
	visibility: hidden;
}

.dettaglioColumn{
	padding: 0px 0px 4px 4px; 
	display: inline;
}
.dettaglioColumn  label{
	visibility: hidden;
}
.eliminaRiga{
	padding: 0px 4px 4px 0px; 
	display: inline;	
}
.eliminaRiga label{
	visibility: hidden;
}
.gisLink{
	padding: 0px 0px 4px 4px; 
	display: inline;
}
.gisLink label{
	visibility: hidden;
}

.dettaglioGisLink
{
	padding: 0px 0px 4px 4px; 
	display: inline;
}

.dettaglioGisLink label
{
	visibility: hidden;
}

.letteraA{
	padding: 0px 0px 4px 4px; 
	display: inline;
}
.letteraA label{
	visibility: hidden;
}
.assegnaColumn{
	padding: 0px 4px 4px 0px; 
	display: inline;	
}
.assegnaColumn label{
	visibility: hidden;
}
.visualizzaDocColumn{
	padding: 0px 4px 4px 0px; 
	display: inline;
}
.visualizzaDocColumn label{
	visibility: hidden;
}

.visualizzaDocPDFColumn{
	padding: 0px 4px 4px 0px; 
	display: inline;
}
.visualizzaDocPDFColumn label{
	visibility: hidden;
}	

.visualizzaDocWORDColumn{
	padding: 0px 4px 4px 0px; 
	display: inline;
}
.visualizzaDocWORDColumn label{
	visibility: hidden;
}	

.salvaRiga{
	padding: 0px 4px 3px 0px; 
	display: inline;
}
.salvaRiga label{
	visibility: hidden;
}
.verticalizzazioniColumn{
	padding: 0px 4px 3px 0px; 
	display: inline;
}
.verticalizzazioniColumn label{
	visibility: hidden;
}
.verticalizzazioniparametriColumn{
	padding: 0px 4px 3px 0px; 
	display: inline;
}
.verticalizzazioniparametriColumn label{
	visibility: hidden;
}
.upColumn {
	padding: 0px 0px 0px 0px; 
	display: inline;
}
.upColumn label{
	visibility: hidden;
}
.downColumn {
	padding: 0px 0px 0px 0px; 
	display: inline;
}
.downColumn label{
	visibility: hidden;
}

.infoColumn {
	padding: 0px 0px 0px 0px; 
	display: inline;
}
.infoColumn label{
	visibility: hidden;
}

.stampaColumn {
	padding: 0px 0px 0px 0px; 
	display: inline;
}

.stampaColumn label{
	visibility: hidden;
}

.notificheASLColumn {	
	padding: 0px 0px 3px 0px; 
	display: inline;
}

.notificheASLColumn label{
	visibility: hidden;
}

.copiaRecord {
	padding: 2px 2px 2px 2px; 
	display: inline;
}

.copiaRecord label{
	visibility: hidden;
}

.dettagliOneri label{
	padding: 2px 2px 2px 2px;
	visibility: hidden;
}

.raggruppamentoOneri label{
	padding: 2px 2px 2px 2px;
	visibility: hidden;
}

.rielabora{
	padding:2px 0px 2px 0px; 
	background-position:center center;
	background-repeat:no-repeat;	
}

.rielabora label{
	visibility: hidden;
}


.undo {
	padding: 2px 2px 2px 2px; 
	display: inline;
}

.undo label{
	visibility: hidden;
}

.aggiornaColumn {
	padding: 2px 2px 2px 2px; 
	display: inline;
}

.aggiornaColumn label{
	visibility: hidden;
}

.blockColumn{
	padding:2px 0px 2px 0px; 
	background-position:center center;
	background-repeat:no-repeat;	
}

.blockColumn label{
	visibility: hidden;
}

.listaRecordColumn
{
	padding:2px 0px 2px 0px; 
	background-position:center center;
	background-repeat:no-repeat;	
}

.listaRecordColumn label{
	visibility: hidden;
}


