@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700");
@import "constants.less";
@import "../../../style-base/portale-comunale.less";

.header-menu {
  .navbar-default {
    background-color: @color-main !important;
    border: 0;
    border-radius: 0;

    li > a {
      color: @color-main-text !important;
    }
  }
}
