<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">gest_cal</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@dbora10g:1521:ora10g</property>
        <property name="hibernate.connection.username">GESTIONE_CALENDARI</property>
        <property name="hibernate.default_schema">GESTIONE_CALENDARI</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    </session-factory>
</hibernate-configuration>
