h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 0.9em;
}


ul {
    margin-bottom: var(--bs-card-title-spacer-y);

    > li {
        font-size: 0.8em;
        list-style-type: "-";
        margin-left: var(--bs-card-title-spacer-y);
    }
}
