<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="vbg_library" value="https://pkgs.dev.azure.com/pa-evolution/FP/_packaging/VBG-LIBRARY/nuget/v3/index.json" />
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>
	<disabledPackageSources>
		<add key="Package source" value="true" />
	</disabledPackageSources>
	<packageSourceMapping>
		<packageSource key="vbg_library">
			<package pattern="VBG.*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<vbg_library>
			<add key="Username" value="$username" />
			<add key="ClearTextPassword" value="$password" />
		</vbg_library>
	</packageSourceCredentials>
</configuration>