.treeView
{
	margin-top: 10px;
}

.filetree span.folder,
.filetree span.file
{
    display:block;
    clear:both;

}

#rootNode.filetree 
{
	padding-left: 0px;
}

.filetree span.folder > a,
.filetree span.folder > img,
.filetree span.folder > span,
.filetree span.file > a,
.filetree span.file > img,
.filetree span.file > span
{
    float:left;
    padding-bottom: 1px;
}
.filetree span.folder .descrizioneAteco,
.filetree span.file .descrizioneAteco
{
    padding-top: 2px;
    border: 1px solid transparent;
}

.filetree span.selected, .filetree span.selected 
{ 
	/*padding-top: 1px;*/
	padding-bottom: 1px;
	/*padding: 5px 4px 5px 20px; */
	font-weight:bold; 
	border: 1px solid rgb(183, 18, 24);
	display: block; 
}

.filetree span{ cursor: pointer;}

.filetree span img,
.filetree li img
{
    vertical-align:top
}

.treeview li { 
	margin: 0;
}


.file > A > IMG,
.folder > A > IMG,
.filetree span.file A IMG,
.filetree span.folder A IMG
{
    border:0px;
}



.folder > span > .blankInfo,
.file > span > .blankInfo
{
    width: 16px;
    height: 16px;
}

.filetree, .filetree ul{ list-style-type:none; padding-left: 16px;/*padding-top: 5px;*/}


.AlberoEndo
{
    margin: 2px;
    margin-left: 5px;
}
.AlberoEndo .folder
{
    background: url(../images/folder-closed.gif) 0 0 no-repeat;
    padding: 1px 0 1px 16px; 
}

.ui-autocomplete 
{
    overflow-y: auto;
    max-height: 400px;
    max-width: 560px;
}

#ricercaNodoAlbero fieldset
{
    width: 560px
}
#ricercaNodoAteco legend
{
    font-weight:bold;
}

#ricercaNodoAteco input[type=radio]
{
    float:left;
}

#ricercaNodoAteco div
{
    clear:both;
}

.pannelloNote{text-align: justify; clear: both;}
.treeView .noteAlbero
{
	display: block;
	/*margin-left: 32px;*/
	margin-bottom: 10px;
}

