<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" requireReinstallation="true" />
  <package id="log4net" version="3.3.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.33" targetFramework="net40" />
</packages>
