*, html
{
	font-family: Helvetica;
	font-size: 1.0em !important;
}
	
#pannelloPlugin
{
	/*width: 800px;*/
	width: 100%;
	height: 750px;
	min-height: 100%;
	border: 1px solid #666;
			
}
		
#contenitorePlugin
{
	/*width: 801px;*/
	width: 70%;
	float:left;
}
		
#controlli
{
	width: 29%;
	margin-left: 10px;
	float:left;
}
		
fieldset
{
	border: 1px solid #666;
	margin-bottom: 10px;
	padding: 10px;
}
		
fieldset > div > label
{
	display:block;
}
		
fieldset > div > input
{
	width: 66%;
	font-size: 1.0em;
}

fieldset > div > span
{
	font-weight: bold;
}

fieldset > div > input[type=checkbox]
{
	width:auto;
	font-size: 1.0em;
	margin: 0px;
	padding: 0px;
}
		
fieldset > div > input.small
{
	width: 33%;
}
fieldset > div > option.small
{
	min-width: 33%;
}
		
fieldset > div > input.large
{
	width: 100%;
}
		
fieldset > div
{
	clear:both;
	margin-bottom: 10px;
}
		
.bottoni
{
	width: 100%;
}
.bottoni > a
{
	background: #E3E3E3;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px 1px #F6F6F6;
	color: #333333;
	/*font: 700 12px/1 "helvetica neue", "helvetica", "arial", sans-serif;*/
	padding: 5px 10px 5px 10px; 
	text-align: center;
	text-shadow: 0px 1px 0px #FFFFFF;
	width: 150px;	
}
		
.bottoni > a:hover
{
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
	cursor: pointer; }
}


#Panel_header
{	
	padding: 0;
	margin: 0;
	position: absolute;	
	top: 60px;
	left: 10px;
	right: 10px;
	height: 140px;
}

#Panel_sx
{	
	width: 220px;
	padding: 0;
	margin: 0;
	position: absolute;	
	top: 210px;
	left: 10px;
	bottom: 10px;
	overflow: auto;
}

#Panel_centrale
{
    border-style:solid; 
	border-width:2px;
	padding: 0;
	margin: 0;
	position: absolute;	
	top: 210px;
	left: 235px;
	right:235px;
	bottom: 10px;
}


#Panel_dx
{
    width: 220px;
	padding: 0;
	margin: 0;
	position: absolute;	
	top: 210px;
	right: 10px;
	bottom: 10px;
}

#dettagliAttivita > fieldset
{
	border: 0px solid;
}


