/*.home-decorazione {
    height: 300px;
    overflow: hidden;
    padding: 0px;

    &>img {
      position: fixed;
      z-index: -1;
      width: 100%;
      top: 0;
    }
}*/
.home-decorazione {
  position: relative;
  height: 300px;
  overflow: hidden;
  padding: 0px;
}
.home-decorazione > img {
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: 0;
}
