/* Generato da Strumenti di sviluppo F12. Questa potrebbe non essere una rappresentazione corretta del file originale */
.alberoEndo {
	padding-left: 10px;
	color: rgb(0, 0, 0);
}
.alberoEndo ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.alberoEndo li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.alberoEndo .famigliaEndo {
	color: #666666;
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 10px;
	padding-left: 20px;
}

.alberoEndo .tipoEndo {
	margin: 0px 0px 0px 23px;
	color: rgb(218, 128, 17);
	font-size: 12px;
	list-style-image: url("../images/freccia-arancio.png");
}

.alberoEndo .endo {
	margin: 0px;
	padding: 0px;
	text-transform: none;
	list-style-image: none;
}

.alberoEndo .endo>dl {
	margin: 0px;
	padding: 0px;
}

.alberoEndo .endo>dl>dt {
	margin: 0px;
	padding: 0px 0px 3px;
}

.alberoEndo .endo>dl>dd {
	margin: 0px;
	padding: 0px 0px 3px;
}

.alberoEndo .endo>dl>dt {
	color: rgb(153, 153, 153);
	font-size: 11px;
}

.alberoEndo .endo>dl>dd {
	color: rgb(102, 102, 102);
	font-size: 12px;
}

.alberoEndo .endo>dl>dd>a {
	color: rgb(102, 102, 102);
	font-size: 12px;
}

.alberoEndo .endo>dl>dd>a:hover {
	color: rgb(102, 102, 102);
	font-size: 12px;
}

.alberoEndo .endo>dl>dd>a:visited {
	color: rgb(102, 102, 102);
	font-size: 12px;
}

.alberoEndo .endo>dl>dd>input[type=checkbox] {
	margin-right: 5px;
}

.dettagliIntervento table {
	width: 100%;
}

.dettagliIntervento table .rigaAlternata {
	background-color: rgb(224, 224, 224) !important;
}

.dettagliIntervento table tr th {
	background:
		url("../jqueryui/images/ui-bg_highlight-soft_75_cccccc_1x100.png")
		repeat-x 50% 50% rgb(204, 204, 204);
}

.dettagliIntervento table tr img {
	border: 0px currentColor;
}