<bindings>
  <!--wsHttpBinding>
    <binding name="kibernetesWshttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
      <security mode="Message">
        <message clientCredentialType="UserName" />
      </security>
    </binding>
  </wsHttpBinding-->

  <basicHttpBinding>

    <binding name="oneriHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
	receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
	bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
	maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
	messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
	useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="IProtocollazioneService" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
          maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
            realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="rateizzazioniHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
					receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="anagrafeHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
			receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
			messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
			useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="mercatiHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
						receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
						bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>


    <binding name="sigeproSecurityHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
			receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
			messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
			useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="insielMercatoHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
  maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="AttivitaService" closeTimeout="00:10:00" openTimeout="00:10:00"
				receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
				bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="defaultHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
			receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
			messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
			useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="prismaHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
  maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
   textEncoding="utf-8" messageEncoding="Mtom" transferMode="Buffered"
  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="archiFlowHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
  maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="kibernetesHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
  maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="foliumHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
  maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="deltaHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
			receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
			messageEncoding="Text" textEncoding="UTF-8" transferMode="Buffered"
			useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="tinnHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
			receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
			messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
			useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>


    <binding name="HalleyProtoSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
             bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
             messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
        <message clientCredentialType="UserName" algorithmSuite="Default"/>
      </security>
    </binding>

    <binding name="DocErHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
			receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
			messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
			useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="insielUploadHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65053600" maxBufferPoolSize="524288" maxReceivedMessageSize="65053600"
                    messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
								realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="AIDAProtSoapBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
        <message clientCredentialType="UserName" algorithmSuite="Default"/>
      </security>
    </binding>

    <binding name="parixHttpBinding">
      <security mode="Transport">
        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
        <message clientCredentialType="Certificate" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="paleoHttpBinding" closeTimeout="00:10:00"
		  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
		  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
		  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
		  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
		  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="TransportWithMessageCredential">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="jProtocolloHttpBinding" closeTimeout="00:10:00"
				  openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
    </binding>

    <!-- I valori accettati da messageEncoding sono "Mtom" o "Text" -->
    <binding name="OggettiMtomBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
			receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			maxBufferSize="100000000" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000"
			messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
			useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="NlaPecBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
      receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
      bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
      maxBufferSize="200000000" maxBufferPoolSize="524288" maxReceivedMessageSize="200000000"
      messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
      useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="StcBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
  maxBufferSize="200000000" maxBufferPoolSize="524288" maxReceivedMessageSize="200000000"
  messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="ApSystemsHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
  maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="MailServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
                  receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
                  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="65053600" maxBufferPoolSize="524288" maxReceivedMessageSize="65053600"
                  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

    <binding name="MailTipoServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
              receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
              bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="65053600" maxBufferPoolSize="524288" maxReceivedMessageSize="65053600"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>

  </basicHttpBinding>
</bindings>