	#set($colspanLeft = $colspanLeft + 2)
	#if($righeTab)
		#set($idxm = $indiceBlocco)
		#set($idxBlocco = ${riga.getNumRiga()})
		#if($isTemplate)
			#set($idxm = "${indicePh}")
		#end
	#else
		#set($idxm = "")
		#set($idxBlocco = "")
	#end
	#set($handleAttrs = "")
	#if(!$regolaAttRiga)
		#set($handleAttrs = "dynid='${regolaHandle}' dynidx='0' dynidxm='${idxm}' dynblock='${idxBlocco}'")
	#end
	<td id="TD_${colonna.getNumColonna()}" colspan="$colspanLeft">
	#if($renderElement)
		<span style="font-style: italic;" class="testoesteso" ${handleAttrs}>
		$testoEsteso
		</span>
	#end
	</td>