<app-inner-page-layout [isLoading]="!caricamentoCompletato">
    <h2>
        Normativa
    </h2>

    <div>


        <div class="ricerca-testuale">
            <input type="text" class="form-control" (keyup)="onKeyUp($event.target.value, $event)" placeholder="Cerca tra le normative...">

            <div class="btn-group controlli-ricerca" role="group" aria-label="...">
                <div role="group" class="btn btn-default" (click)="mostraInPrimoPiano()" [ngClass]="{active: dataSource === normativaTop}">
                    <i class="glyphicon glyphicon-ok" *ngIf="dataSource === normativaTop"></i> In primo piano</div>
                <div role="group" class="btn btn-default" (click)="mostraListaCompleta()" [ngClass]="{active: dataSource === listaCompleta}">
                    <i class="glyphicon glyphicon-ok" *ngIf="dataSource === listaCompleta"></i> Lista completa</div>
            </div>
        </div>
        <div class="lista-normativa">
            <div class="row" *ngFor="let item of dataSource">
                <div class="col-md-5">
                    <h4>{{item.titolo}}</h4>
                </div>
                <div class="col-md-6">
                    <span [innerHTML]="item.descrizione"></span>
                </div>
                <div class="col-md-1">
                    <a href="{{urlDownload(item.codiceOggetto)}}" target="_blank" *ngIf="item.codiceOggetto">
                <i class="glyphicon glyphicon-download-alt"></i> Scarica  
            </a>

                    <a href="{{item.url}}" target="_blank" *ngIf="item.url">
            <i class="glyphicon glyphicon-new-window"></i> Vai
            </a>

                </div>

            </div>
        </div>
    </div>
</app-inner-page-layout>