@CHARSET "UTF-8";

.check-radio-wrap{
	width: 17px;
	height: 17px;
	display: inline-block;
}

.mandatory{
	background-color: #FFFBD6 !important;
}

.check-radio-wrap.mandatory{
	border-color: #FFFB33 !important;
	border-style: solid !important;
	border-width: thin !important;
}

INPUT[type=checkbox].mandatory, INPUT[type=radio].mandatory{
	position: relative;
	top: 2px;
	left: 2px;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px !important; 
}

.mandatory-star{
	width: 15px;
	color: red;
	font-weight: bold;
	/*display: none;*/
}

.mandatory-file-star{
	position: relative;
}

SPAN.tab_error_image{
 	font-size: 9px;
 	font-weight: normal;
 	/*vertical-align: middle;*/
 	color: red;
 	padding-left: 18px;
 	padding-bottom: 2px;
 	padding-top: 4px;
 	padding-right: 0px;
	position: relative;
}

SPAN.tab_warning_image{
 	font-size: 9px;
 	font-weight: normal;
 	/*vertical-align: middle;*/
 	color: orange;
 	padding-left: 18px;
 	padding-bottom: 2px;
 	padding-top: 4px;
 	padding-right: 0px;
	position: relative;
}

.field-error {
	border-color: #FF0000 !important;
	border-style: solid;
	border-width: 1px;
}

.error_image {
	background-image: url('../images/error.gif');
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 2px;
}

.error_image LABEL {
	visibility: hidden;
}

.tab_error_image {
	background-image: url('../images/error.gif');
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 50%;
}

.tab_error_image LABEL {
	vertical-align: text-top;
}

.warning_image {
	background-image: url('../images/warning.gif');
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 2px;
}

.warning_image LABEL {
	visibility: hidden;
}

.tab_warning_image {
	background-image: url('../images/warning.gif');
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 50%;
}

.tab_warning_image LABEL {
	vertical-align: text-top;
}

TR.rigaModello {
	background-image: none;
}

TR.rigaModello:HOVER, TR.rigaModello:FOCUS, TR.rigaModello:ACTIVE{
	background-image: none;
}

.ui-autocomplete-input {
	background-image: url('../images/search.gif') !important;
	background-repeat: no-repeat !important;
	background-position: left !important;
	padding-left: 20px !important;	
}

