<div class="container-fluid sezione-home home-in-primo-piano">
    <div class="container">
        <h2>In primo piano</h2>

        <div class="row">
            <div class="col-md-6" *ngIf="mostraInterventiTop">
                <div class="attivita-in-primo-piano">
                    <h3>{{titoloAttivita}}</h3>

                    <ul>
                        <li *ngFor="let i of interventiTop$ | async">
                            <a [routerLink]="[urlDettagliIntervento,i.id]">{{i.descrizione}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" *ngIf="mostraProcedimentiTop">
                <div class="attivita-in-primo-piano">
                    <h3>Procedimenti</h3>

                    <ul>
                        <li *ngFor="let p of procedimentiTop$ | async">
                            <a [routerLink]="[urlDettagliProcedimento,p.id]">{{p.descrizione}}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <app-ricerca-interventi [mostraInterventiRegionali]="mostraInterventiRegionali" [mostraTitoliSezioni]="mostraInterventiRegionali"></app-ricerca-interventi>
    </div>

</div>
