@menu-color: #1ab394; // #ffc300;
@navbar-font-color: #ffe;// #555;
@navbar-highlight-color: #1AD194;
@navbar-megamenu-light: #e0e0e0;
@navbar-megamenu-dark: #c0c0c0;
@left-link-color: @menu-color;//#333;
@right-menu-title: @menu-color;
@star-color: @menu-color;//#ee8f3c; //#FF5300;
@sub-title-color: #1ab394;
@navbar-megamenu-right-panel: white;
@navbar-megamenu-left-panel-section: @navbar-megamenu-dark;
@navbar-megamenu-scelta-software: @navbar-megamenu-light;
@navbar-megamenu-linguetta: url('../images/linguetta-bianca.svg');
@help-background-color: #1ab394;
@help-color: #14876E;
@main-background-color: #EEEEEE;