.dropdown-submenu {
    position: relative;
	  transform: translate(0, -50%);
	  min-width: 100% !important;
	  width: initial;
    .dropdown-menu {
        top: 0;
        right: 100%;
        margin-top: -6px;
        margin-right: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    &:hover {
        &>.dropdown-menu {
            display:block;
        }

        &>a:after {
            border-left-color: #fff;
        }
    }

    &>a:before {
        display: block;
        content: " ";
        float: left;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 5px 5px 0;
        border-right-color: #ccc;
        margin-top: 5px;
        margin-left: -15px;        
    }

    .pull-left {
        float: none;

        >.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

    }
}