div.banner {
	width: 100%;
	// text-align: right;
	  #logo-main {
	    display: block;
	    margin: 20px auto;
	  }

  // background-color: #f3f3f4;
  margin: 0px;
  padding-left: 20px;

  h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 10px;
    color: @menu-color;

    small {
        font-size: 12px;
        display:block;
        color: @sub-title-color;
    }
  }  
  
  h4 {
  	
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 10px;
    color: @menu-color;

    small {
        font-size: 12px;
        display:block;
        color: @sub-title-color;
    }
  }  
  .informazioni {
     //  text-align: right;
      padding-left: 20px;
      padding-top: 50px;

      small {
          color: @menu-color;
      }
  }
}