div.help_div {
	
	font-size: 14px; 
	color: @help-background-color; 
	text-align:right; 
	border: 1px solid #d6e9c6; 
	border-radius: 37px;
	/* background-color: #dff0d8;*/
	padding: 6px;
	margin-top:2px;
	float: right;
	
	a:link {
		text-decoration: none; 
		color:@help-color;
	}
}