div.banner {
  width: 100%;
  margin: 0px;
  padding-left: 20px;
}
div.banner #logo-main {
  display: block;
  margin: 20px auto;
}
div.banner h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: 10px;
  color: #1ab394;
}
div.banner h1 small {
  font-size: 12px;
  display: block;
  color: #1ab394;
}
div.banner h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: 10px;
  color: #1ab394;
}
div.banner h4 small {
  font-size: 12px;
  display: block;
  color: #1ab394;
}
div.banner .informazioni {
  padding-left: 20px;
  padding-top: 50px;
}
div.banner .informazioni small {
  color: #1ab394;
}
.navbar {
  background-color: #1ab394;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 -2px 2px rgba(0, 0, 0, 0.08);
}
.navbar > .nav > li .dropdown-menu {
  margin-top: 1px;
}
.navbar .dropdown-menu {
  border: 0 !important;
}
.navbar a.dropdown-toggle {
  color: #ffe;
}
.navbar a:hover {
  background-color: #c0c0c0 !important;
  color: #0F6F8B;
}
.navbar .nav .open > a {
  background-color: #c0c0c0 !important;
  color: #0F6F8B;
}
.navbar .mega-menu {
  left: 0px;
}
.navbar .menu-navigazione-sx {
  background-color: #c0c0c0;
  padding-bottom: 1px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.24), inset 0 -2px 2px rgba(0, 0, 0, 0.08);
}
.navbar .menu-navigazione-sx ul {
  margin: 0;
  padding: 0;
  padding-top: 12px;
}
.navbar .menu-navigazione-sx ul li {
  list-style-type: none;
  padding: 12px;
  padding-left: 30px;
}
.navbar .menu-navigazione-sx a {
  color: #1ab394 !important;
}
.navbar .menu-navigazione-sx .scelta-software {
  font-size: 16px;
  max-height: 500px;
  overflow-y: auto;
  transition: all 0.5s ease;
  background-color: #e0e0e0;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.24), inset 0 -2px 2px rgba(0, 0, 0, 0.08);
}
.navbar .menu-navigazione-sx .scelta-software a {
  color: #1ab394 !important;
}
.navbar .menu-navigazione-sx .scelta-software a:link {
  color: #1ab394 !important;
}
.navbar .menu-navigazione-sx .scelta-software a:hover {
  background-color: transparent !important;
}
.navbar .menu-navigazione-sx .collapse {
  display: block !important;
  max-height: 0 !important;
  overflow-y: hidden !important;
  padding: 0px;
}
.navbar .menu-navigazione-sx .menu-selected {
  background-image: url('../images/linguetta-bianca.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 44px 44px;
}
.navbar .menu-navigazione-dx {
  background-color: white;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.24), inset 0 -2px 2px rgba(0, 0, 0, 0.08);
  padding-left: 0;
}
.navbar .menu-navigazione-dx h1 {
  margin-top: 0;
}
.navbar .menu-navigazione-dx .inner {
  box-shadow: none;
  background-color: white;
  height: 98%;
  margin-top: 4px;
}
.navbar .menu-navigazione-dx .inner > div {
  padding-left: 24px;
  padding-top: 24px;
  height: auto;
}
.navbar .menu-navigazione-dx h1 {
  color: #1ab394;
}
.navbar .menu-navigazione-dx h2 {
  color: #1ab394;
}
.navbar .menu-navigazione-dx .menu-sezione {
  flex: 1;
  min-width: 330px;
  padding: 10px;
  max-width: 330px;
}
.navbar .menu-navigazione-dx .menu-sezione h2 {
  width: 100%;
  font-weight: normal;
  font-size: 24px;
}
.navbar .menu-navigazione-dx .menu-sezione ul {
  padding-left: 0px;
  margin-left: 0px;
}
.navbar .menu-navigazione-dx .menu-sezione li {
  list-style-type: none;
}
.navbar .menu-navigazione-dx .menu-sezione a:hover {
  background-color: transparent !important;
}
.navbar .glyphicon-star {
  color: #1ab394;
}
.navbar .glyphicon-star-empty {
  color: #1ab394;
  cursor: pointer;
}
.navbar .gruppo-menu {
  padding: 12px;
  padding-left: 30px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .gruppo-menu .glyphicon {
  float: right;
}
.navbar .gruppo-menu a:hover {
  background-color: transparent !important;
}
.navbar .tutti-software {
  background-color: #fff;
}
.navbar .ricerca-testuale {
  height: 60px;
  padding-top: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .voce-menu .aggiungi-preferiti {
  cursor: pointer;
  margin-right: 5px;
}
.navbar .voce-menu .rimuovi-preferiti {
  cursor: pointer;
  margin-right: 5px;
}
.navbar .yamm-ignore {
  position: relative;
}
.navbar .navbar-right {
  margin-right: 0px;
}
.navbar .no-preferiti {
  color: #337ab7;
}
.funzioni-tabella td {
  padding: 2px;
}
.widgets > div {
  padding-bottom: 48px;
}
.widgets .form-group {
  max-width: 300px;
}
.widgets legend {
  color: #5a6772 !important;
}
.widgets fieldset {
  padding-bottom: 24px;
}
.user-menu {
  width: 300px !important;
}
.user-menu .user-menu-image img {
  display: block;
  padding: 4px;
  border: 1px solid #ccc;
  margin: 0px auto;
}
.user-menu .user-menu-name {
  width: 100%;
  text-align: center;
  font-size: 21px;
  padding-top: 24px;
  color: #1ab394;
}
.user-menu .user-menu-title {
  width: 100%;
  text-align: center;
}
.user-menu .user-menu-items {
  padding-top: 24px;
}
.user-menu .menu-dati-utente {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.24), inset 0 -2px 2px rgba(0, 0, 0, 0.08);
  padding: 24px !important;
}
.right-panel {
  max-height: 600px;
  overflow-y: scroll;
}
.dropdown-submenu {
  position: relative;
  transform: translate(0, -50%);
  min-width: 100% !important;
  width: initial;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
  margin-right: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu > a:before {
  display: block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-right-color: #ccc;
  margin-top: 5px;
  margin-left: -15px;
}
.dropdown-submenu .pull-left {
  float: none;
}
.dropdown-submenu .pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
div.help_div {
  font-size: 14px;
  color: #1ab394;
  text-align: right;
  border: 1px solid #d6e9c6;
  border-radius: 37px;
  /* background-color: #dff0d8;*/
  padding: 6px;
  margin-top: 2px;
  float: right;
}
div.help_div a:link {
  text-decoration: none;
  color: #14876E;
}
body {
  color: #0F6F8B;
  background-color: #EEEEEE;
}
.row {
  margin-right: 0 !important;
}
.container {
  margin-top: 48px;
}
.dropdown-menu {
  width: 100%;
  padding: 0;
  margin: 0;
}
.ricerca-menu {
  padding-left: 30px;
  padding-right: 30px;
}
.yamm-content {
  background-color: #acacac;
  /*background-image: linear-gradient(to bottom,#acacac 0,#3c3c3c 100%);*/
  padding: 0px !important;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
}
.menu-row {
  display: flex;
}
select.form-control {
  width: auto;
}
div.indicator {
  background-color: transparent !important;
  border: 1px solid #ccc !important;
  border-right: 0px !important;
  border-radius: 4px !important;
  background-position: top right !important;
  height: 34px !important;
  width: 16px !important;
}
#functions li,
#functions a:link,
#functions a:visited {
  padding: 3px 6px !important;
}
/*

.listaSchede {
	padding-bottom: 34px !important;
	
	a:link {
		border-radius: 4px 4px 0 0;
		line-height: inherit !important;
	    padding-left: 12px !important;
	    padding-right: 12px !important;
	    padding-top: 6px !important;
	    padding-bottom: 4px !important;
	    margin-right: 1px !important;
	}
	
	.help_image {
		margin-left: 5px;
	}
	
	.SchedaOneri {
		background-color: #dff0d8 !important;
		
		&:hover {
			background-color: #c1e2b3 !important;
		}
	}
	.SchedaModelliT {
		background-color: #dff0d8 !important;
		&:hover {
			background-color: #c1e2b3 !important;
		}
	}
	.SchedaEndo {
		background-color: #dff0d8 !important;
		&:hover {
			background-color: #c1e2b3 !important;
		}		
	}
	
	
}
*/
.listaSchede {
  padding-bottom: 34px !important;
}
.listaSchede a:link {
  border-radius: 4px 4px 0 0;
  line-height: inherit !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-top: 6px !important;
  padding-bottom: 4px !important;
  margin-right: 1px !important;
}
.listaSchede .help_image {
  margin-left: 5px;
}
.listaSchede .SchedaDati {
  background-color: #dff0d8 !important;
}
.listaSchede .SchedaDati:hover {
  background-color: #c1e2b3 !important;
}
#innernav {
  font-size: inherit !important;
  color: #999 !important;
}
#innernav .selected {
  font-weight: bolder;
  font-size: inherit !important;
  color: #1ab394 !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle !important;
}
hr {
  display: block !important;
}
.help_image {
  vertical-align: top;
  margin-left: 4px;
  color: #555;
}
.parametro > div {
  color: #1ab394 !important;
  font-weight: bolder !important;
}
.parametri {
  font-weight: normal !important;
}
.parametri label {
  color: #ee8f3c !important;
  font-weight: normal !important;
  font-size: inherit;
}
.etichetta > div {
  font-weight: normal !important;
}
/*
.notifichePopupInfoInner {
	background-image:none;
}
*/
.input-group {
  /*width: 500px;*/
  display: inline-flex;
}
.input-group-addon {
  width: auto !important;
  height: 34px;
}
INPUT.form-control {
  /*max-width: inherit !important;*/
}
.ricerca-menu INPUT.form-control {
  width: 300px;
}
TD {
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
}
/*# sourceMappingURL=style.css.map */