@import "constants.less";

.user-menu {

    width: 300px !important;

    .user-menu-image {
        img {
            display: block;
            padding: 4px;
            border: 1px solid #ccc;
            margin: 0px auto;
        }
    }

    .user-menu-name {
        width: 100%;
        text-align: center;
        font-size: 21px;
        padding-top: 24px;
        color: @menu-color;
    }

    .user-menu-title {
        width: 100%;
        text-align: center;
    }

    .user-menu-items {
        padding-top: 24px;        
    }

    .menu-dati-utente {
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.24), inset 0 -2px 2px rgba(0, 0, 0, 0.08);
        padding: 24px !important;
    }
}