.widgets {
    > div {
        padding-bottom: 48px;
    }

    .form-group {
        max-width: 300px;
    }
    legend {
        color: #5a6772 !important;
    }

    fieldset {
        padding-bottom: 24px;
    }
}