* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#selezione-particella {
    padding: 12px;
    background-color: #fff;
    z-index: 9999;
}

#selezione-particella #codice-particella {
    margin-right: 12px;
    padding: 6px;
    width: 100%;
}

#selezione-particella #cmd-localizza-particella {
    width: 100%;
}

.esempio-particella {
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
    color: rgb(0, 102, 204);
    display: inline-block;
    padding-right: 24px;
}

#risultati {
    padding-left: 6px;
    overflow: auto;
    box-sizing: border-box;
    font-size: 18px;
    flex-grow: 1;
    /*box-shadow: inset 2px 0px 15px -9px #000;*/
}

#risultati dt {
    float: none;
    text-transform: uppercase;
}

#errore-lettura {
    padding: 12px;
    padding-top:0;
}

#errore-lettura button {
    width: 100%;
    margin-top: 12px;
    display:block;
}

    #errore-lettura #dettagli-errore {
        color: #666;
        margin-top: 12px;
        display: block;
    }

    #selezione-particella {
        padding: 12px;
        /*margin: 0 auto;*/
    }

    #selezione-particella button{
        width: 100%;
    }

    .layout {
        display: flex;
        align-items: stretch;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.layout > .map {
    width: 70%;
    height: 100%;
}

.layout > .azioni {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 0px 15px -2px #000;
    z-index: 9999;
}

.layout > .azioni .accordion-collapse {
    padding-top: 12px;
}


#spinner {
    text-align: center;
}