<div class="row">
    <div class="col-md-12">
        <pagination
            [boundaryLinks]="true"
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            [rotate]="true"
            [(ngModel)]="currentPage"
            [maxSize]="maxSize"
            previousText="Precedente"
            nextText="Successivo"
            firstText="Primo"
            lastText="Ultimo"
            (pageChanged)="onPageChanged($event)"
        >
        </pagination>
    </div>
</div>
