<div class="container-fluid sezione-home home-servizi-online">
    <div class="container">
        <h2>Cosa vuoi fare?</h2>

        <div class="row">
            <div class="col-md-4" *ngFor="let card of cards">
                <a [routerLink]="[card.link]">
                    <div class="box-funzione">
                        <h3>{{card.titolo}}</h3>
                        <p>{{card.sottotitolo}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
