#if($modelloHelper.isRenderForPrint())

	#if ( "$!decodedVal" == "" )
		<b>_____________________________________</b>
	#else
		<b>$decodedVal</b>
	#end
	
#else
	#set($text = $campo.getProprietaCampo("Testo",""))
	<input type="button" name="$nameAttr" id="${nameAttr}_ID" value="$text" class="$classeCampo"/>
#end