#set($regolaAtt = false)
#if(!$modelloHelper.isContestoIndefinito())
	#if($colonnaTab)
		##$modelloHelper.debug($colonnaTab)
		#set($regolaAtt = ${colonnaTab.getRegolaAttivazione()})
	#else
		#set($regolaAtt = ${colonna.getRegolaAttivazione()})
	#end
#end
#set($regolaHandle = "")
#set($renderElement = true)
$modelloHelper.debug($regolaAtt)
#if($regolaAtt)
	#set($regolaHandle = "REG_${regolaAtt.Id.Codice}")
	#if($modelloHelper.isRenderForPrint())
		#if($rowIndex.contaLivelli() > 0)
			#set($renderElement = $regoleHelper.evaluateRule(${regolaAtt},${blocco},${indiceBlocco}).booleanValue())
		#else
			#set($renderElement = $regoleHelper.evaluateRule(${regolaAtt}).booleanValue())
		#end
	#end
#end

#if($FUNZIONE_ANTEPRIMA eq true)
	#set($renderElement = true)
#end

#set($colspanLeft = 0)
#if($lastColonna)
	#set($colspanLeft = $deltaColonne * 2)
#end
#if($campo)
	#parse("/modellidinamici_v1_5/campo.vm")
#elseif($testo)
	#parse("/modellidinamici_v1_5/testo.vm")
#elseif($testoEsteso)
	#parse("/modellidinamici_v1_5/testoesteso.vm")
#end

#if(!$modelloHelper.isRenderForPrint())
	#parse("/modellidinamici_v1_5/script_attivazione.vm")
#end 

