
	<div class="titolomodulo">$helper.Modulo.Titolo</div>
	#set($rowIndex = $helper.nuovoIndiceIdSemantico())
	#set($templateNestingLevel = -1)
		
	
	#foreach($quadro in $helper.QuadriAggiuntivi)
		#parse("/modellidinamici_v1_5/modello.vm")
	#end
	
	
	#set($rowIndex = $helper.nuovoIndiceIdSemantico())
    #foreach($quadron in $helper.Modulo.Quadro)
		#set($renderQuadro = true)
		#if($quadron.Attivo)
			#set($renderQuadro = ${helper.evaluateExpression($quadron.Attivo,$rowIndex)})
		#end
    	#if($renderQuadro)
			#set($isDinamico = $helper.isQuadroDinamico($quadron))
			#if($isDinamico)
				#set($quadro = $quadron.QuadroHelper)
				#parse("/modellidinamici_v1_5/modello.vm")
			#else
				#set($quadro = $quadron)
				#parse("/cart/quadro_pdf.vm")
			#end
    	#end
	#end
	<br />
				
    	#if( $isModulisticaNazionaleEnabled == true )
    	
    		#if($MODULISTICANAZIONALE_VALORE == "SCIA" )
    			<br />[X] SCIA:
    			<br />Il/la sottoscritto/a presenta le segnalazioni e/o comunicazioni indicate nel quadro riepilogativo allegato.
			#end
    		#if( $MODULISTICANAZIONALE_VALORE == "SCIA_UNICA" )
				<br />[X] SCIA UNICA (SCIA + altre segnalazioni, comunicazioni e notifiche):
    			<br />Il/la sottoscritto/a presenta le segnalazioni e/o comunicazioni indicate nel quadro riepilogativo allegato.
			#end
			#if( $MODULISTICANAZIONALE_VALORE == "SCIA_CONDIZIONATA" )
				<br />[X] SCIA CONDIZIONATA (SCIA o SCIA unica + richiesta di autorizzazione):
				<br />Il/la sottoscritto/a presenta richiesta di acquisizione, da parte dell'Amministrazione, delle autorizzazioni indicate nel quadro riepilogativo allegato.
				<br />Il/la sottoscritto/a e' consapevole di non poter iniziare l'attivita' fino al rilascio dei relativi atti di assenso, che verra' comunicato dallo Sportello Unico.	
			#end
			#if( $MODULISTICANAZIONALE_VALORE == "AUTORIZZAZIONE" )
				<br />[X] DOMANDA DI AUTORIZZAZIONE: 
				<br />Il/la sottoscritto/a presenta le segnalazioni e/o comunicazioni indicate nel quadro riepilogativo allegato.
			#end	
			#if( $MODULISTICANAZIONALE_VALORE == "AUTORIZZAZIONE_ALTRA_AUTORIZZAZIONE" )
				<br />[X]DOMANDA DI AUTORIZZAZIONE + DOMANDA PER IL RILASCIO DI ALTRE AUTORIZZAZIONI:
				<br />Il/la sottoscritto/a presenta richiesta di acquisizione, da parte dell'Amministrazione, delle autorizzazioni indicate nel quadro riepilogativo allegato.
			#end			
			#if( $MODULISTICANAZIONALE_VALORE == "AUTORIZZAZIONE_SCIA" )
				<br />[X] DOMANDA DI AUTORIZZAZIONE + SCIA: 
				<br />Il/la sottoscritto/a presenta le segnalazioni e/o comunicazioni indicate nel quadro riepilogativo allegato.
			#end
		
		#end
		
		#if( $listaEndoProcedimenti.size() != 0)
		
			<div class="titoloquadro" style="margin-top:40px;">
				Riepilogo procedimenti attivati
		    </div>
		    
			<ul>
			
			#foreach($cvb in $listaEndoProcedimenti)
			
				<li style="margin-bottom: 10px;">									
					<i>$cvb.valore.procedimento</i>
					<br /> si veda l'allegato
					<b>$IDENTIFICATIVO_DOMANDA_GENERATO.${cvb.chiave}.MDA.PDF.P7M</b>
				</li>
				
			#end
			
			</ul>	
			
			
		#end
		