<bindings>
	<basicHttpBinding>

		<binding name="pdfUtilsBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="2048000"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		<binding name="exposedServiceBasicHttpBindingConfig" messageEncoding="Mtom">
			<security mode="None">
				<transport clientCredentialType="None"/>
			</security>
		</binding>

    <binding name="entraNextServiceBinding"
     closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
        <message clientCredentialType="UserName" algorithmSuite="Default"/>
      </security>
    </binding>

    <binding name="defaultServiceBinding" 
				 closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" 
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" 
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" 
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		<binding name="ricercaAnagraficheServiceBinding"
				 closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		

		<binding name="alboPretorioServiceBinding"
				 closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				 messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		<binding name="areaRiservataServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="2048000"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		<binding name="fileConverterServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="2048000"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		<binding name="firmaDigitaleServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="2048000"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		<binding name="stcServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00" 
										 receiveTimeout="00:10:00" sendTimeout="00:10:00" 
										 allowCookies="false" bypassProxyOnLocal="false" 
										 hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" 
										 maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
										 messageEncoding="Mtom" textEncoding="utf-8" 
										 transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="2048000"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		<binding name="istanzeVisuraServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="2048000"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>
		
		<binding name="oggettiServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
				<message clientCredentialType="UserName" algorithmSuite="Default"/>
			</security>
		</binding>

		<binding name="WsHttpMtomBinding" messageEncoding="Mtom" >
			<security mode="None" />
		</binding>
	</basicHttpBinding>
	
	<!-- SERVIZI ESPOSTI -->
</bindings>