<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExportTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- PARAMETRI PER IL LOG DEGLI EVENTI-->
    <add key="FILE_PATH" value="C:\temp\"/>
    <add key="IDCOMUNE_DEFAULT" value="DEFB"/>
    <!-- COMUNE DI PIACENZA -->
    <!--
    <add key="PROVIDERTYPE_CONFIG" value="MySqlClient"/>
    <add key="CONNECTIONSTRING_CONFIG" value="Server=172.16.0.11;Database=ibcexport;User id=ibcexport;Password=export4G535"/>
    <add key="CONNECTIONSTRING" value="Server=172.16.0.11;Database=ibcback;User id=ibcback;Password=ibc4G535"/>
    -->
    <!-- BARI -->
    <add key="PROVIDERTYPE_CONFIG" value="OracleClient"/>
    <add key="CONNECTIONSTRING_CONFIG" value="User Id=SIGEPRO_EXPORT;Password=EXPORT;Data Source=DB;"/>
    <add key="CONNECTIONSTRING" value="User Id=SIGEPRO;Password=si4^a662;Data Source=DB;"/>
    <!-- DEVEL3 -->
    <!--
    <add key="PROVIDERTYPE_CONFIG" value="OracleClient"/>
    <add key="CONNECTIONSTRING_CONFIG" value="User Id=SIGEPROEXPORT;Password=EXPORT;Data Source=DBORA10G;"/>
    <add key="CONNECTIONSTRING" value="User Id=SIGEPRO2;Password=SI24INIT;Data Source=DBORA10G;"/>
    -->
    <add key="DEBUG" value="true"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <applicationSettings>
    <ExportTest.Properties.Settings>
      <setting name="ExportTest_WSSigeproExp_CWSSigeproExp" serializeAs="String">
        <!--        <value>http://devel3/wssigeproexport/service1.asmx</value>        -->
        <value>http://localhost:2049/wssigeproexport/service1.asmx</value>
      </setting>
      <setting name="ExportTest_WSSigeproLogin_Login" serializeAs="String">
        <!-- <value>http://devel3/aspnet/webservices/wssigeprologin/login.asmx</value> -->
        <value>http://sigepro/aspnet/webservices/wssigeprologin/login.asmx</value>
      </setting>
    </ExportTest.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
