	
	Utente connesso: <b>$!delegante.nominativo.toUpperCase() $!delegante.nome.toUpperCase() </b>
	<div style="font-size: 9px; font-style: italic"> 
	autorizza <b>$delegato.nominativo.toUpperCase() $delegato.nome.toUpperCase()</b> ad operare in sua delega </div>	