<app-inner-page-layout>
    <div class="trasparenza">
        <h3>Archivio pratiche</h3>

        <div *ngIf="!caricamentoInCorso && !risultatiVisibili">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Numero pratica</label>
                        <input type="text" class="form-control" [(ngModel)]="model.numeroPratica">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Numero protocollo</label>
                        <input type="text" class="form-control" [(ngModel)]="model.numeroProtocollo">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Dalla data</label>

                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" [(ngModel)]="model.dalMese"
                                    (change)="dataSelezionataChanged($event)">
                                    <option *ngFor="let mese of mesi" value="{{mese.id}}">{{mese.nome}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" [(ngModel)]="model.dalAnno"
                                    (change)="dataSelezionataChanged($event)">
                                    <option *ngFor="let anno of anni" value="{{anno}}">{{anno}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>Alla data</label>

                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" [(ngModel)]="model.alMese"
                                    (change)="dataSelezionataChanged($event)">
                                    <option *ngFor="let mese of mesi" value="{{mese.id}}">{{mese.nome}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" [(ngModel)]="model.alAnno"
                                    (change)="dataSelezionataChanged($event)">
                                    <option *ngFor="let anno of anni" value="{{anno}}">{{anno}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Stato</label>
                        <select class="form-control" [(ngModel)]="model.stato">
                            <option value="">Tutte</option>
                            <option value="Attiva">Attiva</option>
                            <option value="ChiusaPositivamente">Chiusa positivamente</option>
                            <option value="ChiusaNegativamente">Chiusa negativamente</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div>
                <div class="link btn btn-primary" (click)="onCercaClick($event)">Cerca</div>
            </div>
        </div>

        <app-loader *ngIf="caricamentoInCorso"></app-loader>

        <div class="alert alert-danger" role="alert" *ngIf="errore">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Errore:</span> Si è verificato un errore durante la ricerca delle pratiche. Riprova in
            un secondo
            momento oppure contatta l'assistenza.
        </div>

        <div *ngIf="risultatiVisibili">
            <div class="link btn btn-primary" (click)="onNuovaRicercaClick($event)">Nuova ricerca</div>
        </div>

        <table class="table table-striped table-hover lista-risultati"
            *ngIf="!caricamentoInCorso && dataSource && dataSource.length">

            <thead>
                <tr>
                    <th>Istanza</th>
                    <th>Localizzazione</th>
                    <th>Intervento</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of dataSource">
                    <td>
                        Istanza {{item.numero}} del {{item.data}}
                        <div *ngIf="item.numeroProtocollo">Protocollo {{item.numeroProtocollo}} del
                            {{item.dataProtocollo}}</div>

                    </td>
                    <td>
                        <div *ngIf="item.indirizzo">
                            {{item.indirizzo.indirizzo}} ({{item.indirizzo.comune}})
                        </div>
                    </td>
                    <td>
                        {{item.intervento}}
                    </td>
                    <td>
                        <div class="link" (click)="onIstanzaSelezionata(item)">Dettaglio</div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="risultatiVisibili">
            <div class="link btn btn-primary" (click)="onNuovaRicercaClick($event)">Nuova ricerca</div>
        </div>

    </div>

</app-inner-page-layout>