<div class="container-fluid sezione-home home-servizi-online-v2">
    <div class="container">
        <h2>Cosa vuoi fare?</h2>

        <div class="row">
            <div class="col-md-4 box-container">

                <div *ngFor="let card of cards">
                    <a [routerLink]="[card.link]" target="_blank">
                        <div class="box-funzione">
                            <h3>{{card.titolo}}</h3>
                            <p>{{card.sottotitolo}}</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-8">
                <div>
                    <img src="{{immagineDefault}}" srcset="{{srcsetList}}" alt="">
                </div>
            </div>
        </div>

    </div>

</div>