<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<sectionGroup name="sigepro">
			<section name="frontEnd" type="Init.Sigepro.FrontEnd.AppLogic.Configurazione.WebConfig.ConfigurazioneFrontEndWebConfig, Init.Sigepro.FrontEnd.AppLogic" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
    </configSections>

	<sigepro>
		<frontEnd>
			<sigeproSecurity username="USERFO" password="d7d7245e9e34c5df7b18a48175d79b04" loginServiceUrl="http://devel3.init.gruppoinit.it/sigeprosecurity/services" />

			<parametriPerIdComune>
				<add idComune="default" paginaIniziale="~/Reserved/NuovaIstanza.aspx">
					<processFile default="~/ProcessV02.xml">
						<specializzazioni>
							<add software="CE" file="~/ProcessV02_CE.xml" />
						</specializzazioni>
					</processFile>
				</add>

				<add idComune="VBGDEMO" paginaIniziale="~/Reserved/NuovaIstanza.aspx">
					<processFile default="~/ProcessV02_VBGDEMO.xml">
						<specializzazioni>
							<add software="CE" file="~/ProcessV02_CE.xml" />
						</specializzazioni>
					</processFile>
				</add>
			</parametriPerIdComune>

			<parametriStc>
				<add idComune="default" idNodo="NODO_FO" idSportello="SPORTELLO_FO" urlInvio="http://devel9:8080/stc/services">
					<specializzazioni>
						<add software="CE" idNodo="NODO_FO" idSportello="SPORTELLO_CE" />
					</specializzazioni>
				</add>
			</parametriStc>

		</frontEnd>
	</sigepro>
	
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="fileconverterSoap11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="AlboPretorioSoap11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="StcSoap11" />
                <binding name="AnagrafeSoap11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="OggettiSoap11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="AreaRiservataServiceSoap" />
                <binding name="WsAnagrafe2Soap" />
                <binding name="WsSitSoap" />
                <binding name="ValidationServiceSoapBinding" />
                <binding name="AutorizzazioniWebServiceSoap" />
                <binding name="PdfUtilsSoapBinding" />
                <binding name="sigeproSecuritySoap11" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AreaRiservataServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WsAnagrafe2Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WsSitSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="AutorizzazioniWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://sigeprodemo:8080/fileconverter/services"
                binding="basicHttpBinding" bindingConfiguration="fileconverterSoap11"
                contract="WsFileConverterService.fileconverter" name="fileconverterSoap11" />
            <endpoint address="http://10.10.45.133:8080/backend/services/anagrafe"
                binding="basicHttpBinding" bindingConfiguration="AnagrafeSoap11"
                contract="CreazioneAnagrafeService.Anagrafe" name="AnagrafeSoap11" />
            <endpoint address="http://10.10.45.133:8080/backend/services/oggetti"
                binding="basicHttpBinding" bindingConfiguration="OggettiSoap11"
                contract="GestioneOggettiService.Oggetti" name="OggettiSoap11" />
            <endpoint address="http://devel3.init.gruppoinit.it/vbg/services/alboPretorio"
                binding="basicHttpBinding" bindingConfiguration="AlboPretorioSoap11"
                contract="AlboPretorioService.AlboPretorio" name="AlboPretorioSoap11" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/AreaRiservataService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AreaRiservataServiceSoap"
                contract="AreaRiservataService.AreaRiservataServiceSoap" name="AreaRiservataServiceSoap" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/AreaRiservataService.asmx"
                binding="customBinding" bindingConfiguration="AreaRiservataServiceSoap12"
                contract="AreaRiservataService.AreaRiservataServiceSoap" name="AreaRiservataServiceSoap12" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsSIGeProAnagrafe/WsAnagrafe2.asmx"
                binding="basicHttpBinding" bindingConfiguration="WsAnagrafe2Soap"
                contract="RicercheAnagraficheWebService.WsAnagrafe2Soap" name="WsAnagrafe2Soap" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsSIGeProAnagrafe/WsAnagrafe2.asmx"
                binding="customBinding" bindingConfiguration="WsAnagrafe2Soap12"
                contract="RicercheAnagraficheWebService.WsAnagrafe2Soap" name="WsAnagrafe2Soap12" />
            <endpoint address="http://devel3/aspnet/webservices/WsSIGePro/wssit.asmx"
                binding="basicHttpBinding" bindingConfiguration="WsSitSoap"
                contract="SigeproSitWebService.WsSitSoap" name="WsSitSoap" />
            <endpoint address="http://devel3/aspnet/webservices/WsSIGePro/wssit.asmx"
                binding="customBinding" bindingConfiguration="WsSitSoap12"
                contract="SigeproSitWebService.WsSitSoap" name="WsSitSoap12" />
            <endpoint address="http://devdesk18:8080/dss-webapp/wservice/validationService"
                binding="basicHttpBinding" bindingConfiguration="ValidationServiceSoapBinding"
                contract="WsVerificaFirmaDigitale.ValidationService" name="ValidationServiceImplPort" />
            <endpoint address="http://devel3/aspnet/webservices/wsautorizzazioni/autorizzazioniwebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="AutorizzazioniWebServiceSoap"
                contract="SigeproAutorizzazioniService.AutorizzazioniWebServiceSoap"
                name="AutorizzazioniWebServiceSoap" />
            <endpoint address="http://devel3/aspnet/webservices/wsautorizzazioni/autorizzazioniwebservice.asmx"
                binding="customBinding" bindingConfiguration="AutorizzazioniWebServiceSoap12"
                contract="SigeproAutorizzazioniService.AutorizzazioniWebServiceSoap"
                name="AutorizzazioniWebServiceSoap12" />
            <endpoint address="http://devel9:8080/pdfutils/services/pdfutils"
                binding="basicHttpBinding" bindingConfiguration="PdfUtilsSoapBinding"
                contract="ServizioPrecompilazionePDF.PdfUtils" name="PdfUtilsPort" />
            <endpoint address="http://devel9:8080/ibcstc/services/stc" binding="basicHttpBinding"
                bindingConfiguration="StcSoap11" contract="StcService.Stc"
                name="StcSoap11" />
            <endpoint address="http://devel9:8080/ibcsecurity/services" binding="basicHttpBinding"
                bindingConfiguration="sigeproSecuritySoap11" contract="SigeproSecurityService.sigeproSecurity"
                name="sigeproSecuritySoap11" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
