<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildWebCompiler" version="1.11.326" targetFramework="net40" />
  <package id="BuildWebCompiler2022" version="1.14.15" targetFramework="net48" />
  <package id="jquery.form.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.0" targetFramework="net40" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net40" />
  <package id="log4net" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.TypeScript.MSBuild" version="5.8.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="Ninject.Web" version="3.2.1.0" targetFramework="net40" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net40" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.3.0" targetFramework="net40" />
  <package id="RestSharp" version="114.0.0" targetFramework="net48" />
  <package id="SpreadsheetLight" version="3.4.4" targetFramework="net40" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.0.6" targetFramework="net40" />
</packages>
