<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Init.SIGePro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Init.SIGePro.Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Init.SIGePro.Properties.Settings>
            <setting name="SIGePro_Manager_MercatiService_MercatiService" serializeAs="String">
                <value>http://devel9:8080/sigepro2dev/services/</value>
            </setting>
            <setting name="SigeproSecurityUsername" serializeAs="String">
                <value>BACKOFFICE</value>
            </setting>
            <setting name="SigeproSecurityPassword" serializeAs="String">
                <value>9a44bd17bbd836547850c08a75d17011</value>
            </setting>
        </Init.SIGePro.Properties.Settings>
        <Init.SIGePro.Manager.Properties.Settings>
            <setting name="SigeproSecurityUsername" serializeAs="String">
                <value>BACKOFFICE</value>
            </setting>
            <setting name="SigeproSecurityPassword" serializeAs="String">
                <value>9a44bd17bbd836547850c08a75d17011</value>
            </setting>
            <setting name="ForzaElaborazioneScadenzario" serializeAs="String">
                <value>IgnoraParametroConfigurazione</value>
            </setting>
        </Init.SIGePro.Manager.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="gateSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="gateSoapBinding1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="OggettiSoap11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="MailServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="AnagrafeSoap11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="MercatiSoap11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="RateizzazioniSoap11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="attivitaSOAP" />
                <binding name="RegoleWs" />
                <binding name="IstanzeoneriSoap11" />
                <binding name="ws_diaSoap" />
                <binding name="sigeproSecuritySoap11" />
                <binding name="NlaGestioneMailSoap11" />
                <binding name="StcSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://servizicner.regione.emilia-romagna.it/parixgate/services/gate"
                binding="basicHttpBinding" bindingConfiguration="gateSoapBinding"
                contract="ParixGateService.ICRSimpleWSImpl" name="gate" />
            <endpoint address="http://devel9:8080/MailService/services/MailService/"
                binding="basicHttpBinding" bindingConfiguration="MailServiceBinding"
                contract="WsMailService.MailServicePortType" name="MailServicePort" />
            <endpoint address="http://10.10.45.133:8080/backend/services/anagrafe"
                binding="basicHttpBinding" bindingConfiguration="AnagrafeSoap11"
                contract="WsAnagrafeService.Anagrafe" name="AnagrafeSoap11" />
            <endpoint address="http://10.10.45.133:8080/backend/services/oggetti"
                binding="basicHttpBinding" bindingConfiguration="OggettiSoap11"
                contract="WsOggettiService.Oggetti" name="OggettiSoap11" />
            <endpoint address="http://10.10.45.133:8080/backend/services/rateizzazioni"
                binding="basicHttpBinding" bindingConfiguration="RateizzazioniSoap11"
                contract="WsRateizzazioniService.Rateizzazioni" name="RateizzazioniSoap11" />
            <endpoint address="http://devel9:8080/vbg/services/" binding="basicHttpBinding"
                bindingConfiguration="attivitaSOAP" contract="EventiAttivitaWebService.attivita"
                name="attivitaSOAP" />
            <endpoint address="http://devel9:8080/backend/services/mercati"
                binding="basicHttpBinding" bindingConfiguration="MercatiSoap11"
                contract="WsMercatiService.Mercati" name="MercatiSoap11" />
            <endpoint address="http://devel9:8081/backend/services/istanzeoneri"
                binding="basicHttpBinding" bindingConfiguration="IstanzeoneriSoap11"
                contract="IstanzeOneriService.Istanzeoneri" name="IstanzeoneriSoap11" />
            <endpoint address="http://192.168.1.16:8080/axis2/services/ws_dia/"
                binding="basicHttpBinding" bindingConfiguration="ws_diaSoap"
                contract="VerificaPagamentiLivorno.ws_diaSoap" name="ws_diaSoap" />
            <endpoint address="http://devel9:8080/ibcsecurity/services" binding="basicHttpBinding"
                bindingConfiguration="sigeproSecuritySoap11" contract="WsSigeproSecurity.sigeproSecurity"
                name="sigeproSecuritySoap11" />
            <endpoint address="http://devel3/backend/services/regole" binding="basicHttpBinding"
                bindingConfiguration="RegoleWs" contract="RegoleService.Regole"
                name="RegoleWs" />
            <endpoint address="http://localhost:8080/nla-pec/services" binding="basicHttpBinding"
                bindingConfiguration="NlaGestioneMailSoap11" contract="NlaPecService.NlaGestioneMail"
                name="NlaGestioneMailSoap11" />
            <endpoint address="http://devel9:8080/ibcstc/services/stc" binding="basicHttpBinding"
                bindingConfiguration="StcSoap11" contract="StcServiceReference.Stc"
                name="StcSoap11" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
