.DatiDinamici {
}

    .DatiDinamici .helpIcon {
        cursor: pointer;
    }



    .DatiDinamici TABLE {
        border-collapse: collapse;
    }

    .DatiDinamici .Titolo {
        /*padding-left: 5px;*/
        background-color: #deddcc;
        width: 100%;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
        /* *margin-left: -5px;*/
    }

.TitoloModello {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
}



.DatiDinamici SPAN {
    /*font-style:italic;*/
}

.ContenutoScheda .UpdatePanel {
    clear: both;
    float: none;
    border-radius: 4px;
}

.ContenutoScheda textarea {
    font-family: tahoma, arial, helvetica;
    font-size: 11px;
}

.DatiDinamici .EtichettaControllo {
    /*Corregge il comportamento di "span"*/
    font-style: normal;
}

.listaSchede {
    border-bottom: 1px solid #ccc;
    margin: 0px;
    margin-top: 10px;
    padding-bottom: 19px;
    padding-left: 0px;
}

    .listaSchede ul, .listaSchede li {
        display: inline;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .listaSchede a:link, .listaSchede a:visited {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: #E8EBF0;
        border: 1px solid #ccc;
        color: #999;
        float: left;
        font-size: small;
        font-weight: normal;
        line-height: 14px;
        margin-right: 2px;
        padding: 2px 10px 2px 10px;
        text-decoration: none;
    }

    .listaSchede a:hover {
        background: #d8dBe0;
        color: #696969;
        /*color: #ccc;*/
    }

    .listaSchede a.SchedaAttiva {
        background: #fff;
        border-bottom: 1px solid #fff;
        /*color: #696969;*/
        color: #888;
        font-weight: bold;
    }


.ContenutoScheda {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}


.ErroriDatiDinamici {
    margin-left: 15%;
    margin-right: 15%;
    color: Red;
}

    .ErroriDatiDinamici UL {
        margin: 0px;
    }

#salvataggioEffettuato {
    color: Green;
    font-weight: bold;
    display: none;
}

#salvataggioInCorso {
    font-weight: bold;
    display: none;
}

.descrizioneCampoDinamico {
    display: none;
    background-color: #fff;
    border: 1px solid #000;
    padding: 2px;
}

.bloccoMultiplo {
    border: 1px solid #666;
    margin-top: 3px;
    margin-bottom: 3px;
}

.divEliminazioneBlocco {
    width: 100%;
    text-align: right;
}

    .divEliminazioneBlocco > a {
        padding-left: 3px;
    }

    .divEliminazioneBlocco:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f1f8";
    }

.bloccoMultiplo .Titolo {
    margin-top: 0px;
}

.divEliminazioneBlocco > a {
    text-decoration: none;
    margin-right: 2px;
}

.bloccoMultiplo legend {
    /*   width:*/
}

/* Tabella per righe multiple*/
table.righeMultiple tr:nth-child(even) {
    background-color: #f9f9f9;
}

table.righeMultiple .d2Control {
    margin-bottom: 0;
}

table.righeMultiple tr.bloccoMultiploAggiungiRiga {
    background-color: transparent;
}

    table.righeMultiple tr.bloccoMultiploAggiungiRiga > td {
        border-top: 2px solid #deddcc !important;
    }

.testataRigheMultiple {
    background-color: #deddcc;
    font-weight: bold;
}

.rigaRigheMultiple {
    background-color: #fff;
}

.rigaAltRigheMultiple {
    background-color: #f4f3e3;
}

    .rigaRigheMultiple .divEliminazioneBlocco,
    .rigaAltRigheMultiple .divEliminazioneBlocco {
        text-align: left !important;
        margin-left: 2px;
        width: 150px;
    }

/* Fine tabella per righe multiple*/

/**/
.tabellaDatiDinamici .helpIcon {
    vertical-align: top !important;
}

.d2Control {
    font-size: 12px;
    color: #606060;
    margin-bottom: 6px;
    margin-right: 5px;
    font-size: 12px;
    font-family: tahoma, arial, helvetica;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
}

    .d2Control.d2-hidden {
        display: none !important;
    }

    .d2Control.d2-read-only-text {
        border: 0;
        box-shadow: none;
        width: 100%;
        height: auto;
        padding: 0;
    }

        .d2Control.d2-read-only-text.titolo {
            font-size: 24px;
            font-weight: 500;
        }

        .d2Control.d2-read-only-text.sottotitolo {
            font-size: 18px;
            font-weight: 500;
        }




    .d2Control.d2Search,
    .d2Control.d2CheckBox,
    .d2Control.d2CheckBoxReadOnly,
    .d2Control.d2Label {
        border: 0px solid !important;
        padding: 0px;
    }

        .d2Control.d2Search > input,
        .d2Control.d2CheckBox > input {
            border: 1px solid #aaa;
            padding: 3px;
            font-family: "tahoma", "arial", "helvetica";
            font-size: 12px;
            color: #606060;
        }

        .d2Control.d2Search > a:link {
            color: #666666;
            font-weight: bold;
        }

        .d2Control.d2Search > a {
            padding-left: 3px;
            padding-right: 3px;
        }

        .d2Control.d2CheckBox > input {
            margin: 0px;
        }

.d2Errori {
    border: 1px solid #f00 !important;
}

input[type=checkbox].d2Errori {
    outline: 1px solid #f00 !important;
}
