/*-------------------------------------------------------------------------------------------------------
									ELEMENTI DI INPUT
-------------------------------------------------------------------------------------------------------*/
fieldset
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

fieldset div
{
	clear:both;
}
fieldset>div
{
	line-height: 20px;
	vertical-align: middle;
	margin-bottom:6px;
}

img
{
	border: 0px;
}

fieldset legend
{
	*margin-left: -7px !important; 
	width:99%;
	background-color: #deddcc;	
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	/*hack per risolvere il problema di allineamento in ie7*/
	clear:both;
}
fieldset legend span
{
	padding-left: 5px;
}
fieldset label
{	
	margin-left: 15px;
	float:left;
	width: 250px;
	text-align: left;
	/*border:1px solid #f00;*/
}

fieldset label.obbligatorio
{	
	margin-left: 8px;
	float:left;
	width: 257px;
	text-align: left;
	/*border:1px solid #f00;*/
}

fieldset  .Intervallo
{
	clear:both;
	width: 100%;
	display:block;
	margin-bottom:10px;
}

fieldset  .Intervallo .Da
{
	clear:none;
	float:left;
	width: 360px;
}

fieldset  .Intervallo .A
{
	clear:none;
	float:left;
}

fieldset  .Intervallo .A LABEL
{
	width: 100px;
}

fieldset  .Intervallo input
{

}

fieldset input, fieldset textarea, fieldset select, fieldset textarea, fieldset checkbox {
    margin-bottom: 6px;
    margin-right: 5px;
    font-size: 12px;
    font-family: tahoma, arial, helvetica;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
}

fieldset input[type=text]
{
	float:left;
}

fieldset .CampoFormula
{
	font-size: 12px;
	font-family: Courier New;
	
	float:left;
}

fieldset input[type=image]
{
	width:auto;
	margin-left: 7px;
}



fieldset .DescrizioneCampo
{
	margin-left:260px;
	line-height: 18px;
	font-style:italic;
/*	font-size: 11px;*/
}

fieldset .ErroreCampo
{
	margin-left:265px;
	line-height: 18px;
	color: #f00;
}

fieldset .Bottoni
{
	padding-top: 10px;
}

.HelpControllo
{
	/*display:none;*/
	position: absolute;
	background-color: #fff;
	border: 1px solid #666;
	width: 300px;
	height: auto;
	top: 0px;
	left: 0px;
	line-height: normal;
	padding: 10px;
}
.HelpControllo.large
{
	width: 550px;
}


/* Vecchi bottoni
INPUT[type=submit]
{
    border: #cec78f 1px solid;
    padding: 2px 12px 2px 12px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    text-transform: uppercase;
    color: #ffffff !important;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: #b61218;
    text-align: center;
    text-decoration: none
}

INPUT[type=submit]:hover {

	color: #000;
	border: 1px solid #b61218;
}
*/
input[type=submit],
input[type=button] {
	border: 1px solid transparent;
	padding: 2px 12px;
	background-color: rgb(182, 18, 24);
	font-size: 10px !important;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	clear: both;
	color: #fff;
	float: none !important;
}

input[type=submit]:hover,
input[type=button]:hover {
	border-color: rgb(182, 18, 24);
	border-width: 1px;
	cursor:pointer;
}

.UpdatePanel
{
	clear:none;
	float:left;
	/*margin: 0px;*/
	margin-top: auto;
	padding: 0px;
	width:auto;
}

input[type=file]
{
  border: 1px solid #b4b4b4;
  padding: 3px;
  border-radius: 2px;
  background-color: #fafafa;
  color: #666666;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  width: 350px;
  margin-right: 10px;
}

.ui-autocomplete-input
{
	padding-left: 20px !important;
	background-image: url('../images/magnifying-glass.gif');
	background-repeat: no-repeat;
	background-position:left center;
}

