
/*-------------------------------------------------------------------------------------------------------
BLOCCO DEL TITOLO DELLA PAGINA
il blocco contiene il titolo, il pannello "ricerca, risultato, scheda " e il box dell'help
-------------------------------------------------------------------------------------------------------*/
/* contenitore dell'intestazione */
#BloccoIntestazione
{
	width: 100%;
	margin-bottom: 20px;
}

/* box con il titolo della pagina */
#BloccoIntestazione #TitoloPagina
{
	width: 70%;
	float:left;
}

/* box che contiene l'help */
#BloccoIntestazione #BoxHelp
{
	width: 30%;
	float:right;
    color: #b61218;
    text-align:right;
    
}

/*-------------------------------------------------------------------------------------------------------
CARATTERISTICHE DEL TITOLO DELLA PAGINA
Stili per titolo e immagini "ricerca","risultato" e "scheda"
*/

/* carattere del titolo */
#TitoloPagina .titolo
{
	font-weight: bold;
    font-size: 16px;
    color: #b61218;
    margin-bottom: 10px;
}

/* Box ricerca */
#TitoloPagina #ricerca .NonSelezionato
{
	float:left;
	width: 58px;
	height: 16px;
	background-image: url('../images/tab_ricerca_off.gif');
}

#TitoloPagina #ricerca .Selezionato
{
	float:left;
	width: 64px;
	height: 16px;
	background-image: url('../images/tab_ricerca_on.gif');
}

/* Box risultato */
#TitoloPagina #risultato .NonSelezionato
{
	float:left;
	width: 72px;
	height: 16px;
	background-image: url('../images/tab_risultato_off.gif');
}

#TitoloPagina #risultato .Selezionato
{
	float:left;	
	width: 81px;
	height: 16px;
	background-image: url('../images/tab_risultato_on.gif');
}

/* Box scheda */
#TitoloPagina #scheda .NonSelezionato
{
	float:left;
	width: 58px;
	height: 16px;
	background-image: url('../images/tab_scheda_off.gif');
}

#TitoloPagina #scheda .Selezionato
{
	float:left;	
	width: 65px;
	height: 16px;
	background-image: url('../images/tab_scheda_on.gif');
}

/* Spaziatori */
#TitoloPagina #spaziatore1,
#TitoloPagina #spaziatore2
{
	float:left;	
	width: 1px;
	height: 16px;
	background-image: url('../images/tab_pipe.gif');
}


/*-------------------------------------------------------------------------------------------------------
CARATTERISTICHE DEL BOX DELL'HELP
-------------------------------------------------------------------------------------------------------*/

#BloccoIntestazione #BoxHelp A, 
#BloccoIntestazione #BoxHelp A:active , 
#BloccoIntestazione #BoxHelp A:visited
{
	color: #006D0D;
	text-decoration:none;
}

#BloccoIntestazione #BoxHelp #HelpTop
{
	display:none;
}

#BloccoIntestazione #BoxHelp #HelpContent
{
	width:220px;
	margin-top:12px;
	margin-right:5px;
	float:right;
}
#BloccoIntestazione #BoxHelp #HelpContent hr
{
	width: 205px;
	text-align:left;
	margin:0px;
}
#BloccoIntestazione #BoxHelp #HelpContent ul  
{
	margin-left:0px;
	margin-top:0px;
	padding-left:15px;
	list-style-image:url(../images/Help.png);
	color: #006D0D;
}
#BloccoIntestazione #BoxHelp #HelpContent li
{
	padding-left: 5px;
}

#BloccoIntestazione #BoxHelp #HelpBottom
{
	display:none;
}
#CorpoPagina
{
	clear:both;
}


/*-----------------------*/
ul.tipoScheda
{
	list-style-image: none;
	list-style-type:none;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

.tipoScheda > li
{
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	float:left;
	color: #aaa;
}

.tipoScheda > li.inner
{
	border-left: 1px solid #ccc;	
	padding-left: 20px;
}

.tipoScheda > li > span.selezionato
{
	color: #b61218;

}