/*-------------------------------------------------------------------------------------------------------
									CASO PARTICOLARE: i controlli per le regole people
*/
.ContenitoreControlliRegole
{
}

.ContenitoreControlliRegole SPAN SPAN
{
	float:left;
	width: 150px;
}

.ContenitoreControlliRegole SPAN INPUT,.ContenitoreControlliRegole SPAN SELECT
{
	float:left;
}

.ContenitoreControlliRegole SPAN BR
{
	clear:both;
}