@import url(forms.css);
@import url(RicerchePlus.css);
@import url(DatiDinamici.css);
@import url(Tabelle.css);
@import url(IntestazionePagine.css);
@import url(RegolePeople.css);
@import url(oneri.css);

/*-------------------------------------------------------------------------------------------------------
STILI DI BASE DELLA PAGINA
-------------------------------------------------------------------------------------------------------*/
body 
{
	margin: 0px;
    padding: 10px;
    font-size: 12px;
    color: #696969;
    font-family: tahoma, arial, helvetica;
    background-color: #ffffff;
    width: 98%;
    height: 100%;
}


A,
A:hover,
A:visited
{
	color: #b61218;
	text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------------
ERRORI
-------------------------------------------------------------------------------------------------------*/
.Errori,
.errori
{
	color: Red;
}

.riepilogoErrori
{
	color: Red;
	margin-left: 15px;
	margin-top: 15px;
}

/*Stili riferiti alla pagina ErroriSistema.aspx*/

.ErroriSistema
{
	margin-left: 100px; 
	margin-right: 100px;
}

.ErroreTitolo
{
	text-align: center; 
	height: 30px; 
	padding-top: 15px; 
	font-weight: bold;
}

.ErroreHeader
{
	padding-top: 15px; 
	height: 50px;
	text-align:center;
}

.ErroreBottoni
{
	text-align: center; 
	height: 30px; 
	padding-top: 15px;
}

/*Fine Stili per ErroriSistema.aspx*/

/*-------------------------------------------------------------------------------------------------------
INFORMAZIONI
-------------------------------------------------------------------------------------------------------*/
.Informazioni
{
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0px solid;
	clear:both;
}

.Informazioni DIV
{
	clear:both;
}

.Informazioni SPAN.Etichetta
{
	font-weight:bold;
	float: left;
	padding-left: 10px;
	border: 0px solid;
	width: 250px;
	display:block;
	text-transform: uppercase;
}

.Informazioni SPAN.Valore
{
	color: #b61218;
	font-weight:bold;
	padding-left: 10px;
	float:left;
	border: 0px solid;
}

.Informazioni DIV
{
	clear:both;
}

/*-------------------------------------------------------------------------------------------------------
IMPORTO DISABILITATO
-------------------------------------------------------------------------------------------------------*/
.ImportoDisabilitato
{
	color: Red;
	font-weight: bold;	
}

.cellaPosteggio
{
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

.output
{
    FONT-WEIGHT: bold;
    COLOR: #b61218;
}

.concessionari
{
	font-weight:900;
}

.nowrap {
    white-space: nowrap;
}
.clear
{
	clear:both;
}
.ui-autocomplete
{
	max-height: 200px !important;	
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;	
}
.ui-autocomplete-loading  
{
    background: url('../images/ui-anim_basic_16x16.gif') left center no-repeat; 
}
.searchBox {
	background-image: url('../images/magnifying-glass.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}


.tooltipErrore
{
	color: #D8000C;
	-webkit-box-shadow:0 0 5px #aaa;
	box-shadow:0 0 5px #aaa;
	background-color: #FFBABA !important;
	border: 1px solid #D8000C !important;
}

.alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

     .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }