

table {
    font-size: 10px !important;
}


br {
    line-height: 0.7;
}

#datiDinamici {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

    #datiDinamici h3 {
        background-color: transparent;
        font-size: 1.3em;
        font-weight: normal;
        padding: 12px;
        padding-left: 0;
        padding-top: 6px;
        padding-bottom: 0;
        margin-top: 6px;
        margin-bottom: 6px;
        color: #B61218;
    }

    #datiDinamici .notaPossibiliValori {
        font-style: italic;
    }

    #datiDinamici .tabellaDatiDinamici {
        /*table-layout: fixed;*/
        width: auto;
    }

    #datiDinamici .righeMultiple {
        width: auto;
    }

    #datiDinamici .tabellaDatiDinamici td > span {
        display: block;
        padding: 8px;
    }

    #datiDinamici .EtichettaControllo {
        font-weight: normal;
        padding-left: 12px !important;
        /*white-space: nowrap;*/
    }

    #datiDinamici .tabellaDatiDinamici td .Titolo {
        margin-top: 24px !important;
        text-transform: uppercase;
    }

    #datiDinamici .tabellaDatiDinamici td p {
        margin: 0;
        padding: 0;
    }



    #datiDinamici .tabellaDatiDinamici td {
    }

        #datiDinamici .tabellaDatiDinamici td:first-child {
        }

    #datiDinamici table.tabellaDatiDinamici > tbody > tr > td {
        page-break-inside: avoid;
    }

    #datiDinamici hr {
        /*display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ddd;
		margin: 0 auto;
		margin-top: 24px;
		margin-bottom: 24px;
		padding: 0; 
		width: 70%;*/
        display: none;
    }

    #datiDinamici .tabellaDatiDinamici span[id^="renderer_"]:empty {
        min-height: 14px;
        min-width: 60px;
    }

    #datiDinamici .tabellaDatiDinamici span[id^="renderer_"] {
        border: 1px solid #ddd;
        margin: 2px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #fafafa;
    }

    #datiDinamici .tabellaDatiDinamici span[id^="renderer_-"] {
        border: 0;
        font-weight: normal;
        background-color: transparent;
    }

    #datiDinamici .righeMultiple {
        margin: 12px 0 12px 0;
    }

        #datiDinamici .righeMultiple .testataRigheMultiple {
            min-height: 34px;
        }

            #datiDinamici .righeMultiple .testataRigheMultiple th {
                padding: 12px;
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
                font-weight: 700;
                text-transform: uppercase;
            }

        #datiDinamici .righeMultiple td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
    /*
		#datiDinamici .DatiDinamici {
			  page-break-after: always;
		}
		*/
    /*Stili delle schede dinamiche*/
    #datiDinamici .checkbox {
        padding: 0 !important;
        margin: 0 auto;
        border: 0 !important;
        font-size: 24px;
        color: #aaa;
        background-color: #fafafa;
    }

        #datiDinamici .checkbox span {
            display: none;
        }
        /*
		#datiDinamici .checkbox.checked:after {
			  content: '\2612';
		}

		#datiDinamici .checkbox.not-checked:after {
			  content: '\2610';
		}
		*/

        #datiDinamici .checkbox.checked:after {
            content: ' ';
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEuNv1OCegAAAEWSURBVDhPxdQ7agJBAMbxJRptlZBYKIhphBTpzEkCOYISRAk5gScQLOMZBAOJpYV3SBGwzsMqSRPFV/7fkJFlHyrT+MGv2GH325mdYT0yxSteHL1jBVNyhYKjFmYwrRpwzR20qsMVXaCKjLlyLMphiG+0kUJkkd5Shm7w5whFPGGJNfRwE6GiLLrQLjZwDJtLjOAvecA5QkWd/wGdiR/cwuYZC6hEHnEGJVRUwxvszRPcY+Abm0MlJdiEipK4wQf0kGb2C7sc6SEPfyI/tsrq+IJ9WDQTlZwimMgiJQ2dk0/YIi0nOBOb2CIlgWuMEfwmwWwtUnSWKjgxV/HZWbRvNkX6n+hXoAEXfWgzzDbrf6JWF5R46z8Fx4MxX+o/YQAAAABJRU5ErkJggg==');
            width: 18px;
            height: 18px;
            display: inline-block;
        }

        #datiDinamici .checkbox.not-checked:after {
            content: ' ';
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEuNv1OCegAAAA9SURBVDhPYwCC/1TCYIIPiNnJxGpADDcIJEAuUADiUYPwg1GDCINRgwgD2hgEKgpAAuRgGyCGG0QhZvgPAG6PSJcdcFqGAAAAAElFTkSuQmCC');
            width: 18px;
            height: 18px;
            display: inline-block;
        }

    /*
		#datiDinamici .EtichettaControllo {
			white-space: nowrap;
		}
		*/

    #datiDinamici .EtichettaControllo > .id-riferimento-nota {
        /*display: inline-block;*/
        font-weight: bold;
    }

.d2-note-compilazione {
    /*page-break-before: always;*/
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 8px;
    margin-top: 32px;
}

    .d2-note-compilazione h2 {
        /* content: "Note di compilazione"; */
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }


    .d2-note-compilazione .riferimento-valori,
    .d2-note-compilazione .riferimento-nota {
        font-weight: bold;
    }

    .d2-note-compilazione > ul > li {
        font-weight: bold;
        margin-bottom: 12px;
    }

        .d2-note-compilazione > ul > li p {
            margin-top: 0.3em;
        }

    .d2-note-compilazione > div > h3 {
        margin-bottom: 5px;
    }

    .d2-note-compilazione > div > ul {
        margin-top: 0;
    }

    .d2-note-compilazione li > span {
        font-weight: normal;
    }

ul.d2-elementi-lista-valori {
    list-style-type: none;
    background-color: #fafafa;
    border-left: 1px solid #ddd;
    padding: 5px;
    padding-bottom: 0;
    padding-left: 20px;
    margin-bottom: 2px;
}

    ul.d2-elementi-lista-valori > li {
        background-repeat: no-repeat;
        margin-left: -16px;
        padding-left: 16px;
        padding-bottom: 5px;
        line-height: 18px;
    }

        ul.d2-elementi-lista-valori > li > .nota-possibili-valori {
            font-style: italic;
            white-space: nowrap;
        }

            ul.d2-elementi-lista-valori > li > .nota-possibili-valori .id-riferimento-valori {
                font-weight: bold;
            }

        ul.d2-elementi-lista-valori > li.d2-elemento-lista-selezionato {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAtUlEQVQ4y2P4//8/AyWYYYQZMG3atP+rV6/+T5YB+/fvB6pm+B8YGEi6ATDNIFxfX4/bAH9///9z5879j66Zj48PbkBWVhZuAwQFBcGKjh49ClYEoqWlpeGaXV1d/1++fBm3AVZWVmCFMjIy/0E2g2iYZnt7+/+fPn36jzcWQIpgGpAxSJyoaHz//v1/JycnFM2Ojo5YbcYZC8+fP/9vaWkJ1gyiQXySE9KTJ0/AzgbRgz8vAACU9sOwJSGWUAAAAABJRU5ErkJggg==');
            font-weight: bold;
        }
