<app-page-layout>
  <div class="home-page">

    <app-cosa-puoi-fare-v2></app-cosa-puoi-fare-v2>
<!--
    <div class="container-fluid home-decorazione">
      <img src="{{immagineDefault}}" srcset="{{srcsetList}}" alt="">
    </div>

    <app-cosa-puoi-fare></app-cosa-puoi-fare>
 -->
    <app-home-in-primo-piano *ngIf="homeConfig.primoPianoVisible"></app-home-in-primo-piano>
    <app-home-news *ngIf="homeConfig.newsVisible"></app-home-news>
    <app-home-faq *ngIf="homeConfig.faqVisible"></app-home-faq>
    <app-home-info *ngIf="homeConfig.infoVisible"></app-home-info>
  </div>
</app-page-layout>
