#functions {
	width: 100%;
}

#functions ul {
	margin: 2px;
	padding-left: 0;
	list-style: none;
}

#functions li {
	display: inline;
	margin: 2px;
	padding: 0;
}

#functions a:link,#functions a:visited {
	float: left;
	margin: 0em;
	padding: 0.1em 0.3em;
}

.functionsMinus{
	width: 20px;
	height: 22px;
	
}

.functionsPlus{
	width: 20px;	
	height: 22px;
	
}

.disabledriclink {pointer-events: none;opacity: 0.3;text-decoration: none;}
.checkatoButton{pointer-events: none;}
.ricaricaRicalcoloAree{cursor: pointer;}

.icon-wrapper {
    display: inline;
    align-items: center;
    justify-content: center;
    border: 1px solid #666;
    border-radius: var(--half-padding);
    padding: 5px;
    margin-left: 10px;
    margin-right: 6px;
}

.icon-text {
     font-size: 12px !important;
}