.ui-widget,
.ui-widget input
{
    font-family: arial, tahoma;
    font-size: 12px;
}

/*
.ui-autocomplete LI A
{
    margin: -1px;
}
*/
.ui-autocomplete .clearAteco
{
    clear:both;
    background-color:Transparent;
    border: 1px solid Transparent;
}

.ui-autocomplete .clearAteco:hover
{
    border: 1px solid #999999; background: #dadada url(jqueryui/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121;
}

.ui-autocomplete .codiceAteco
{
   width: 60px;
   float:left;
   background-color:Transparent;
}
.ui-autocomplete .descrizioneAteco
{
    margin-left: 60px;
    background-color:Transparent;
}