/*@import url("../reset.css");*/
@import url("../jqueryui/jquery-ui.css");
@import url("../popupDettagliEndo.css");
@import url("../init.tree.css");
@import url("boxcomune.css");
@import url("boxricerca.css");
@import url("dettagliIntervento.css");
@import url("tooltips.css");


.ui-widget-content
{
	color: #666;
}

/*.ui-widget,*/ .ui-widget input
{
	border:1px solid #b4b4b4;
	padding:3px;
	border-radius:2px;
	background-color:#fafafa;
	color:#666666;
	font-family:Verdana, Arial, Helvetica, Sans-Serif;	
}
/*
.ui-autocomplete-input
{
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 3px;
}
*/
.ui-autocomplete-input
{
	padding-left: 20px !important;
	background-image: url('../../images/magnifying-glass.gif');
	background-repeat: no-repeat;
	background-position:left center;
}

.ui-autocomplete-loading  
{
    background: white url('../../images/ui-anim_basic_16x16.gif') left center no-repeat; 
}


body
{
    font-family: arial, tahoma;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color: #666;
}
/*
fieldset
{
	border: 1px solid #666;
	width: 100%;
}
*/
fieldset
{
	border-radius: 4px;
	border: 1px solid #AAAAAA;
	width: auto;
}

fieldset>legend
{
	font-weight: bold;
}

fieldset>*
{
	margin: 15px;	
}

#contenitore
{
    width: 936px;
    margin: 0px auto;
    margin-top: 43px;
}

#contenitore > .clear
{
    clear: both;
}

#contenitore > #testata
{
    width: 100%;
}

#contenitore > #testata >#logoHome
{
    width: 336px;
    float: left;
}

#contenitore > #testata > #logoHome > a > img
{
    width:336px;
    height:113px;
    border:0px;
}

#contenitore > #testata >#step1,
#contenitore > #testata >#step2,
#contenitore > #testata >#step3
{
    width: 165px;
    height: 100px;
    float: left;
    font-size:15px; 
    color: #fff; 
    padding-left: 15px;
    padding-right: 20px;
    margin-top:10px;
}

#contenitore > #testata >#step1>.titolo,
#contenitore > #testata >#step2>.titolo,
#contenitore > #testata >#step3>.titolo
{
    padding-top: 10px; 
    font-weight: bold;
}

#contenitore > #testata >#step1>.descrizione,
#contenitore > #testata >#step2>.descrizione,
#contenitore > #testata >#step3>.descrizione
{
    text-transform: uppercase;
    line-height: 20px;
}

#contenitore > #contenutoCentrale
{
    height: 364px;
}

#contenitore > #contenutoCentrale > #contenuto1
{
    width: 686px;
    float: left;
}

#contenitore > #contenutoCentrale > #contenuto2
{
    margin-top: 10px;
    width: 250px;
    float:left;
}

#contenitore > #footer
{
    height: 30px;
    font-family: verdana, geneva, sans-serif; 
    font-size:11px; 
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}


/* STEP BENVENUTO 
------------------------------------*/

#benvenuto
{
    width: 346px;
    margin-left: 340px;
}
#benvenuto > h1
{
    font-size:30px; 
    font-style: italic;
    font-weight:normal;
    margin-top: 31px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#benvenuto > h2
{
    font-size:14px; 
    font-style: italic; 
    line-height: 18px;
    margin-top: 12px;
    font-weight:normal;
}

#benvenuto > .tipologieRicerca
{
    font-size:14px; 
    font-style: italic; 
    line-height: 18px;
    margin-top: 20px;
}

#benvenuto > .tipologieRicerca > ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;   
}
#benvenuto > .tipologieRicerca > ul > li
{
    margin-left: 30px;
}

#benvenuto > .tipologieRicerca > ul > li > a > img
{
    border: 0px;
}

#benvenuto > .tipologieRicerca > ul.tipiRicerca
{
    margin-left: 00px;
}

#benvenuto > .tipologieRicerca > ul.tipiRicerca > li > a
{
    display:block;
    padding-left: 50px;
    padding-top: 0px;
    background-repeat:no-repeat;
    text-decoration:none;
    height: 50px;
}

#benvenuto > .tipologieRicerca > ul.tipiRicerca > li > a > .titolo
{
    margin: 0px;
    padding: 0px;    
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 1px;
}

#benvenuto > .tipologieRicerca > ul.tipiRicerca > li > a > .descrizione
{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight:bold;
    font-style:italic;
    text-transform: uppercase;
}




/* ICONE HELP
------------------------------------*/
#helpIcone
{
    width: 250px;
    text-align: right;
}
#helpIcone > img
{
    float: right;
    margin-right:10px;
}


#stepContenuto
{
    margin-left: 46px;
    width:634px; 
}

#stepContenuto > #intestazione
{
    margin-top: 11px;
    /*margin-left: 25px;*/
}

#stepContenuto > #intestazione > #testo
{
    float:left;
    font-size:14px; 
    font-weight:normal;
    width: 365px;
}

#stepContenuto > #intestazione > #testo > h2
{
    font-size:16px; 
    font-weight:normal;
    margin: 0px;
    padding: 0px;
    margin-bottom:2px;
}

#stepContenuto > #intestazione > #testo > h1
{
    font-weight: bold;
    text-transform: uppercase;
    font-size:16px; 
    margin: 0px;
    padding: 0px;
}

#stepContenuto > #intestazione > #testo > h3
{
    font-weight: normal;
    font-size:13px; 
    color: #666;
    margin: 0px;
    padding: 2px 0px 0px 0px;
}

#stepContenuto > #intestazione > #bottoni
{
  width:269px; 
  float:right;
}

#stepContenuto > #intestazione > #bottoni > img,
#stepContenuto > #intestazione > #bottoni > a
{
  float:right;
  border: 0px;
}

#stepContenuto > #intestazione > #bottoni > a > img
{
	border: 0px;
}

.clear
{
    clear:both;
}

#stepContenuto > span >.treeView,
.dettagliIntervento > #corpoIntervento
{
    color: #666;
    font-family: verdana, geneva, sans-serif;
    font-size: 12px;
    height:280px; 
/*    width:600px; */
    overflow-x: hidden; 
    overflow-y: scroll;
}

.treeView .noteAlbero
{
	margin-left: 0px;
}

.ricercaIntervento 
{
  color: #618c18;
}

.ricercaAteco 
{
  color: #3e4775; 
}

.dettagliIntervento 
{
  color: #da8011;
}

.dettagliIntervento > #corpoIntervento > ul > li
{
    list-style-type: none;
}


.ricercaTestuale
{
	width: 500px;
	margin: 0px auto;
}

.ricercaTestuale > div
{
	margin-top: 20px;
}

.ricercaTestuale > div > div
{
	margin-top: 5px;
}

.ricercaTestuale > div > div >#txtRicerca
{
	width: 475px;
}
