#datiCart .pathAlberoproc {
	font-family: Verdana,Arial,SansSerif,Helvetica;
    font-size: 0.6em;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}
#datiCart .jmesa .table { 
	width: 100%;
	color: #000000;
	/* border-style: solid;
	border-width: 1px; */
}

#datiCart .jmesa .header td {
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	border-width: 1px;
	background-color: #c0c0c0;
}

#datiCart .jmesa td .header {
	white-space: nowrap;
	background-color: #DEDDCC;
	font-size: 12px;
	font-weight: bold;
	border-width: 1px;

}

#datiCart .jmesa .odd a,
#datiCart .jmesa .even a {
	color: #000000;
	text-decoration: none;
    border-width: 1px; 
}

#datiCart .jmesa .odd td,
#datiCart .jmesa .even td {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	border-width: 1px; 
}

#datiCart .jmesa .odd {
	background-color: #F0F0F0;
}

#datiCart .jmesa .even {
	background-color: #F5F5F0;
}

#datiCart .etichetta {
	float: left;
	display: inline;
	min-width: 100px;
	text-transform: uppercase;
	color: #696969;
	font-size: 1.0em;
	font-weight: bold;
}


#datiCart .parametro {
	display: block;
	min-width: 100px;
	float: left;
	text-transform: uppercase;
	color: #B61218;
	font-size: 1.0em;
	font-weight: bold;
}

#datiCart .etichetta>div {
	display: block;
	margin-right: 20px;
}

#datiCart .parametriDiv {
	float: left;
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
	min-width: 200px;
}

#datiCart .clear {
	clear: both;
}
