body {
	/*font-family: Geneva, Arial, Helvetica, sans-serif;*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	/* This removes the border around the viewport in old versions of IE */
	width: 100%;
	background: #fff;
	min-width: 600px;
	/* Minimum width of layout - remove line if not required */
	/* The min-width property does not work in old versions of Internet Explorer */
	font-size: 0.85em;
}

/* Header styles */
#header {
	clear: both;
	float: left;
	width: 100%;
}

#header {
	border-bottom: 1px solid #888888;
}

#header_user {
	float: right;
	margin-top: -20px;
	margin-right: 20px;
	font-weight: bold;
	color: #344A76;
}

/* column container */
.colmask {
	position: relative; /* This fixes the IE7 overflow hidden bug */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
	/*overflow: auto;*/ /* This chops off any overhanging divs *//*commentato per evitare che i campi di input siano nascosti*/
}
/* common column settings */
.colleft {
	float: left;
	width: 100%;
	position: relative;
}

.onecolumn {
	float: left;
	width: 95%;
	position: relative;
	margin: 2em;
}

.col1,.col2 {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
	/*overflow: auto;*//*commentato per evitare che i campi di input siano nascosti*/
}
/* 2 Column (left menu) settings */
.leftmenu {
	background: #fff; /* right column background colour */
}

.leftmenu .colleft {
	right: 80%; /* right column width */
	background: #f4f4f4; /* left column background colour */
}

.leftmenu .col1 {
	width: 76%; /* right column content width */
	left: 102%; /* 100% plus left column left padding */
	padding-top: 1em;
}

.leftmenu .col2 {
	width: 18%;
	/* left column content width (column width minus left and right padding) */
	left: 5%;
	/* (right column left and right padding) plus (left column left padding) */
	min-height: 600px;
	padding-top: 1em;
}
/* Footer styles */
#footer {
	clear: both;
	float: left;
	width: 99%;
	border-top: 1px solid #888888;
	padding: 5px;
}