// Colori basati sulla palette http://paletton.com/#uid=13-0u0k++ILuKZLQW+V+Vts+8n4

/*MENU*/
/*
@menu-color:  #fff;
@navbar-font-color: white;
@navbar-highlight-color: #B6D1EC;
@navbar-megamenu-light: #B6D1EC;
@navbar-megamenu-dark: #85AED2;
@left-link-color: #003D77;//#333;
@right-menu-title: @menu-color;
@star-color: #FF5300;
@navbar-megamenu-right-panel: @navbar-megamenu-dark;
@navbar-megamenu-left-panel-section: @navbar-megamenu-light;
@navbar-megamenu-scelta-software: white;
@navbar-megamenu-linguetta: url('../images/linguetta-blu.svg');
*/

@menu-color: #ee8f3c; // #ffc300;
@navbar-font-color: #ffe;// #555;
@navbar-highlight-color: #B6D1EC;
@navbar-megamenu-light: #d1e2f3;
@navbar-megamenu-dark: #85AED2;
@left-link-color: #003D77;//#333;
@right-menu-title: @menu-color;
@star-color: @menu-color;//#ee8f3c; //#FF5300;
@sub-title-color: #eee;
@navbar-megamenu-right-panel: white;
@navbar-megamenu-left-panel-section: @navbar-megamenu-dark;
@navbar-megamenu-scelta-software: @navbar-megamenu-light;
@navbar-megamenu-linguetta: url('../images/linguetta-bianca.svg');
