div.banner {
  #logo-main {
    display: block;
    margin: 20px auto;
  }

  background-color: #0F6F8B;
  margin: 0px;
  padding: 0px;

  h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 10px;
    color: @menu-color;

    small {
        font-size: 12px;
        display:block;
        color: @sub-title-color;
    }
  }  

  .informazioni {
      text-align: right;
      padding-right: 20px;
      padding-top: 50px;

      small {
          color: @menu-color;
      }
  }
}