@import "constants.less";
@import "header-banner.less";
@import "nav-menu.less";
@import "funzioni-tabella.less";
@import "widgets.less";
@import "user-menu.less";
@import "right-panel.less";
@import "dropdown-submenu.less";

body {
    color: #0F6F8B;
}

.row {
    margin-right: 0 !important;
}

.container {
    margin-top: 48px;
}

.dropdown-menu {
    width: 100%;
    padding: 0;
    margin: 0;    
}

.ricerca-menu {
    padding-left: 30px;
    padding-right: 30px;
}

.yamm-content {
    background-color: #acacac;
    /*background-image: linear-gradient(to bottom,#acacac 0,#3c3c3c 100%);*/
    padding: 0px !important;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

.menu-row {
    display: flex;
}

select {
	&.form-control {
		width: auto;	
	}	
}

div.indicator {
	background-color: transparent !important;
    border: 1px solid #ccc !important;
    border-right: 0px !important;
    border-radius: 4px !important;
    background-position: top right !important;
    height: 34px !important;
    width: 16px !important;
}
#functions li,
#functions a:link, 
#functions a:visited {
	padding: 3px 6px !important;	
} 

.listaSchede {
	padding-bottom: 34px !important;
	
	a:link {
		border-radius: 4px 4px 0 0;
		line-height: inherit !important;
	    padding-left: 12px !important;
	    padding-right: 12px !important;
	    padding-top: 6px !important;
	    padding-bottom: 4px !important;
	    margin-right: 1px !important;
	}
	
	.help_image {
		margin-left: 5px;
	}
	
	.SchedaOneri {
		background-color: #dff0d8 !important;
		
		&:hover {
			background-color: #c1e2b3 !important;
		}
	}
	.SchedaModelliT {
		background-color: #dff0d8 !important;
		&:hover {
			background-color: #c1e2b3 !important;
		}
	}
	.SchedaEndo {
		background-color: #dff0d8 !important;
		&:hover {
			background-color: #c1e2b3 !important;
		}		
	}
	
	
}

#innernav {
	font-size: inherit !important;
	color: #999 !important;
	
	.selected {
		font-weight: normal;
		font-size: inherit !important;
		color: #555 !important;
	}
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle !important;
}

hr {
	display:block !important;
}

.help_image {
	vertical-align: top;
}

.parametro {
	&>div {
		color: #ee8f3c !important;
		font-weight: normal !important;
	}
}

.parametri {
	font-weight: normal !important;
	
	label {
		color: #ee8f3c !important;
		font-weight: normal !important;
		font-size: inherit;
	}	
}


.etichetta {
	&>div {
		font-weight: normal !important;	
	}
	
}
/*
.notifichePopupInfoInner {
	background-image:none;
}
*/


