<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style media="all">
		.etichetta{
			background-color: #efefef;
		}
		.dato{
			font-weight: bold;
		}
		.titoloSezione {
			font-size: 0.8em;
			color: #444369;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			text-align: left;
			margin-top: 5px;
			background-color: #efefef;
		}
		.testoesteso {
			font-size: 0.9em;
		}
		.etichettaControllo {
			
		}
		table td, table .righeMultiple td {
			border:1px solid #cccccc;
			border-collapse:collapse;
			padding:5px 10px;
			margin: 0px;
		}
		table {
			border-spacing: 0;
			border-collapse: collapse;
			
		}
    </style>
  </head>
  <body style="font-family: Verdana; font-size: 12px;background-color:#ffffff">
  #if($titoloScheda)
    <center style="font-size: 16px;font-weight:bold;">
      $titoloScheda
    </center>
  #end
    <div style="width:100%;text-align:left;">
    	$modellithtml
    </div>
  </body>
</html>
