
	
		
		#if($item.Sezione.Titolo)
			
				$item.Sezione.Titolo
	        
		#end
		
    	#foreach($item in $item.Sezione.Item)
    		#set($numCols = $helper.countColumnsForItem($item, $rowIndex))
    		#if($numCols > 0)
    			<div>
        		#parse("/cart/elemento_figlio_pdf.vm")
                </div>
			#end
    	#end			
      
   
