
body { font-family: 'PT Serif', serif; background: aliceblue; } 

.fullscreen:-moz-full-screen    { height: 100%; }
.fullscreen:-webkit-full-screen { height: 100%; }
.fullscreen:-ms-fullscreen      { height: 100%; }
.fullscreen:fullscreen  { height: 100%;  }
.fullscreen             { margin-bottom: 10px;  width: 100%;  height: 400px; background: aliceblue }
.ol-rotate              { top: 3em; }
.headpanel              { width: 100%; height: 10%; background:aliceblue }
.map                    { width: 80%; height: 90%; float: left;  }
.sidepanel              { background: aliceblue;  width: 20%; height: 100%; float: left;  }
.sidepanel-title,
.sidepanel-subtitle     { width: auto;  font-size: 2em; color: black; display: block; font-weight: bold; }
/* personalizzo la dimensione del font */
.sidepanel-subtitle     { font-size: 1.3em; text-align: left; padding: 0 2em }
.sidepanel-title        { font-style: italic; padding: 0 1em; text-align: center; }
.form_block             { margin:1em }
label                   { float: left; width: auto; margin: 0; padding: 0.5em; color:black; font-weight: bold; display: block }
a                       { color:white; text-decoration: underline }
a:hover                 { text-decoration: none}

#selection_block        { padding-left:1em }

#annulla_selezione      { margin-top: 18px; margin-left:2px; float:left }

.element_filter         { float:left }

select {
  margin: 0; width: 6em; padding: 0; font-size: 16px; border: 1px solid #ccc; border-radius: 10px;
  height: 34px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #eee;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand {  display: none; /* remove default arrow in IE 10 and 11 */ }

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}

ul#lista_particelle_selezionate { list-style: none; }
ul#lista_particelle_selezionate li { margin: 0.25rem; color:black }
/*
ul#lista_particelle_selezionate li::after {
    content: '>'; background: rgb(17, 79, 131); width: 1rem; height: 1rem; border-radius: 10%;
    border-color: aliceblue; display: inline-block; line-height: 1rem; color:cornflowerblue; 
    text-align: center; margin-right: 0.5rem;
  }
*/
.particella_value_container { display: block; float:left;  width: 3em }

