
/* ================================= */
/* PERSONALIZZO CLASSI OPENLAYERS   */
/* ================================= */

.map { 	margin:0;border:0;padding:0; background-color: white; background-repeat: repeat; }

/* ZOOM SLIDER */
.map .ol-zoom .ol-zoom-out { margin-top: 202px; }
.map .ol-zoomslider { background-color: rgba(200, 200, 200, 0.5); top: 2.3em; }
.map .ol-touch .ol-zoom .ol-zoom-out { margin-top: 212px; }
.map .ol-touch .ol-zoomslider { top: 2.75em; }

/* SPOSTO RIFERIMENTO METRICO DI SCALA A SINISTRA ALTRIMENTI COPERTO DA BOX DEI LAYERS */
.ol-scale-line { left: inherit !important; right: 8px }
.ol-viewport {
    background: white;
    border: 1px solid #d9d9d9 ;
}

/* GESTIONE POPUP 	*/
/* in versione precedente non vi era il min-width e font-size era a 1em */
.ol-popup-with-anchor,
.ol-popup-simple { 	display: none; position: absolute; bottom: 12px; left: -50px; background-color: white; border-radius: 10px; border: 1px solid #cccccc;
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2)); 
					filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2)); min-width:80px; padding: 15px; font-size: 0.819em }

.ol-popup-with-anchor, .ol-popup-simple { min-width:80px; max-width: 180px }
					
/* valutare se tenere sempre testo centrato e col nowrap */
.ol-popup-with-anchor .ol-popup-title,
.ol-popup-simple .ol-popup-title { font-weight: bold; text-align: center; /*white-space: nowrap;*/ }

.ol-popup-with-anchor .ol-popup-content,
.ol-popup-simple .ol-popup-content { font-weight: normal; text-align: left; /*white-space: nowrap;*/ }

 
.ol-popup-with-anchor:after, .ol-popup-simple:after,
.ol-popup-with-anchor:before, .ol-popup-simple:before { position: absolute; top: 100%; width: 0; height: 0; border: solid transparent; content: " "; pointer-events: none; }
.ol-popup-with-anchor:after, .ol-popup-with-anchor:before { left: 48px; border-top-color: white; border-width: 11px; margin-left: -11px; }

.ol-popup-closer, .ol-closer { text-decoration: none; color:rgb(209, 135, 135); font-size: 0.945em; font-weight: bold }
.ol-popup-closer:after, .ol-closer:after { content: "X"; }
.ol-popup-closer:hover, .ol-closer:hover { color:red;  }



/* ================================== */
/* CONFGURO STILI DI UTILITA DI BASE  */
/* ================================== */

.clear	{ clear: both; }

/* allineamenti di testo */
.align_left { text-align: left }
.align_right { text-align: right }
.align_center { text-align: center }

/* allineamento a sinistra delle options di una input select */
select.align_right {  text-align-last:right; padding-right: 5px; direction: rtl; }


/* stile link di default */

/*a { text-decoration: none; color: #1867A3; }
a:hover { text-decoration: underline; }
a.link_rosso { text-decoration: underline; color: rgb(209, 135, 135) }
a.link_rosso:hover { text-decoration: none; }*/

/* ============================	*/
/* PARAMETRI GENERALI PER I BOX	*/
/* ============================	*/
.box_grigio_rounded { width: auto; height:auto; border: 1px solid #cccccc; border-radius: 4px; background-color: #F9F9F9; clear: both; }
.box_grigio_rounded .box_inner { border: 1px solid #ccc; padding:7px; margin:5px; background-color:#F4F9FC; float: left }
.box_azzurro { border:1px solid #ccc; border-radius: 5px; background: rgb(244, 249, 252); background: rgba(244, 249, 252, 0.8); padding: 10px }

/* ============================	*/
/* AREA BOX DI RICERCA			*/
/* ============================	*/

#box_campi_ricerca { position: absolute; top: 10px; right:10px; z-Index: 999; width: auto; background-color: #FCFEFF; font-weight:bold; font-size:0.819em; }
#box_campi_ricerca .showhide_button { position:absolute;z-index:11000;top:20; right:0; }
#box_campi_ricerca #form_cercavia .oppureLabel { float:left;padding:5px;font-weight:bold }
#tabbed_search_area\:form_cercavia\:scelta_civico,
#tabbed_search_area\:form_cercavia\:bottone_reset_via { margin:10px auto 0 auto;clear:both; }

/* ============================	*/
/* AREE VARIE DELLA PAGINA    	*/
/* ============================	*/

#header { color: black; clear: both; width:auto; position: absolute; top: 0; left:50px; z-Index: 999; }
#header table { border:0;margin:10px; padding: 10px; background: rgb(235, 235, 235); background: rgba(235, 235, 235, 0.8); border-radius: 10px;  }
#header #area_titolo_pagina { width: auto;clear:both }
#header #area_titolo_pagina img { vertical-align: top; margin: 0 5px 0 5px; float: left;  }
#header #area_titolo_pagina #blocco_testo { float:left;text-align: justify; }
#header #area_titolo_pagina #area_settore, #header #area_titolo_pagina #sottotitolo { font-size: 0.819em; font-weight: bold }
#header #area_titolo_pagina #blocco_testo h1 { padding:0 0 5px 0;width:auto;margin:0; font-weight: bold;font-size: 1.134em /* (equivale a 18px) */; }
#header #area_titolo_pagina #link_comune, #header #area_titolo_pagina .link_comune { font-weight: bold; font-size: 0.819em; margin: 5px 0 0 0;  letter-spacing: 2px }

/* ========================= */
/* FOOTER					 */
/* ========================= */
#footer_area_over { position: absolute; right: 10px; bottom: 20px; z-Index: 999; font-size: 0.63em /* equivale a 10px */ }
#footer_area_over .blocco_link { float: left;padding: 0 10px }
#footer_area_over ul { list-style-type: square; padding:0; margin:0; }
#footerVisibility { position:absolute;z-index:11000;right: 10px; bottom: 20px; }

/* =============================== */
/* TAB PER POPUP CON PIU RISULTATI */
/* =============================== */

ul.tabbedPopup { margin: 0; padding: 0; overflow: hidden; }
ul.tabbedPopup li { list-style-type: square; margin: 5px 0 0 0; padding: 5px 0 0 0; }
/* Style the links inside the list items */
ul.tabbedPopup li a { /*display: inline-block;*/ color: blue; text-align: center; padding: 14px 16px; text-decoration: none; transition: 0.3s; }
/*ul.tabbedPopup li a:hover { text-decoration: underline; font-style: oblique; }*/
/* Create an active/current tablink class */
/*ul.tabbedPopup li a:focus, .active { text-decoration: none; font-style: oblique; font-weight: bold; }*/
/* Style the tab content */
.popupTabContent { display: none; padding: 6px 12px; }
.popupTabContent h3 { font-weight: bold; }

/* ======================== */
/* LAYER SWITCHER			*/
/* ======================== */
#layerswitcher_area_over { position: absolute; left: 10px; bottom: 30px; z-Index: 999; font-size: 0.819em; /* equivale a 13px */ }
#layerswitcher_area_over .box_inner { margin-left:30px }
#layer_switcherVisibility { position:absolute;z-index:11000;left: 10px; bottom: 20px; }

/* ============================	*/
/* 	STILE BOTTONE NEL POPUP		*/
/* ============================	*/
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff; box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%); background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%); background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; border:1px solid #dcdcdc;
	text-decoration:none; text-shadow:0px 1px 0px #ffffff; display:inline-block; cursor:pointer; width: auto; /*float: right;*/ margin:7px; padding:3px 14px 0 0;
	color:#777777; font-family:arial; font-weight:bold; font-size: 120% }
	
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%); background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%); background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active { position:relative; top:1px; }
.myButton .innerButton { padding:7px 10px 0 10px; float:right; }

table.descrizione_contenuti { border-collapse: collapse; }
table.descrizione_contenuti td { vertical-align: top; border-bottom: 1px solid black; padding: 7px; }
table.descrizione_contenuti td:nth-child(1) { font-weight: bold }

/* ========================= */
/* CLASSI DI UTILITA		 */
/* ========================= */
.floatleft{ float: left }
.marginauto{ margin: auto }
.red { color:red }

.nowrap { white-space: nowrap; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
