<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CidServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CidServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsCidBari/CidService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CidServiceSoap"
                contract="ConfigServiceReference.CidServiceSoap" name="CidServiceSoap" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsCidBari/CidService.asmx"
                binding="customBinding" bindingConfiguration="CidServiceSoap12"
                contract="ConfigServiceReference.CidServiceSoap" name="CidServiceSoap12" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
