<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>.....</title>
</head>
<body>
<div id="header_inner" th:fragment="header" class="container">

	<nav aria-label="Menù utente" 
		class="navbar navbar-expand-lg bg-light">
		 <div class="container-fluid">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
		    	data-bs-target="#navbarToggler" 
		    	aria-controls="navbarToggler" 
		    	aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarToggler">
		      <a class="navbar-brand" href="#" th:text="#{label.nome_applicazione}">IbcSecurity</a>
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link" th:href='@{/comunisecurity/list.htm}' th:text="#{label.gestione_attivazioni}">label.gestione_attivazioni</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href='@{/comunisecurityparam/list.htm}' th:text="#{label.parametri_di_configurazione}" >label.parametri_di_configurazione</a>
		        </li>
		        
		        <li class="nav-item">
		          <a class="nav-link" th:href='@{/comunisecurityapp/list.htm}'  th:text="#{label.applicazioni_autorizzate}">label.applicazioni_autorizzate</a>
		        </li>
		        
		        <li class="nav-item">
		          <a class="nav-link" th:href='@{/comunisecuritysession/list.htm}' th:text="#{label.lista_degli_accessi}">label.lista_degli_accessi</a>
		        </li>
		        
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            WSDL
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" target="_blank" th:href='@{/services/sigeproSecurity.wsdl}' >WSDL v1</a></li>
		            <li><a class="dropdown-item" target="_blank" th:href='@{/services-v2/sigeproSecurityV2.wsdl}' >WSDL v2</a></li>
		          </ul>
		        </li>
		        
		        
		        <li class="nav-item">
		          <a class="nav-link" th:href='@{/logout}' th:text="#{label.logout}">label.logout</a>
		        </li>

		       
		      </ul>
		    </div>
		  </div>
		</nav>
</div>

</body>
</html>