<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Notifiche</title>
</head>
<body>

	<div th:if="${(param.status_msg != null)}" th:fragment="notifiche" class="container-sm">

		<div class="alert alert-success alert-dismissible fade show"
			th:if="${param.status_msg[0] == '02'}" role="alert">
			<span th:text="#{status.msg.02}">....</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-success alert-dismissible fade show"
			th:if="${param.status_msg[0] == '01'}" role="alert">
			<span th:text="#{status.msg.01}">....</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-success alert-dismissible fade show"
			th:if="${param.status_msg[0] == '05'}" role="alert">
			<span th:text="#{status.msg.05}">....</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show"
			th:if="${param.status_msg[0] == '04'}" role="alert">
			<span th:text="#{status.msg.04}">....</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="alert alert-danger alert-dismissible fade show"
			th:if="${param.status_msg[0] == '03'}" role="alert">
			<span th:text="#{status.msg.03}">....</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

	</div>

</body>
</html>