:root {
    --main-bg-color: white;
    --accent-color: #b61218;
    --inverse-text-color: white;
    --text-color: black;
    --modal-backdrop-color: rgba(0, 0, 0, 0.4);
    --form-element-border-color: #ced4da;
    --error-color: #ba0000;

    --table-header-color: #deddcc;
    --table-row-color: white;
    --table-alt-row-color: rgba(0, 0, 0, 0.03);
    --table-hover-color: rgba(0, 0, 0, 0.05);

    --default-padding: 12px;
    --half-padding: 6px;
    --double-padding: 24px;

    --color-critical: /* #df001e*/ var(--accent-color);
    --color-warning: #f3c716;
    --color-success: #42a548;
    --color-default: #c0c0c0;
    --color-label-header: #696969;
    
    --label-max-width: 150px;
}
