.vbg-form .form-group {
    white-space: nowrap;
    margin-bottom: var(--default-padding);
}

.vbg-form .form-group > label {
    display: inline-block;
    width: var(--label-max-width);
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 2em;
    vertical-align: top;
}

.vbg-form .form-group input,
.vbg-form .form-group select,
.vbg-form .form-group textarea,
.vbg-form .form-group .readonly-form-control {
    padding: var(--half-padding) var(--default-padding);
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid var(--form-element-border-color);
    min-width: 150px;
}

.vbg-form .form-group input[type=checkbox] {
    min-width: auto;
    padding: 0;
    margin-left: 0;
    height: 1.5em;
}

.vbg-form .form-group .readonly-form-control {
    display: inline-block;
    white-space: normal;
    background-color: var(--table-hover-color);
    min-width: 150px;
}


.vbg-form .form-group .readonly-form-control:empty:before {
	content: "\200b";
}

.vbg-form .form-group .readonly-form-control > ul {
	padding: 0;
    margin: 0;
    list-style-type: none;
}

.vbg-form .form-group input:focus,
.vbg-form .form-group select:focus,
.vbg-form .form-group textarea:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}

.vbg-form .form-group .input-help {
    font-style: italic;
    margin-left: var(--label-max-width);
    padding-left: var(--half-padding);
    white-space: normal;
}

.vbg-form .form-button {
	padding-bottom: var(--default-padding);
	padding-top: var(--default-padding);
}

.vbg-form .input-error {
    display: inline-block;
    border-color: var(--error-color) !important;
    color: var(--error-color);
}

.vbg-form .validation-feedback {
    padding-left: 154px; /* :( FIXME: gli spazi tra controlli devono essere ignorati */
    padding-top: var(--half-padding);
}

.vbg-form .form-group textarea {
    min-width: 40em;
    height: 8em;
}

.vbg-form fieldset {
    border: 1px solid var(--form-element-border-color);
    padding: var(--default-padding);
    margin-bottom: var(--default-padding);	
}

.vbg-form fieldset legend {
    border: 1px solid var(--form-element-border-color);
    padding: 4px var(--default-padding);
    text-transform: uppercase;
    font-size: 1.2em;
}

.vbg-form fieldset > legend > i {
	margin-right: var(--half-padding);
}

.vbg-form fieldset.collassabile > legend {
	cursor: pointer;
}

.vbg-form fieldset.collassabile.collassato > legend > i.fa-chevron-up {
	display: none;
}

.vbg-form fieldset.collassabile.collassato > legend > i.fa-chevron-down {
	display: inline;
}

.vbg-form fieldset.collassabile.collassato > .form-group {
	display: none;
}

.vbg-form fieldset.collassabile > legend > i.fa-chevron-up {
	display: inline;
}

.vbg-form fieldset.collassabile > legend > i.fa-chevron-down {
	display: none;
}

/*FIX VARI PER COMPONENTI GIA'ESISTENTI*/
.vbg-form .form-group .searchbox {
    background-position-y: center;
    background-position-x: var(--half-padding);
    padding-left: var(--double-padding);
}

.vbg-form a,
.vbg-form .vbg-link {
    color: var(--accent-color);
}  

