#wrapper {
    position: absolute;
    top: 0;
    padding-left: 20px;
    z-index: 1;
    background-color: transparent;
    width: 100%;
    >div{
        background-color: @content-background-color;
        padding-left: 8px;
    }
}

.navbar-static-top {
    background: @default-widget-background-color;
}