.btn {
    border-radius: 1px;
}

.btn-primary {
    background-color: @primary-button-color;
    border-color: @primary-button-color;
    color: @primary-button-text-color ;
    background-image: none;
}

.btn-primary:hover {
    background-color: @primary-button-color-hover;
    border-color: @primary-button-color-hover;
    color: @primary-button-text-color;
}

.btn-default {
    color: inherit;
    background: @default-button-color;
    border: 1px solid @default-button-border;
}

.btn-default:hover {
    color: inherit;
    background: @default-button-color;
    border: 1px solid @default-button-border-hover;
}
