table td {
    padding-top: 8px;
    padding-bottom: 8px;
}

table label {
    font-weight: normal;
}

tr {
    &.titoloSezione{
    	background-color: @default-widget-background-color;
        border-bottom: 1px solid @default-widget-background-color-dark;
        font-size: 1.2em;
        font-weight: bold;
    }

    &.titoloSezione label {
        margin-top: 20px;
        margin-bottom: 10px;        
    }
    
    &.titoloSottoSezione {
    	background-color: @default-widget-background-color;
        border-bottom: 1px solid @default-widget-background-color-dark;
        font-size: 1.1em;
        font-weight: bold;
    }

    &.titoloSottoSezione label {
        margin-top: 20px;
        margin-bottom: 10px;        
    }
    
}

td {
	
    &.titoloSottoSezione {
    	background-color: @default-widget-background-color;
        border-bottom: 1px solid @default-widget-background-color-dark;
        font-size: 1.1em;
        font-weight: bold;
    }

    &.titoloSottoSezione label {
        margin-top: 20px;
        margin-bottom: 10px;        
    }	
}

