
.form-control {    
    background-color: @form-control-color;
    background-image: none;
    border: 1px solid @form-control-border-color;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    box-shadow: none;
}

.input-group-addon {
	background-color: @default-background-color;
    border: 1px solid @form-control-border-color;
    border-radius: 1px;
}
    