.data_nei_termini:before{


}

.data_in_scadenza:before{

	content: "\F017";
	color: #ff9b00;
	font-family: FontAwesome;
	font-size: 1.4em;
	line-height: 1em;
	padding-right: 2px;
}

.data_scaduta:before{

	content: "\F017";
	color: #cc3300;
	font-family: FontAwesome;
	font-size: 1.4em;
	line-height: 1em;
	padding-right: 2px;
}