.menu-utente {
    .dati-utente {
        color: @content-background-color;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        margin-top: 18px;

        &>i {
            font-size: 32px;
        }

        &>h2 {
            color: @default-accent-color;
            width: 100%;
            text-align: center;
            font-size: 18px;
            margin-top: 8px;

            &>small {
                color: #a7b1c2;
            }
        }
    }

    .dropdown {
        width: 100%;
        
        .dropdown-toggle {
            padding-bottom: 0.4em;
        }

        .dropdown-menu {
            position: relative;
            width: 100%;
            background-color: #f3f3f4;
            margin-bottom: 18px;
            margin-left: -0.4em;
            padding-left: 0.6em;
            box-sizing: content-box;
            border-radius: 0;
            padding-top: 2px;
            padding-bottom: 2px;
            box-shadow: 0px 1px 2px 0px #888888 inset;



            li {
                background-color: @default-widget-background-color;
                padding: .2em 1em;
                border-top: none;
                margin-left: -0.6em;

                a:hover {
                    background-color: transparent;
                    background-image: none;
                }
            }

            li:last-child {
                border-bottom: 0;
            }

            li:hover {
                background-color: @default-widget-background-color-dark;
            }

            a {
                color: @default-accent-color;
            }

            .divider {
                background-color: #2b3b49;
            }
        }
    }
}