<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://centroservizi.sigepro.it:5000</RegistryUrl>
    <UserName>registryadm</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cfc2bb03-7c1d-4bc7-94fb-3ad76f0e8ccf</ProjectGuid>
    <_TargetId>DockerCustomContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>