/* Default layout Table of Contents:
    1.  Global
    6.  Page
    7.  Content
    8.  SubContent
    9.  Navigation
    10. Sidebar
    11. Footer 
    12. Footer Legal
    13. Various classes
    14. Schede Dinamiche
*/
@IMPORT url("../header/header.css");

@IMPORT url("../buttons/button.css");

@IMPORT url("../effects/effect.css");

@IMPORT url("../jmesa/jmesa.css");

/* ----------------------------------------------------------------------*/
	/* ----------------------------->>> GLOBAL <<<---------------------------*/
	/* ----------------------------------------------------------------------*/
body {
	margin: 0;
	margin-left: 1px;
	padding: 0;
}

p,ol,ul {
	
}

a {
	
}

a:hover {
	
}

hr {
	display: none;
}

#menu {	
	/*top:50px;*/
	/*font-size: 11px;*/
	float: left;
	left: 0px;
	height: 37px;
	width: 99%;
	z-index: 100;
}

/* ----------------------------------------------------------------------*/
	/* ------------------------------>>> Page <<<----------------------------*/
	/* ----------------------------------------------------------------------*/
#wrapper {
	clear: both;
	min-height: 52em;
	padding-top: 2px;
}

#page {
	margin: 1em 1em 0 1em;
	padding: 0;
}

/* ----------------------------------------------------------------------*/
	/* ----------------------------->>> Content <<<--------------------------*/
	/* ----------------------------------------------------------------------*/
#content {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 50px !important;
}

#formContainer {
	display: block;
	width: 100%;
}

/*utilizzato per visualizzare su mobile le tabelle con scroll */
@media only screen and (max-device-width: 1024px) {
	.jmesa .table {
		display: block;
		overflow: auto;
	}
}

.label { /*display: inline; /* IE bug Hack */
	
}

.form { /*display: inline; /* IE bug Hack */
	
}

.rowForm {
	width: 100%;
	display: block;
	padding-bottom: 5px;
	float: left;
}

.cell {
	float: left;
	margin: 5px;
}

.clear {
	clear: both;
}

.posteggi_dettaglio {
	position: absolute;
	z-index: 1000;
}

/*VISUALIZZAZIONE DEI PARAMETRI*/

/* nuova struttura istanze */


		
.header_dato_etichetta {
    vertical-align: top;
    color: #696969;
    font-size: 1.0em;
    font-weight: bold;
    width: 180px;
    max-width: 180px;
    display: inline-block;
}


.header_dato_valore {
    vertical-align: top;
    color: #B61218;
    font-size: 1.0em;
    font-weight: bold;
    width: 300px;
    max-width: 300px;
    display: inline-block;
}

.etichetta {
	float: left;
	display: inline;
	min-width: 100px;
}

.etichetta>div {
	display: block;
	margin-right: 20px;
}

.help_pagina {
	padding-left: 18px;
	background: url("../../images/help.gif") no-repeat left center;
}

.parametro {
	display: block;
	min-width: 100px;
	float: left;
}

.parametro>div {
	
}

.parametriDiv {
	/*float: left;*/
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
	min-width: 200px;
}

.anteprima-chiuso {
	margin-top: 10px;
	width: 98%;
	height: 10px !important;
}
/*NUOVA VISUALIZZAZIONE DEI PARAMETRI - CSS UTILIZZATI DAL TAG <init:labelValue/>
.etichetta {
	display: block;
	float: left;
	display: inline;
	min-width: 150px;
}
.etichetta>div {
	margin-right: 5px;
}
.parametro {
	display: block;
	min-width: 200px;
	float: left;
}
.parametro>div {
	
}
.parametriDiv {
	float: left;
	clear: both;
	display: block;
	min-width: 500px;
}
*/
	/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Navigation <<<--------------------------*/
	/* ----------------------------------------------------------------------*/
#navigation {
	
}

#help {
	z-index: 5000;
	float: right;
	width: 20%;
}

/* ----------------------------------------------------------------------*/
	/* ---------------------------->>> Sidebar <<<---------------------------*/
	/* ----------------------------------------------------------------------*/
#sidebar {
	float: right;
	width: 15%;
	margin-top: 2em;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	margin-bottom: 30px;
}

#sidebar li ul {
	
}

#sidebar li li {
	margin: 0;
	padding: 4px 0 4px 0;
}

#sidebar li li a {
	
}

#sidebar h2 {
	padding: 0;
	margin: 0 0 6px 0;
}

#sidebar a {
	
}

#sidebar a:hover {
	
}

/* ----------------------------------------------------------------------*/
	/* ---------------------------->>> Footer <<<----------------------------*/
	/* ----------------------------------------------------------------------*/
#footer {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer a {
	
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	display: block;
	float: left;
	width: 300px;
	padding-left: 20px;
}

#footer li.first {
	padding-left: 0;
}

#footer li ul {
	margin: 0;
	margin-bottom: 30px;
}

#footer li li {
	display: list-item;
	float: none;
	margin: 0;
	padding: 2px 0;
}

#footer li li a {
	
}

#footer h2 {
	margin-top: 0;
}

/* ----------------------------------------------------------------------*/
	/* --------------------------->>> Footer Legal <<<-----------------------*/
	/* ----------------------------------------------------------------------*/
#legal {
	clear: both;
	margin: 0;
	padding: 10px 0;
}

#legal a {
	
}

/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Various classes <<<---------------------*/
	/* ----------------------------------------------------------------------*/
.timestamp {
	
}

.timestamp a {
	
}

.blue {
	
}

.error_header {
	background-image: url(../../images/error.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.error {
	
}

.error_panel_iv {

}

.error_panel_initex {

}

.error_panel_genex {

}

.success,.success_header {
	background-image: url(../../images/success.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
}


.warning_header {
	background-image: url(../../images/warning.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.fade {
	
}

.gray {
	
}

.help_inline {
	position: absolute;
	z-index: 1000;
}

.help_image {
	background-image: url('../../images/help.gif');
	background-repeat: no-repeat;
	background-position: center;
	/*margin-bottom: 5px;*/
}

.help_image label {
	visibility: hidden;
}

.info_inline {
	position: absolute;
	z-index: 1000;
}

.info_image {
	background-image: url('../../images/info.gif');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 5px;
}

.info_image label {
	visibility: hidden;
}

.warning_inline {
	position: absolute;
	z-index: 1000;
}

.warning_image {
	background-image: url('../../images/warning.gif');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 5px;
}

.warning_image label {
	visibility: hidden;
}


.searchbox {
	background-image: url('../../images/magnifying-glass.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}

/* E' utilizzato nella funzionalità anagrafe per avere lo sfondo rosso 
del searchbox  */
.searchboxBackgroudRed {
	background-image: url('../../images/magnifying-glass.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}


.anagrafeDiffValue{
	padding-left: 1px;
	padding-right: 2px;
	color: 	#990000;
	border: 1px;
	border-style: dashed;	
	font-style: italic;
}


.clear {
	clear: both;
}

.generic_dialog {
    width: 1024px;
    height: 800px;
    padding: 2px;
    background: #fff; 
    /*margin: 0 auto; */
    /*overflow: auto; */
}

.alertLine{
	
}
.warningLine{

}

/**
	Classe che viene applicata al jquery dialog di conferma accettazione
	quando si tenta di eliminare senza aver accettato le condizioni 
**/
.invalid { color: red; }


/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Schede Dinamiche <<<--------------------*/
	/* ----------------------------------------------------------------------*/
.listaSchede {
	margin: 0;
	padding-bottom: 19px;
	padding-left: 10px;
	text-transform: uppercase;
}

.listaSchede ul,.listaSchede li {
	display: inline;
	margin: 0;
	padding: 0;
}

.listaSchede a:link,.listaSchede a:visited {
	float: left;
	margin-right: 8px;
	padding: 2px 10px 2px 10px;
}

.listaSchede a:hover {
	
}

.listaSchede a.SchedaAttiva {
	
}

.editor_ok_button {
	background-image: url(../../images/save.png);
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	text-indent: -9000px;
	color: transparent; /* Fix for FF */
	border-style: none;
	border-width: 0;
	padding: 0 0 0 16px !important; /* Fix for IE */
	text-align: left;
	width: 16px;
	height: 16px;
	line-height: 1 !important;
	overflow: hidden;
}

.editor_cancel_button {
	background-image: url(../../images/cross.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	text-indent: -9000px;
	color: transparent; /* Fix for FF */
	border-style: none;
	border-width: 0;
	padding: 0 0 0 16px !important; /* Fix for IE */
	text-align: left;
	width: 16px;
	height: 16px;
	line-height: 1 !important;
	overflow: hidden;
}

.loading {
	cursor: wait;
}

.elab_image {
	float: left; 
	margin: 0px 5px 0px 5px; 
	width: 16px;
}

.elab_image_38 {
	width: 38px;
}

.elab_image_text {
	width: 10px;
	cursor: pointer; 
	font-size: 14px; 
	color: #B61218; 
	font-weight: bold;
}


.num_slot_in_data_maggiore_di {
	background-color: #ebccd1;
}

.num_slot_in_data_minore_di{
	
}