* {
	outline-style: none;
	outline-width: 0;
}

body {
	color: #696969;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: center;
	min-width: 725px;
}

#container {
	padding: 0;
	width: 725px !important;
	margin: 0 auto;
}

#header {
	width: 725px;
	margin: 0 auto;
	height: 80px;
}

.title {
	font-size: 16px;
	font-weight: bold;
}

.subtitle {
	margin-top: 10px;
}

.comunetitle {
	margin-top: 10px;
	font-weight: bold;
}

#content {
	margin: 0 auto;
	float: left;
}

#inset {
	height: 21px;
	float: left;
}

#inset_l {
	background-color: #B8B8AD;
	height: 21px;
	width: 218px;
	float: left;
}

#inset_c {
	height: 21px;
	width: 317px;
	float: left;
	font-weight: bold;
	border-top: 1px solid #B8B8AD;
	padding-top: 2px;
}

#inset_r {
	background: #FFFFFF url(../../images/shaded_squares.gif) no-repeat scroll center
		top;
	height: 21px;
	width: 190px;
	float: left;
}

.slogan {
	text-align: center;
	text-transform: uppercase;
}

#form {
	float: left;
	background: #FFFFFF url(../../images/login_bg.gif) repeat-y left top;
}

#form_l {
	width: 218px;
	float: left;
}

#form_c {
	width: 317px;
	margin-top: 50px;
	float: left;
}

#form_r {
	width: 190px;
	float: left;
}

#form_r label {
	
}

.separator {
	clear: both;
}

ul.errors {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	background: #EF858D url(../../images/error_bg.gif) repeat-x scroll
		left bottom;
	border-left: 1px solid #CE7076;
	border-right: 1px solid #CE7076;
	border-top: 1px solid #CE7076;
	color: #631110;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 25px;
	padding: 15px 15px 5px;
	list-style-type: none;
}

ul.errors li {
	margin: 0 0 10px;
	padding: 0;
}

ul.success {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	background-color: #87B500;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #689300;
	border-top: 1px solid #689300;
	color: #FFFFFF;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 25px;
	padding: 15px 15px 5px;
	list-style-type: none;
}

ul.success li {
	margin: 0 0 10px;
	padding: 0;
}

ul.modulo {
	list-style-image: url(../../images/item_arrow.gif);
}

ul.modulo li {
	margin-left: 10px;
	padding: 0 0 5px 0;
	text-align: left;
}

.inputtext {
	width: 100px;
}

.login_button {
	background: #B61218 url(../../images/button_bg.gif) repeat-x scroll
		center top;
	border-color: #DDDDDD #870D13 #870D13 #DDDDDD;
	border-style: solid;
	border-width: 0 1px 1px 0;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin: 0;
	overflow: visible;
	padding: 0 15px;
	text-shadow: 1px 1px #870D13;
}

.messages{
	margin-top: 20px;
}

.error{
	background-image: url(../../images/error.png); 
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	color: #E86857;
	font-weight: bold;
}

#footer {
	clear: both;
	text-align: center;
	border-top: 1px solid #B8B8AD;
}

#messages {
	margin-top: 20px;
}