div.autocomplete {
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute; /* aggiunto per firefox*/
	z-index: 100;
}

div.autocomplete ul {
	margin: 0px;
	padding: 0px;
}

div.autocomplete ul li.selected {
	
}

div.autocomplete ul li {
	display: block;
	margin: 0px;
	padding: 2px;
	/*height: 32px; commentato per risolvere problema multi riga*/
}

div.indicator {
	background: url('../../images/ajax-loader.gif') no-repeat left bottom;
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 16px;
	z-index: 99;
	display: block;
	background-color: white;
	border: 1px solid #888;
}