.servizio_title{
	font-weight: bold;
	padding: 10px;
}
.servizio_form{
	padding: 10px;
	height: 200px;
}
.parameter{
	margin-bottom: 10px;
}
.label{
	width: 50%;
	float: left;
}
.field{
	float: left;
}
.separator{
	width: 90%;
	margin: 20px;
	border-top: 2px #000000 dotted;
}
.top {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  height: 300px;
  overflow: scroll;
}

.top_no_scroll {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  height: 300px;
}

.legend {
	font: italic;
}