.vbg-form {
    .form-group {
        white-space: nowrap;
        margin-bottom: var(--default-padding);

        > label {
            display: inline-block;
            width: 150px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            line-height: 2em;
            vertical-align: top;
        }

        input,
        select,
        textarea,
        .readonly-form-control {
            padding: var(--half-padding) var(--default-padding);
            box-sizing: border-box;
            font-size: 1em;
            border: 1px solid var(--form-element-border-color);
            min-width: 150px;
        }

        .readonly-form-control {
            display: inline-block;
            white-space: normal;
            background-color: var(--table-hover-color);
            min-width: 150px;
        }

        input:focus,
        select:focus,
        textarea:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
        }

        textarea {
            min-width: 40em;
            height: 8em;
        }
    }

    .input-error {
        display: inline-block;
        border-color: var(--error-color) !important;
        color: var(--error-color);
    }

    .validation-feedback {
        padding-left: 154px; /* :( FIXME: gli spazi tra controlli devono essere ignorati */
        padding-top: var(--half-padding);
    }
}
