.m-1 {
    margin: var(--half-padding);
}

.mt-1 {
    margin-top: var(--half-padding);
}

.mb-1 {
    margin-bottom: var(--half-padding);
}

.ms-1 {
    margin-left: var(--half-padding);
}

.me-1 {
    margin-right: var(--half-padding);
}



.m-2 {
    margin: var(--default-padding);
}

.mt-2 {
    margin-top: var(--default-padding);
}

.mb-2 {
    margin-bottom: var(--default-padding);
}

.ms-2 {
    margin-left: var(--default-padding);
}

.me-2 {
    margin-right: var(--default-padding);
}


.m-3 {
    margin: var(--double-padding);
}

.mt-3 {
    margin-top: var(--double-padding);
}

.mb-3 {
    margin-bottom: var(--double-padding);
}

.ms-3 {
    margin-left: var(--double-padding);
}

.me-3 {
    margin-right: var(--double-padding);
}
