.vbg-table {
    width: 100%;
    background-color: var(--main-bg-color);
    border-collapse: collapse;
    margin-top: var(--default-padding);

    td, th {
        padding: var(--default-padding);
        text-align: left;
    }

    thead {
        th {
            background-color: var(--table-header-color);
        }

        tr {
            border-bottom: 1px solid var(--table-hover-color);
        }
    }

    & > tbody {

        & > tr {
            border-bottom: 1px solid var(--table-hover-color);
        }

        & > tr:nth-child(even) {
            background-color: var(--table-row-color);
        }

        & > tr:nth-child(odd) {
            background-color: var(--table-alt-row-color);
        }

        & > tr:hover {
            background-color: var(--table-hover-color);
        }
    }
}
