@import url("layout.css");

body
{
    background: url(../../images/contenuti/bg.jpg) no-repeat center top;
}

#contenitore > #testata
{
    background-image: url(../../images/contenuti/bg-testata-asproma.png);
}

#contenitore > #testata >#step1.on
{
    background-image: url(../../images/contenuti/bt-categoria-on.png);
}

#contenitore > #testata >#step1.off
{
    background-image: url(../../images/contenuti/bt-categoria-off.png);
}

#contenitore > #testata >#step2.on
{
    background-image: url(../../images/contenuti/bt-intervento-on.png);
}

#contenitore > #testata >#step2.off
{
    background-image: url(../../images/contenuti/bt-intervento-off.png);
}

#contenitore > #testata >#step3.on
{
    background-image: url(../../images/contenuti/bt-adempimenti-on.png);
}
#contenitore > #testata >#step3.off
{
    background-image: url(../../images/contenuti/bt-adempimenti-off.png);
}

#contenitore > #contenutoCentrale.step-1
{
    background-image: url(../../images/contenuti/bg-centrale-hp.png);
}

#contenitore > #contenutoCentrale.step1
{
    background-image: url(../../images/contenuti/bg-interno-blu.png);
}

#contenitore > #contenutoCentrale.step2
{
    background-image: url(../../images/contenuti/bg-interno-verde.png);
}

#contenitore > #contenutoCentrale.step3
{
    background-image: url(../../images/contenuti/bg-interno-arancio.png);
}

#contenitore > #footer
{
     background-image: url(../../images/contenuti/bg-down.png);  
     color: #b0b0b0;  
}

/* BONVENUTO */
#benvenuto > h1
{
    color: #3e4775;
}

#benvenuto > h2
{
    color: #3e4775;
}

#benvenuto > .tipologieRicerca
{
    color: #999997;
}

#benvenuto > .tipologieRicerca > ul.tipiRicerca > li > a > .titolo
{
    color: #999997;
}

#benvenuto > .tipologieRicerca > ul.tipiRicerca > li > a > .descrizione
{
    color:#3e4775;
}

#benvenuto > .tipologieRicerca > ul.tipiRicerca > li > a
{
    background-image: url(../../images/contenuti/pallucco-tipo-ricerca.png);
}
