.card-teaser:hover {
    border-left: 3px solid var(--main-primary);
    transform: scale(1.03);
}

.card-teaser > a {
    text-decoration: none;
}

.titolo-card {
    font-size: 1.3rem;
    font-weight: normal;
}

    .titolo-card:hover {
        text-decoration: underline;
    }

.descrizione-card {
    color: var(--text-secondary);
}
