<div class="container-fluid sezione-home home-faq">
    <div class="container">
        <h2>Domande frequenti</h2>

        <div class="lista-faq">
            <div class="faq-item" *ngFor="let f of (topFaq$ | async)">
                <a [routerLink]="[urlDettaglioFaq,f.id]">
                    <div class="corpo-faq">

                        <h4 *ngIf="f.descrizioneCategoria"><i class="glyphicon glyphicon-tag"></i> {{f.descrizioneCategoria}}</h4>
                        <h3 [innerHtml]="f.titolo"></h3>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
