<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MovimentiFrontofficeServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MovimentiFrontofficeServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/MovimentiFrontofficeService.asmx" binding="basicHttpBinding" bindingConfiguration="MovimentiFrontofficeServiceSoap" contract="MovimentiWebService.MovimentiFrontofficeServiceSoap" name="MovimentiFrontofficeServiceSoap" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/MovimentiFrontofficeService.asmx" binding="customBinding" bindingConfiguration="MovimentiFrontofficeServiceSoap12" contract="MovimentiWebService.MovimentiFrontofficeServiceSoap" name="MovimentiFrontofficeServiceSoap12" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>