/*-------------------------------------------------------------------------------------------------------
										TABELLE E GRIGLIE
*/

/* attributi comuni dei tag*/
TABLE
{
	/*border-collapse:collapse;*/
	border: 0px solid;
	width: 100%;
	line-height:normal;
	vertical-align:middle;	
}

TD
{
	padding-left:5px;
	border: 2px solid #fff;
}

TABLE TD INPUT
{
	float:none;
	/*padding: auto;*/
}


/* attributi specifici delle varie sezioni */
.IntestazioneTabella , TH 
{
	border: 2px solid #fff;
	font-weight: bold;
    background-color: #deddcc;
    text-align: left;
    padding-left: 5px;
}

TH A:hover, TH A:active, TH A:visited, TH A 
{
	color: #696969;
}

.Riga
{
    background-color: #fff;
}

.Riga:hover
{
	background-color: #FDECAE;
}

.RigaAlternata
{
	/*background-color: #e9e9e9;*/
	background-color: #ffffff;
}

.RigaAlternata:hover
{
	background-color: #FDECAE;
}

.RigaSelezionata
{
	background-color: #d5d5df;
}

.PiedeTabella
{
}

.NessunRecordTrovato
{
	text-align: center;
}

.Pager TABLE{ width:auto;}

.ErroriSistemaTabella 
{
	width: 600px; 
	margin: 0px auto;
}

.ErroriSistemaTabella TABLE{ border:solid 1px #000; border-collapse:collapse; }

.ErroriSistemaTabella TABLE TD{ border:solid 1px #000;padding:4px;}

.ErroriSistemaTabella TABLE TR:hover{ background-color:#FDECAE;}
