#datiDinamici {
    --bs-gutter-x: 1.5rem;
}

section.blocco-multiplo > div:last-child {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.lista-schede-richieste {
    margin-top:1em;
}

.titolo-scheda {
    margin-left: 1em;
}

@media (min-width: 768px) {
    .modal.it-dialog-scrollable .modal-dialog:not(.spinner) {
        max-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .modal.it-dialog-scrollable .modal-dialog:not(.spinner) {
        max-width: 1200px;
    }
}