@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPecZTIAOhVxoMyOr9n_E7fdMPmCA.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzZg.ttf) format('truetype');
}
/*
@titolo1-dimensione: 40px;
@titolo2-dimensione: 32px;
@titolo3-dimensione: 23px;
@titolo4-dimensione: 21px;
@titolo5-dimensione: 18px;
@titolo6-dimensione: 18px;
*/
body.portale-comunale {
  font-family: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 18px;
  line-height: 1.55;
  color: #1e1e1e;
}
.portale-comunale {
  /*.home-decorazione {
    height: 300px;
    overflow: hidden;
    padding: 0px;

    &>img {
      position: fixed;
      z-index: -1;
      width: 100%;
      top: 0;
    }
}*/
}
.portale-comunale .social-links > a:hover {
  text-decoration: none;
}
.portale-comunale h1,
.portale-comunale h2,
.portale-comunale h3,
.portale-comunale h4,
.portale-comunale h5,
.portale-comunale h6 {
  line-height: 1.2;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 13.5px;
}
.portale-comunale h1 {
  font-size: 54px;
}
.portale-comunale h2 {
  font-size: 40px;
}
.portale-comunale h3,
.portale-comunale p.h3 {
  font-size: 32px;
}
.portale-comunale h4,
.portale-comunale p.h4 {
  font-size: 23px;
}
.portale-comunale h5 {
  font-size: 21px;
  font-weight: 500;
  font-variant: small-caps;
}
.portale-comunale h6 {
  line-height: 1.55;
  font-size: 18px;
}
.portale-comunale blockquote {
  font-size: 18px;
  line-height: 1.55;
  font-style: italic;
  padding: 13.5px 27px;
  margin: 0 0 27px;
  border-left: 5px solid #eeeeee;
}
.portale-comunale p {
  margin: 0 0 13.5px;
}
.portale-comunale .glyphicon {
  position: static;
}
.portale-comunale .page-inner {
  margin-bottom: 54px;
}
.portale-comunale .color-inverse {
  background-color: #eee !important;
}
.portale-comunale .btn-group > .btn:last-child:not(:first-child),
.portale-comunale .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 0;
}
.portale-comunale .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.portale-comunale .btn-group .btn.active,
.portale-comunale .btn-group .btn:active {
  box-shadow: none;
}
.portale-comunale .btn-group .btn-default {
  padding: 13px;
}
.portale-comunale .btn {
  font-size: 15px;
  border-radius: 0;
}
.portale-comunale .btn.btn-primary {
  background-color: #66A5E3;
  color: #fff;
}
.portale-comunale .btn.btn-primary:hover {
  background-color: #286090;
}
.portale-comunale .bs-datepicker-head {
  background-color: #0066c6 !important;
}
.portale-comunale .bs-datepicker-body td.week span {
  color: #0066c6 !important;
}
.portale-comunale .home-page .sezione-home {
  padding-bottom: 23px;
}
.portale-comunale .home-page .sezione-home.home-servizi-online {
  background-color: #fff;
}
.portale-comunale .home-page .sezione-home.home-in-primo-piano {
  background-color: #eee;
}
.portale-comunale .home-page .sezione-home.home-news {
  background-color: #fff;
}
.portale-comunale .home-page .sezione-home.home-faq {
  background-color: #eee;
}
.portale-comunale .home-page .sezione-home.home-info {
  background-color: #fff;
}
.portale-comunale .home-servizi-online a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .home-servizi-online .box-funzione {
  background-color: #eee;
  padding: 13px 26px;
}
.portale-comunale .home-servizi-online .box-funzione h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #B01116;
  padding-bottom: 13px;
}
.portale-comunale .home-servizi-online .box-funzione:hover {
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.75);
}
.portale-comunale .home-servizi-online-v2 a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .home-servizi-online-v2 img {
  width: 100%;
}
.portale-comunale .home-servizi-online-v2 p {
  margin: 0;
}
.portale-comunale .home-servizi-online-v2 .box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 421px;
}
.portale-comunale .home-servizi-online-v2 .box-container .box-funzione {
  flex: 1;
  background-color: #eee;
  padding: 13px 26px;
}
.portale-comunale .home-servizi-online-v2 .box-container .box-funzione h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #B01116;
  padding-bottom: 13px;
}
.portale-comunale .home-servizi-online-v2 .box-container .box-funzione:hover {
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.75);
}
.portale-comunale .home-in-primo-piano h3 {
  font-weight: normal;
  border-bottom: 3px solid #1e1e1e;
  padding-bottom: 13px;
  margin-bottom: 0;
}
.portale-comunale .home-in-primo-piano ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.portale-comunale .home-in-primo-piano ul > li {
  padding-bottom: 13px;
  padding-top: 13px;
  border-bottom: 1px solid #d2d2d2;
  background-color: #eee;
}
.portale-comunale .home-in-primo-piano ul > li a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .home-in-primo-piano ul > li:last-child {
  border-bottom: 1px solid transparent;
}
.portale-comunale .home-in-primo-piano ul > li:hover {
  background-color: #eee;
  cursor: pointer;
}
.portale-comunale .home-decorazione {
  position: relative;
  height: 300px;
  overflow: hidden;
  padding: 0px;
}
.portale-comunale .home-decorazione > img {
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: 0;
}
.portale-comunale .home-news .lista-news {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.portale-comunale .home-news .lista-news .news-item {
  width: 100%;
  padding: 12px;
}
@media (min-width: 992px) {
  .portale-comunale .home-news .lista-news .news-item {
    width: 33.3%;
  }
}
.portale-comunale .home-news .lista-news .news-item .corpo-news {
  background-color: #eee;
  padding: 20px;
}
.portale-comunale .home-news .lista-news .news-item .corpo-news a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .home-news .lista-news .news-item .corpo-news:hover {
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.75);
}
.portale-comunale .home-news .lista-news .news-item h3 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 12px;
}
.portale-comunale .home-news .lista-news .news-item .data-pubblicazione {
  font-size: 15px;
  margin-top: 0;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #d2d2d2;
}
.portale-comunale .home-news .lista-news .news-item p {
  margin-bottom: 0;
}
.portale-comunale .home-faq .lista-faq {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.portale-comunale .home-faq .lista-faq .faq-item {
  width: 100%;
  padding: 12px;
}
@media (min-width: 992px) {
  .portale-comunale .home-faq .lista-faq .faq-item {
    width: 33.3%;
  }
}
.portale-comunale .home-faq .lista-faq .faq-item .corpo-faq {
  background-color: #fff;
  padding: 20px;
}
.portale-comunale .home-faq .lista-faq .faq-item .corpo-faq:hover {
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.75);
}
.portale-comunale .home-faq .lista-faq .faq-item h3 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0;
}
.portale-comunale .home-faq .lista-faq .faq-item h4 {
  margin-top: 0;
  font-size: 15px;
  font-weight: normal;
}
.portale-comunale .home-faq .lista-faq .faq-item p {
  margin-bottom: 0;
}
.portale-comunale .home-faq .lista-faq .faq-item a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .home-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.portale-comunale .home-info ul > li {
  padding-bottom: 13px;
  padding-top: 13px;
  border-bottom: 1px solid #d2d2d2;
}
.portale-comunale .home-info ul > li > a {
  color: #1e1e1e;
}
.portale-comunale .home-info ul > li:last-child {
  border-bottom: 1px solid transparent;
}
.portale-comunale .home-info ul > li:first-child {
  border-top: 3px solid #d2d2d2;
}
.portale-comunale .home-info ul > li:hover {
  background-color: #fff;
  cursor: pointer;
}
.portale-comunale .button-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.portale-comunale .button-grid.grid-size-3 .item {
  width: 100%;
}
@media (min-width: 992px) {
  .portale-comunale .button-grid.grid-size-3 .item {
    width: 33.3%;
  }
}
.portale-comunale .button-grid.grid-size-2 .item {
  width: 100%;
}
@media (min-width: 992px) {
  .portale-comunale .button-grid.grid-size-2 .item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .portale-comunale .button-grid.fill-cells .item {
    flex: 1;
  }
}
.portale-comunale .button-grid.fill-cells .item .item-body {
  height: 100%;
  width: 100%;
}
.portale-comunale .button-grid .item {
  padding: 12px;
}
.portale-comunale .button-grid .item .item-body {
  background-color: #eee;
  padding: 20px;
}
.portale-comunale .button-grid .item .item-body:hover {
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.75);
}
.portale-comunale .button-grid .item h3 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0;
}
.portale-comunale .button-grid .item h4 {
  margin-top: 0;
  font-size: 15px;
  font-weight: normal;
}
.portale-comunale .button-grid .item p {
  margin-bottom: 0;
}
.portale-comunale .button-grid .item a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .animated-loader-container {
  display: block;
  width: 100%;
  height: 200px;
  position: relative;
}
.portale-comunale .animated-loader-container .animated-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.portale-comunale .animated-loader-container .animated-loader-inner {
  margin-top: 100px;
  color: #1e1e1e;
  padding: 0 100px;
  text-align: center;
}
.portale-comunale .animated-loader-container .animated-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
}
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
.portale-comunale .animated-loader-container .animated-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}
.portale-comunale .animated-loader-container .animated-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}
.portale-comunale .animated-loader-container .animated-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}
.portale-comunale .animated-loader-container .animated-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}
.portale-comunale .animated-loader-container .animated-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}
.portale-comunale .animated-loader-container .animated-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
.portale-comunale .ricerca-testuale {
  margin-top: 13px;
}
.portale-comunale .ricerca-testuale .input-group .input-group-addon {
  border-color: #1e1e1e;
  border-left: 0;
  border-radius: 0;
  background-color: transparent;
}
.portale-comunale .ricerca-testuale .input-group .form-control {
  border-right: 0;
}
.portale-comunale .ricerca-testuale .form-control {
  padding: 13px;
  border-color: #1e1e1e;
  border-radius: 0;
  font-size: 18px;
  height: auto;
}
.portale-comunale .ricerca-testuale .controlli-ricerca {
  margin-top: 13px;
}
.portale-comunale .ricerca-testuale .search-results {
  background-color: #fff;
  border: 1px solid #1e1e1e;
  border-top: 0;
  padding: 13px;
  z-index: 999;
}
.portale-comunale .ricerca-testuale .dropdown.open {
  z-index: 1;
}
.portale-comunale .ricerca-testuale h3 {
  font-weight: normal;
  border-bottom: 3px solid #1e1e1e;
  padding-bottom: 13px;
  margin-bottom: 0;
}
.portale-comunale .ricerca-testuale ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.portale-comunale .ricerca-testuale ul > li {
  padding-bottom: 13px;
  padding-top: 13px;
  border-bottom: 1px solid #d2d2d2;
  background-color: #fff;
}
.portale-comunale .ricerca-testuale ul > li a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .ricerca-testuale ul > li:last-child {
  border-bottom: 1px solid transparent;
}
.portale-comunale .ricerca-testuale ul > li:hover {
  background-color: #eee;
  cursor: pointer;
}
.portale-comunale .vista-albero .torna-indietro {
  padding: 13px;
  border-bottom: 3px solid #1e1e1e;
}
.portale-comunale .vista-albero .torna-indietro:hover {
  cursor: pointer;
}
.portale-comunale .vista-albero .torna-indietro h4 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: 24px;
  padding-left: 30px;
  position: relative;
}
.portale-comunale .vista-albero .torna-indietro h4 .glyphicon {
  position: absolute;
  top: 0;
  left: 0;
}
.portale-comunale .vista-albero ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.portale-comunale .vista-albero ul > li {
  position: relative;
  padding: 13px;
  padding-right: 26px;
  padding-left: 44px;
  border-bottom: 1px solid #d2d2d2;
  background-color: #fff;
}
@media (min-width: 992px) {
  .portale-comunale .vista-albero ul > li {
    padding-left: 73px;
  }
}
.portale-comunale .vista-albero ul > li a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .vista-albero ul > li > .glyphicon {
  position: absolute;
  top: 15px;
  left: 0;
  padding-left: 13px;
}
@media (min-width: 992px) {
  .portale-comunale .vista-albero ul > li > .glyphicon {
    padding-left: 42px;
  }
}
.portale-comunale .vista-albero ul > li > .pull-right {
  float: none;
  position: absolute;
  top: 13px;
  right: 0px;
  padding-right: 13px;
}
@media (min-width: 992px) {
  .portale-comunale .vista-albero ul > li > .pull-right {
    padding-right: 42px;
  }
}
.portale-comunale .vista-albero ul > li:first-child {
  border-top: 1px solid #d2d2d2;
}
.portale-comunale .vista-albero ul > li:hover {
  background-color: #eee;
  cursor: pointer;
}
.portale-comunale .link {
  cursor: pointer;
  color: #06c;
}
.portale-comunale .link:hover {
  text-decoration: underline;
}
.portale-comunale .griglia-lista-news .news-item {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .portale-comunale .griglia-lista-news .news-item .corpo-news {
    padding: 18px;
  }
}
.portale-comunale .griglia-lista-news .news-item .corpo-news a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .griglia-lista-news .news-item .corpo-news a:hover {
  text-decoration: underline;
}
.portale-comunale .griglia-lista-news .news-item h3 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 18px;
}
.portale-comunale .griglia-lista-news .news-item .data-pubblicazione {
  margin-top: 0;
  margin-bottom: 18px;
  /* text-align: center; */
}
@media (min-width: 992px) {
  .portale-comunale .griglia-lista-news .news-item .data-pubblicazione {
    width: 130px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 18px;
    border-right: 1px solid #d2d2d2;
    text-align: right;
  }
}
.portale-comunale .griglia-lista-news .news-item p {
  margin-bottom: 0;
  padding-bottom: 18px;
  border-bottom: 1px solid #d2d2d2;
}
.portale-comunale .griglia-lista-news.news-item > p:last-child {
  border-bottom: 0;
}
.portale-comunale .griglia-lista-news .paginatore .paginatore-precedente {
  text-align: left;
}
.portale-comunale .griglia-lista-news .paginatore .paginatore-pagine {
  text-align: center;
}
.portale-comunale .griglia-lista-news .paginatore .paginatore-successiva {
  text-align: right;
}
.portale-comunale .dettaglio-news > div {
  margin-top: 27px;
}
.portale-comunale .dettaglio-news .data-pubblicazione {
  margin-top: 0;
  border-right: 1px solid #d2d2d2;
  float: left;
  width: 120px;
  /* text-align: center; */
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 18px;
}
.portale-comunale .dettaglio-news .corpo-news {
  padding-left: 140px;
}
.portale-comunale .dettaglio-news .corpo-news a {
  text-decoration: none;
  color: #1e1e1e;
}
.portale-comunale .dettaglio-news .corpo-news a:hover {
  text-decoration: underline;
}
.portale-comunale .share-social h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
}
.portale-comunale .share-social a {
  padding-right: 18px;
}
.portale-comunale .share-social .lista-canali {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 18px;
}
.portale-comunale .faq-list h3 {
  border-bottom: 3px solid #000;
}
.portale-comunale .faq-list h4 {
  font-size: 18px;
}
.portale-comunale .faq-list .active {
  border-left: 1px solid #d2d2d2;
  margin-left: -18px;
  padding-left: 18px;
}
.portale-comunale .faq-list .lista-scorciatoie .scorciatoia {
  padding: 18px;
  margin-bottom: 9px;
}
.portale-comunale .faq-list .lista-scorciatoie .scorciatoia.link {
  color: #1e1e1e;
  font-weight: 700;
}
.portale-comunale .lista-modulistica .elemento-lista-moulistica {
  position: relative;
  padding-bottom: 24px;
  padding-top: 24px;
}
.portale-comunale .lista-modulistica .elemento-lista-moulistica p {
  padding-bottom: 0;
}
.portale-comunale .lista-modulistica .elemento-lista-moulistica h4 {
  margin-top: 0px;
}
.portale-comunale .lista-modulistica .elemento-lista-moulistica .glyphicon {
  font-size: 32px;
}
.portale-comunale .lista-modulistica .elemento-lista-moulistica:after {
  border-bottom: 1px solid #d2d2d2;
  width: 50%;
  /* or 100px */
  content: '';
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
}
.portale-comunale .lista-scorciatoie {
  margin-top: 27px;
}
.portale-comunale .lista-scorciatoie .scorciatoia {
  padding: 18px;
  margin-bottom: 9px;
}
.portale-comunale .lista-scorciatoie .scorciatoia.link {
  color: #1e1e1e;
  font-weight: 700;
}
.portale-comunale .trasparenza .lista-risultati {
  margin-top: 18px;
}
.portale-comunale .scheda-intervento .sezione-intervento {
  margin-bottom: 24px;
}
.portale-comunale .scheda-intervento .sezione-intervento .titolo-sezione {
  margin-bottom: 5px;
  margin-top: 0;
  border-right: 1px solid #D0D0D0;
  font-size: 24px;
}
.portale-comunale .scheda-intervento .sezione-intervento .corpo-sezione {
  border-left: 1px solid #D0D0D0;
  margin-left: -1px;
}
.portale-comunale .header-top {
  background-color: #30373d;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px 13px 0px;
}
.portale-comunale .header-top h1,
.portale-comunale .header-top h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.portale-comunale .header-top a {
  color: #fff;
}
.portale-comunale .header-top .accedi-ai-servizi {
  background-color: #0066c6;
  padding: 13px;
  text-align: center;
}
.portale-comunale .header-top .denominazione-x {
  width: 80%;
  padding: 8px 8px 8px 0;
}
.portale-comunale .header-top .denominazione-x ul {
  list-style: none;
  margin: 0;
  padding: 0 5px 0 0;
}
.portale-comunale .header-top .denominazione-x li {
  display: inline-block;
}
.portale-comunale .header-top .denominazione-x li:not(:last-child):after {
  content: "|";
  margin: 0.5em;
}
@media screen and (max-width: 480px) {
  .portale-comunale .header-top .denominazione-x {
    padding: 0px;
  }
  .portale-comunale .header-top .denominazione-x ul {
    padding: 0px;
  }
  .portale-comunale .header-top .denominazione-x li {
    display: inline-block;
  }
  .portale-comunale .header-top .denominazione-x li:not(:last-child):after {
    content: '';
  }
}
@media screen and (min-width: 480px) and (max-width: 800px) {
  .portale-comunale .header-top .denominazione-x {
    padding: 0px;
  }
}
.portale-comunale .header-bottom {
  background-color: #B01116;
  padding-top: 38px;
  padding-bottom: 38px;
}
.portale-comunale .header-bottom h1,
.portale-comunale .header-bottom h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: normal;
}
.portale-comunale .header-bottom h1 {
  font-size: 32px;
}
.portale-comunale .header-bottom h2 {
  font-size: 23px;
}
.portale-comunale .header-bottom .social-links {
  font-size: 15px;
  color: #fff;
  text-align: right;
}
.portale-comunale .header-bottom .social-links a {
  font-size: 12px;
  color: #fff;
}
.portale-comunale .header-bottom .social-links a .fa-inverse {
  color: #B01116;
}
.portale-comunale .header-menu .navbar-default {
  background-color: #eee;
  background-image: none;
  margin-bottom: 0;
}
.portale-comunale .header-menu .navbar-default a {
  color: #1e1e1e;
}
.portale-comunale .header-menu .elementi-menu {
  text-align: center;
}
@media (min-width: 768px) {
  .portale-comunale .header-menu .elementi-menu .navbar-nav {
    float: none;
  }
  .portale-comunale .header-menu .elementi-menu .navbar-nav > li {
    float: none;
    display: inline;
  }
  .portale-comunale .header-menu .elementi-menu .nav > li > a {
    display: inline-block;
  }
}
.portale-comunale .header-menu .navbar-toggle {
  float: left;
  margin-left: 13px;
}
.portale-comunale #link-software ul {
  background-color: #eee;
}
.portale-comunale #link-software ul .disattivo {
  pointer-events: none;
  cursor: no-drop;
  text-decoration: none;
  color: #777;
}
.portale-comunale footer {
  background-color: #30373d;
  padding-bottom: 27px;
}
.portale-comunale footer .barra-feedback {
  height: 64px;
  background-color: #66A5E3;
  text-align: center;
}
.portale-comunale footer .barra-feedback a {
  color: #1e1e1e;
  display: block;
  padding-top: 17px;
}
.portale-comunale footer .contenuto {
  color: #c6cace;
  font-size: 15px;
}
.portale-comunale footer .contenuto a {
  color: #65dde0;
}
.portale-comunale footer .contenuto .sezione-footer {
  margin-top: 13px;
  padding-left: 18px;
  padding-right: 18px;
}
.portale-comunale footer .contenuto h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}
.portale-comunale footer .contenuto h1 small {
  display: block;
  color: #c6cace;
}
.portale-comunale footer .contenuto h2 {
  color: #ffffff;
  font-size: 23px;
  font-weight: normal;
  border-bottom: 1px solid #c6cace;
  padding-bottom: 13px;
  margin-bottom: 0px;
}
.portale-comunale footer .contenuto .contatti a {
  display: block;
}
.portale-comunale footer .contenuto .altre-informazioni {
  border-top: 1px solid #c6cace;
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 54px;
}
.portale-comunale footer .contenuto .altre-informazioni ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.portale-comunale footer .contenuto .altre-informazioni ul li {
  display: inline;
  padding-right: 18px;
  padding-left: none;
}
.header-bottom {
  background: linear-gradient(#E2EBF2, #7392A4, #5A83A2, #315976, #668399) !important;
}
.social-links a {
  color: #337ab7 !important;
}
.social-links .fa-inverse {
  color: #fff !important;
}
