
#set($render = true)
#if($item.Campo)
	#parse("/cart/campo_pdf.vm")
#elseif($item.Testo)
	#parse("/cart/testo_pdf.vm")
#elseif($item.Tabella)
	#parse("/cart/tabella_pdf.vm")
#elseif($item.File)
	#parse("/cart/file_pdf.vm")
#elseif($item.Sezione)
	#parse("/cart/sezione_pdf.vm")
#end
