<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	
	<context:property-placeholder location="classpath:deploy.properties" />
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <jaxrs:server id="restService" address="/rest">
        <jaxrs:serviceBeans>
            <ref bean="registroImprese"/>
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json"/>
        </jaxrs:extensionMappings>
        <jaxrs:features>
           <bean class="org.apache.cxf.feature.LoggingFeature" />
        </jaxrs:features>
        <!-- 
        <jaxrs:providers>
            <bean class="org.apache.cxf.jaxrs.provider.JSONProvider" />
        </jaxrs:providers>
         -->
    </jaxrs:server>
    
    <bean id="registroImprese" class="it.gruppoinit.service.RegistroImpreseRestService" >
   		<property name="registroImpreseService" ref="registroImpreseService" />
    </bean>


	<bean id="nlaWS" class="it.gruppoinit.nlaproxy.service.stc.NlaWebService">
		<property name="stcWebServiceClient" ref="stcWebServiceClient" />		
		<property name="registroImpreseService" ref="registroImpreseService" />
	</bean>


	<bean id="CompilapraticaSUAPXMLWS" class="it.gruppoinit.pal.gp.backoffice.definitions.getpraticasuap.CompilaPraticaSUAPXMLImpl">		
		<property name="registroImpreseService" ref="registroImpreseService" />
	</bean>
	
	<bean id="anagrafeWS" class="it.gruppoinit.wsanagrafe2.ws.WsAnagrafe2SoapImpl">
		<property name="registroImpreseService" ref="registroImpreseService"/>
		<property name="sigeproSecurityWebServiceClient" ref="sigeproSecurityWebServiceClient"/>
	</bean>

	<jaxws:endpoint id="nla" implementor="#nlaWS" address="/nla" wsdlLocation="wsdl/nla.wsdl">
		<jaxws:properties>
			<entry key="mtom-enabled" value="true" />
			<entry key="attachment-memory-threshold" value="0" />		
			<entry key="schema-validation-enabled" value="false" />
		</jaxws:properties>	
	</jaxws:endpoint>
	<jaxws:endpoint id="anagrafe" implementor="#anagrafeWS" address="/anagrafe" wsdlLocation="wsdl/WsAnagrafe2.wsdl" />
	<jaxws:endpoint id="compilapraticaSUAPXML" implementor="#CompilapraticaSUAPXMLWS" address="/compilapraticaSUAPXML" wsdlLocation="wsdl/get-pratica-suap.wsdl">
		<jaxws:properties>
			<entry key="mtom-enabled" value="true" />
			<entry key="attachment-memory-threshold" value="0" />
			<!-- validazione disabilitata perchè provoca il caricamento in memoria 
				degli allegati mtom -->
			<entry key="schema-validation-enabled" value="false" />
		</jaxws:properties>
	</jaxws:endpoint>
 	 
 	 
	<bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor">
		<property name="prettyLogging" value="false" />
		<property name="limit" value="102400" />
	</bean>
	<bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor">
		<property name="prettyLogging" value="false" />
		<property name="limit" value="102400" />
	</bean>
	<bean id="cxf" class="org.apache.cxf.bus.spring.SpringBus">
		<property name="inInterceptors">
			<list>
				<ref bean="logInbound" />
			</list>
		</property>
		<property name="outInterceptors">
			<list>
				<ref bean="logOutbound" />
			</list>
		</property>
		<property name="outFaultInterceptors">
			<list>
				<ref bean="logOutbound" />
			</list>
		</property>
		<property name="inFaultInterceptors">
			<list>
				<ref bean="logInbound" />
			</list>
		</property>
	</bean>
	
	
</beans>
