.SelectedMenuItemStyle
{
	border-right: #000099 1px;
	border-top: #000099 1px;
	border-left: #000099 1px;
	border-bottom: #000099 1px;
	
	background-image: none;
	background-color: White;
	
	font-size: 8pt;
	font-weight: bold;
	font-family: Verdana;
	color: #000000;
	
	vertical-align: baseline;
	text-align: left;
	z-index: 1000;
}
.SectionTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica
}
.SectionText
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica
}
.SectionTextTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica
}

.TableTitle
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 3px;
    COLOR: #000000;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
    BACKGROUND-COLOR: #e2e1e1
}
BODY
{
    MARGIN: 0px;
    COLOR: white
}

.hrTop
{
    BACKGROUND-COLOR: #b71218;
    height: 3px
}

.SectionTextTitle A
{
    COLOR: black
}
.SectionTextTitle A:active
{
    COLOR: black
}
.SectionTextTitle A:link
{
    COLOR: black
}
.SectionTextTitle A:visited
{
    COLOR: black
}

.Buttons
{
	FONT-SIZE: 0.6em;
	COLOR: black;
}


/*Label per gli errori*/
.Error
{
	FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
	FONT-SIZE: 0.6em;
	color : Red;
}


/*SottotitoloTitolo delle sezioni dello step*/
.Subtitle
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
    FONT-WEIGHT: bold;
}

/*Label per gli elementi di testo*/
.FoLabel
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica
}

/*TextBox per i campi di input di form*/
.FoTextBox
{
	FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica
}

/*TextBox per i campi di input numerici di form*/
.FoTextBoxNum
{
	TEXT-ALIGN: right;
	FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica
}

/*Titolo delle sezioni dello step*/
.TitoloStep
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
    FONT-WEIGHT: bold;
    text-transform:uppercase;
}




/* DataGrid */
.HeaderStyle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.6em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
    BACKGROUND-COLOR: #c5c5b9;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}

.HeaderStyle A:active
{
    COLOR: black;
    TEXT-DECORATION: none
}
.HeaderStyle A:link
{
    COLOR: black;
    TEXT-DECORATION: none
}
.HeaderStyle A:visited
{
    COLOR: black;
    TEXT-DECORATION: none
}

.ItemStyle
{
    FONT-SIZE: 0.6em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
.ItemStyle A
{
    COLOR: black
}
.ItemStyle A:active
{
    COLOR: black
}
.ItemStyle A:link
{
    COLOR: black
}
.ItemStyle A:visited
{
    COLOR: black
}

.AlternatingItemStyle
{
    FONT-SIZE: 0.6em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
    BACKGROUND-COLOR: #e2e1e1
}
.AlternatingItemStyle A
{
    COLOR: black
}
.AlternatingItemStyle A:active
{
    COLOR: black
}
.AlternatingItemStyle A:link
{
    COLOR: black
}
.AlternatingItemStyle A:visited
{
    COLOR: black
}



.FooterStyle
{
    FONT-SIZE: 0.6em;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
    BACKGROUND-COLOR: #ffffff
}
.FooterStyle A
{
    COLOR: black
}
.FooterStyle A:active
{
    COLOR: black
}
.FooterStyle A:link
{
    COLOR: black
}
.FooterStyle A:visited
{
    COLOR: black
}
