<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee;http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="FAG_ID" version="2.5">
	<display-name>LoginUmbriaAG (_NOME_VERSIONE_)</display-name>
	<context-param>
		<param-name>keystorePath</param-name>
		<param-value>/resources/keystore/keystore.jks</param-value>
	</context-param>
	<context-param>
		<param-name>keystoreAlias</param-name>
		<param-value>signer</param-value>
	</context-param>
	<context-param>
		<param-name>keystorePassword</param-name>
		<param-value>password</param-value>
	</context-param>
	<context-param>
		<param-name>truststorePath</param-name>
		<param-value>/resources/keystore/truststore.jks</param-value>
	</context-param>
	<context-param>
		<param-name>truststorePassword</param-name>
		<param-value>password</param-value>
	</context-param>
	<context-param>
		<param-name>trustCheckEnabled</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>configurationFile</param-name>
		<param-value>sp-config.properties</param-value>
	</context-param>
	<context-param>
		<param-name>showDetailInErrorPage</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>metadataConnectionTimeout</param-name>
		<param-value>60000</param-value>
	</context-param>
	<context-param>
		<param-name>metadataFile</param-name>
		<param-value>/resources/metadata/metadata.xml</param-value>
	</context-param>
	<context-param>
		<param-name>metadataFileEncoding</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<context-param>
		<param-name>entityURLPrefix</param-name>
		<param-value>https://suape.regione.umbria.it</param-value>
	</context-param>
	<context-param>
		<param-name>icar.inf3.error.returnURL</param-name>
		<param-value>https://suape.regione.umbria.it/LoginUmbriaAG/</param-value>
	</context-param>
	<context-param>
		<param-name>language</param-name>
		<param-value>it</param-value>
	</context-param>
	<context-param>
		<param-name>enforceAssertionConditions</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>authorityRegistryMetadataProviderURL</param-name>
		<param-value>https://login.regione.umbria.it/ar/metadata</param-value>
	</context-param>
	<context-param>
		<param-name>authorityRegistrySubjectNameQualifier</param-name>
		<param-value>https://login.regione.umbria.it/ar</param-value>
	</context-param>
	<context-param>
		<param-name>identifyingAttribute</param-name>
		<param-value>CodiceFiscale</param-value>
	</context-param>
	<context-param>
		<param-name>proxyHost</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>proxyPort</param-name>
		<param-value>-1</param-value>
	</context-param>
	<context-param>
		<param-name>proxyUser</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>proxyPassword</param-name>
		<param-value></param-value>
	</context-param>
	<filter>
		<filter-name>INF-3 Authentication Filter</filter-name>
		<filter-class>it.cefriel.icar.inf3.web.filters.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>forwardBinding</param-name>
			<param-value>HTTP-Redirect</param-value>
		</init-param>
		<init-param>
			<param-name>returnBinding</param-name>
			<param-value>HTTP-POST</param-value>
		</init-param>
		<init-param>
			<param-name>localProxyMetadataProviderURL</param-name>
			<param-value>https://login.regione.umbria.it/gw/metadata</param-value>
		</init-param>
		<init-param>
			<param-name>postAuthnRequestPage</param-name>
			<param-value>/resources/PostAuthnRequest.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>proxyCount</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>nameIDFormat</param-name>
			<param-value>unspecified</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>INF-3 Authentication Filter</filter-name>
		<url-pattern>/loginfedera/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AssertionConsumerService</servlet-name>
		<servlet-class>it.cefriel.icar.inf3.web.servlet.AssertionConsumerService</servlet-class>
		<init-param>
			<param-name>authnFailedPage</param-name>
			<param-value>/resources/authnFailed.jsp</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MetadataPublisherServlet</servlet-name>
		<servlet-class>it.cefriel.icar.inf3.web.servlet.MetadataPublisherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SecuredServlet</servlet-name>
		<servlet-class>it.gruppoinit.federaag.servlet.SecuredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecuredServlet</servlet-name>
		<url-pattern>/secured</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>it.gruppoinit.federaag.servlet.LoginServlet</servlet-class>
		<init-param>
			<description>Classe utilizzata per eseguire il login. (inserire il path completo)</description>
			<param-name>login_class_name</param-name>
			<param-value>it.gruppoinit.auth.service.impl.TokenLoginService</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>it.gruppoinit.federaag.servlet.LogoutServlet</servlet-class>
		<init-param>
			<param-name>federaLogoutUrl</param-name>
			<param-value>https://login.regione.umbria.it/logout</param-value>
		</init-param>
		<init-param>
			<param-name>spid</param-name>
			<param-value>https://suape.regione.umbria.it/LoginUmbriaAG/metadata</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>Servlet per invalidare un token</description>
		<servlet-name>InvalidateToken</servlet-name>
		<servlet-class>it.gruppoinit.federaag.servlet.InvalidateToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginfedera</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetadataPublisherServlet</servlet-name>
		<url-pattern>/MetadataPublisherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MetadataPublisherServlet</servlet-name>
		<url-pattern>/metadata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssertionConsumerService</servlet-name>
		<url-pattern>/AssertionConsumerService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvalidateToken</servlet-name>
		<url-pattern>/invalidateToken</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/resources/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/resources/error.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Resources</web-resource-name>
			<url-pattern>/resources/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
</web-app>