/* BOX COMUNE 
------------------------------------------*/
#boxComune
{
    width: 250px;
}


#boxComune > #intestazioneComune > h1,
#boxComune > #intestazioneComune > a,
#boxComune > #intestazioneComune > a > h1
{
    font-size:16px; 
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin-top: 11px;
    /*text-decoration:none;*/
}

#boxComune > #intestazioneComune
{
    width: 100%;
}

#boxComune > #intestazioneComune > h2
{
    font-size:14px; 
    margin: 0px;
    padding: 0px;
    width: 169px;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    float: left;
    margin-top: 25px;
}

#boxComune > #intestazioneComune > h3
{
    font-size:12px; 
    margin: 0px;
    padding: 0px;
    width: 169px;
   /* text-align: right;*/
    font-weight: normal;
    float: left;
    margin-bottom: 5px;
}

#boxComune > #datiComune
{
    clear:both;
    width: 220px;
    /*height: 150px;*/
    margin: 0px auto;
    background-image: url('../../images/contenuti/bg-comune-sfondo.png');
}

#boxComune > #datiComune >  #top
{
    height: 10px;
    background-image: url('../../images/contenuti/bg-comune-top.png');
}

#boxComune > #datiComune >  #bottom
{
    height: 10px;
    background-image: url('../../images/contenuti/bg-comune-bottom.png');
}

#boxComune > #datiComune > dl
{
    background-image: url('../../images/contenuti/bg-comune-inner.png');
    background-repeat:no-repeat;
    display:block;
    left: 0px;
    padding-top: 10px;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#boxComune > #datiComune > dl > dt
{
    font-weight:bold;
    font-style: italic;
    color: #000;
}

#boxComune > #datiComune > dl > dd,
#boxComune > #datiComune > dl > dd > a
{
    color: #666;
}

#boxComune > #datiComune > dl > dt,
#boxComune > #datiComune > dl > dd
{
    min-height: 18px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    
    text-align: right;
}

#intestazioneComune .listaIdentificativi
{
	float: right;
	margin: 0px;
}

#intestazioneComune .listaIdentificativi > div > h4
{
	background-image: url('../../images/contenuti/down-arrow-gray.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 10px;
	cursor: pointer;
	margin: 0px;
	font-weight: normal;
}

#intestazioneComune .listaIdentificativi  ul > li
{
	padding: 0px;
	margin: 0px;
	width: 100%;
}



#intestazioneComune .listaIdentificativi  ul > li .nomeComune
{
	margin-left: 5px;
	width: 100%;
	display: block;
}

#intestazioneComune .listaIdentificativi  ul > li .nomeComune>.codiceComune
{
	/*position: absolute;
	right: 0px;
	width: 20%;*/
	font-style: italic;
	margin-right: 5px;
	float: right;
	padding-right: 5px;
	min-width: 95px;
	text-align: right;
	
}