<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
</header>
<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark position-relative">
		<a class="navbar-brand" th:href="@{/}">Admin</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/admin/messaggi/}">Messaggi<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/servizi/}">Servizi</a>
				</li>
				<li class="nav-item dropdown">
				<!-- href="#"-->
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            	Test Servizi IO Italia
		          	</a>
		          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		          	<!-- th:href="@{/connector}" -->
		          		<li><a class="dropdown-item" th:href="@{/connector}">Invia Nuovo Messaggio</a></li>
		          		<li><a class="dropdown-item" th:href="@{/connector/search-form}">Cerca Messaggio</a></li>
		          	</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/swagger-ui.html}" th:target="_blank">AppIOGateway API</a>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>