<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="script">
		<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/lib/jquery/jquery-3.5.1.min.js}"></script>
		<script th:src="@{/lib/dataTables/js/jquery.dataTables.min.js}"></script>
		<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
		<script type="text/javascript" th:src="@{/lib/moment/moment.min.js}"></script>
		<script type="text/javascript" th:src="@{/lib/moment/moment-with-locales.min.js}"></script>
		<script type="text/javascript" th:src="@{/lib/bootstrap-4-datetimepicker/tempusdominus-bootstrap-4.min.js}"></script>
		<script type="text/javascript" th:src="@{/script/main.js}"></script>
	</th:block>
</body>
</html>