<app-inner-page-layout [isLoading]="!caricamentoCompletato">
    <app-interventi-detail
        [intervento]="intervento$ | async"
        [permetteDownloadModello]="permetteDownloadModello"
        (download)="download($event)"
        (tornaIndietro)="tornaIndietro()"
        (endoprocedimentoSelezionato)="onEndoprocedimentoSelezionato($event)"
        (scaricaModello)="onScaricaModello($event)"
        (vaiAServizio)="onVaiAServizio($event)"
        [isUrlVaiAServizioPresente]="isUrlVaiAServizioPresente"
    >
    </app-interventi-detail>
</app-inner-page-layout>
