/* ----------------------------------------------------------------------*/
/* ------------------------------->>> BUTTON <<<-------------------------*/
/* ----------------------------------------------------------------------*/
#functions {
	/* 	font-family: Tahoma, Verdana, Arial, sans-serif; */
	
}

#functions ul {
	margin: 2px;
	padding-left: 0;
	list-style: none;
	float: left;
}

#functions li {
	float: left;
}

#functions li.buttondisabled a {
	color: #949494 !important;
	cursor: default;
}

#functions a:link, #functions a:visited {
	/* 	float: none !important;
	border: 1px solid #cec78f;
	color: #ffffff;
	clear: both;
 */
	
}

#functions a:hover, #functions a:focus, #functions a:active {
	/* 	float: none !important;
	border: 1px solid #b61218;
	color: #ffffff;
	clear: both; */
	
}
/* bottoni dei componenti per la gestione degli oggetti/documenti */
#contenitoreUpload>li {
    /* display: block; */
    /* float: none; */
}
#contenitoreUpload .rimuovi-file {
	background-color: transparent;
	border: 0 !important;
	height: 26px;
}
.bottone-file{
	padding-left: 6px;
	cursor: default;
}
.rimuovi-file{
	top: 0px !important;
	left: -4px;
}
li.buttondisabled {
	background-color: #ECE9D8 !important;
	background-image: none;
	cursor: default;
}
.draggable {
	height: 40px;
	background: #fff;
	cursor: move;
	position: relative;
}

.highligthDroppable {
	width: 100%;
	height: 20px;
	background: #bbb;
	border: 1px dashed #ccc;
	position: relative;
}

.unHighligthDroppable {
	width: 100%;
	height: 20px;
	border: 1px dashed #fff;
	position: relative;
}

/* ----------------------------------------------------------------------*/
/* ------------------------------->>> EFFECT <<<-------------------------*/
/* ----------------------------------------------------------------------*/
div.autocomplete {
	position: absolute; /* aggiunto per firefox*/
	background-color: white;
	border: 1px solid #888;
	word-break: break-word;
    white-space: pre-wrap;
    -moz-white-space: pre-wrap;
}

div.autocomplete ul {
	list-style-type: none;
}

div.autocomplete ul li.selected {
	background-color: #ffb;
}

div.autocomplete ul li {
	list-style-type: none;
	cursor: pointer;
}

div.autocomplete li.li_error {
	font-size: 0px;
}

div.autocomplete span.error {
	font-weight: bold;
}

/* ----------------------------------------------------------------------*/
/* ------------------------------->>> JMESA <<<--------------------------*/
/* ----------------------------------------------------------------------*/
.jmesa caption {
	caption-side: top;
	color: #444444;
	font-weight: bold;
	font-size: 1em;
	text-align: left;
}

.jmesa .table { /*border: 1px solid silver;*/
	width: 100%;
}

.jmesa .toolbar, .jmesa .filter, .jmesa .header td {

	background-color: #A9D6C4;	
}

.jmesa .header td {
	/*white-space: nowrap;*/
	font-size: 12px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	color: #676A6C;
}

.jmesa .toolbar select {
	font-size: 11px;
	/*border: solid 1px #c4c3c2;*/
}

.jmesa .toolbar .pageNumber {
	font-size: 13px;
	font-weight: bold;
	color: #c4634d;
}

.jmesa .toolbar .pageNumber a {
	font-size: 13px;
	font-weight: normal;
	color: black;
}

.jmesa .filter td {
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.jmesa .filter .dynFilter {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	border: 1px solid #c0c0c0;
	background-color: #efebe7;
	white-space: nowrap;
	cursor: pointer;
}

.jmesa .filter #dynFilterDiv {
	border: 1px solid #c0c0c0;
	background-color: #e1ebf4;
}

.jmesa .filter #dynFilterInput {
	font-family: tahoma, arial, helvetica;
	font-size: 12px;
	border-style: none;
	background-color: #e1ebf4;
}

.jmesa .filter #dynFilterDroplistDiv {
	background-color: #e1ebf4;
}

.jmesa .filter #dynFilterDroplist {
	font-family: tahoma, arial, helvetica;
	font-size: 12px;
	border: 1px solid #c0c0c0;
	background-color: #e1ebf4;
}

.jmesa td .header {
	white-space: nowrap;
	background-color: #E37514;
	font-size: 12px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	/*color: #fff;*/
}

.jmesa .odd a, .jmesa .even a {
	color: #337ab7;
	text-decoration: none;
}

.jmesa .odd td, .jmesa .even td {
	/*font-family: tahoma, arial, helvetica;
	font-size: 11px;*/
	
}

.jmesa .odd td {
	border: 1px solid #ffffff;
}

.jmesa .even td {
	border: 1px solid #F5F5F0;
}

.jmesa .odd {
	background-color: #eee;
	/* background-color: #C7DFEB;*/
}

.jmesa .even {
	/*background-color: #fff !important;*/
	background-color: #F7EBB5 !important;
}

.jmesa .highlight td {
	/* font-family: tahoma, arial, helvetica;
	font-size: 11px;*/
	border: 1px solid #F5F5F0;
	/*background-color: #F7EBB5;
	background-color: #eee;*/
	/*color: #000;*/
	padding: 2px 3px 2px 3px;
}

.jmesa .highlight a {
	/*color: black;*/
}

.jmesa .statusBar td {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	border-top: 1px solid silver;
	background-color: #efebe7;
}

.jmesa .wsColumn {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	border-bottom: 1px solid #c0c0c0;
	white-space: nowrap;
	cursor: pointer;
}

.jmesa .wsColumnError {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	font-style: italic;
	color: #ec4646;
	border-bottom: 1px dashed #ec4646;
	white-space: nowrap;
	cursor: pointer;
}

.jmesa .wsColumnChange {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	font-style: italic;
	color: #005e8f;
	border-bottom: 1px dashed #005e8f;
	white-space: nowrap;
	cursor: pointer;
}

.jmesa #wsColumnDiv {
	border: 1px solid #c0c0c0;
	background-color: #ededed;
}

.jmesa #wsColumnInput {
	font-family: tahoma, arial, helvetica;
	font-size: 12px;
	border-style: none;
	background-color: #ededed;
}

.inline-ui-cell{
	display: inline-flex;
}

.inline-ui-cell input[type=checkbox]{
    min-width: 14px;
    min-height: 12px;
}
a.vbg-btn:ACTIVE, a.vbg-btn:HOVER, a.vbg-btn:FOCUS{
	text-decoration: none;
}
.vbg-btn{
	position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    /*margin-right: 3px;*/
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
}
.vbg-stack{
	position: relative;
    display: inline-grid;
    width: 1.3em;
    line-height: 1em;
    vertical-align: middle;	
}
.vbg-stack-btn{
    text-align: center;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
    /*	
    line-height: 1;
    height: 16px;
    width: 16px;
    */
	position: absolute;
    left: 0;
    margin-left: 4px;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    display: inline-grid;
}
.vbg-btn-disabled{
	color: gray;
	cursor: default;
}
.vbg-btn > label{
	display: none;
}
.btn-dettaglio:before{
	content: "\e105";
}
.btn-avvisi:before{
	content: "\e107";
}
.btn-modifica:before{
	content: "\270f";
}
.btn-aggiungi:before{
	content: "\2b";
}
.btn-rinuncia-posteggio:before{
	content: "\e107";
}
.btn-altreopzioni:before{
	content: "\e136";
}
.btn-elimina:before{
	content: "\e014";
}

.btn-cerca:before{
	content: "\e003";
}
.btn-attesa:before{
	font-family: FontAwesome;
	content: "\f110";
	animation: fa-spin 2s infinite linear;
	/*TODO animazione css */
}
.btn-storico:before{
	content: "\f1da";
}
.btn-salva:before{
	content: "\e172";
}
.btn-cerca:before{
	content: "\e003";
}
.btn-calcola:before{
	font-family: FontAwesome;
	content: "\f1ec";
}
.btn-informazioni:before{
	content: "\e086";
}
.btn-rielabora:before{
	content: "\e030";
}
.btn-error:before{
	content: "\e107";
}

.btn-utente:before{
	font-family: FontAwesome;
	content: "\f007";
}

.btn-pdf:before:before{
	font-family: FontAwesome;
	content: "\f1c1";
}

.btn-qrcode:before{
	font-family: FontAwesome;
	content: "\f029";
}

.btn-check-enabled:before{
	font-family: FontAwesome;
	content: "\f058";
	color: #33cc33;
}

.btn-check-disabled:before{
	font-family: FontAwesome;
	content: "\f058";
	color: #c0c0c0;
}

.btn-cambia:before{
	content: "\e178";
}
.btn-stc:before{
	content: "\f1c0";
	font-family: FontAwesome;
	
}
.btn-stc-in:before{
	/*
	content: "\f00c";
	font-size: 1.3em;
	*/
	content: "\f090";
	font-size: 1em;
	font-family: FontAwesome;
	line-height: 1em;
	color: #06e206;
}
.btn-stc-out-ok:before{
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 1em;
	line-height: 1em;
	color: #06e206;
}
.btn-stc-out-ko:before{
	content: "\f00d";
	font-family: FontAwesome;
	font-size: 1em;
	line-height: 1em;
	color: #e40404;
}
.btn-stc-out-attesa:before{
	content: "\f254";
	font-family: FontAwesome;
	font-size: 1em;
	line-height: 1em;
	color: #06e206;
}
.btn-stc-da-notificare:before{
	content: "\e107";
	color: #fee434;
}
.btn-stc-nolink:before{
	content: "\f127";
	color: #e40404;
	font-family: FontAwesome;
	font-size: 1.2em;
	line-height: 1em;
}
.btn-dettaglio-notifica:before{
	content: "\e169";
}
.btn-import:before{
	content: "\e169";
}
.btn-a:before{
	content: "A";
    font-family: Arial;
    font-weight: bold;
    font-size: 1.4em;
}
.btn-a-verde:before{
	content: "A";
	color: #05d005;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.4em;
}
.btn-email:before{
	content: "\2709";
}
.btn-allegato:before{
	content: "\f0c6";
	font-family: FontAwesome;
	font-size: 1.2em;
}
.btn-eventi-nonletti:before{
	content: "\f071";
	font-family: FontAwesome;
	font-size: 1.2em;
	color: #ffbf01;
}
/* stili ancora da applicare alle pagine dove serve */
.btn-euro:before{
	content: "\f153";
	font-family: FontAwesome;
}
.btn-euro-aggiungi:before{
	font-family: FontAwesome;
	content: "\f067";
	font-size: 1.3em;
	font-family: FontAwesome;
	line-height: 1em;
	color: #06e206;
}
.btn-euro-elimina:before{
	font-family: FontAwesome;
	content: "\f068";
	font-size: 1.3em;
	font-family: FontAwesome;
	line-height: 1em;
	color: #ff0000;
}
.btn-mettiallafirma:before{
	content: "\f044";
	font-family: FontAwesome;
}

.btn-mettiallafirma_completa:before{
	content: "\f044";
	font-family: FontAwesome;
	color: #65f442;
}
.btn-mettiallafirma_negata:before{
	content: "\f044";
	font-family: FontAwesome;
	color: #ff0000;
}
.btn-mettiallafirma_richiesta:before{
	content: "\f044";
	font-family: FontAwesome;
	color: #ffe900;
}


.btn-verificafirma:before{
	content: "\f084";
	font-family: FontAwesome;
}

.btn-remotefirma:before{
	content: "\f023";
	font-family: FontAwesome;
}

.btn-certificato:before{
	content: "\f0a3";
	font-family: FontAwesome;
}
.btn-gis:before{
	content: "\f0ac";
	font-family: FontAwesome;
}

.btn-applicalayer:before{
	content: "\f0ea";
	font-family: FontAwesome;
}

.addColumn {
	position: relative;
    display: inline-grid;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.addColumn:before {
	content: "\2b";
}

.add {
	background-image: url("../../images/add.png");
}

.emailColumn {
	position: relative;
    display: inline-grid;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.emailColumn:before {
	content: "\2709";
}
.dettaglioColumn {
	position: relative;
    display: inline-grid;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    /*margin-right: 3px;*/
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.dettaglioColumn:before {
	content: "\e105";
}
.eliminaRiga {
	position: relative;
    display: inline-grid;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.eliminaRiga:before {
	content: "\e014";
}
.assegnaColumn {
	position: relative;
    display: inline-grid;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
	vertical-align: middle;
}
.assegnaColumn:before {
	/*background-image: url("../../images/money_add.png");*/
	content: "\e014";
}
.visualizzaDocColumn {
	position: relative;
    display: inline-grid;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.visualizzaDocColumn:before {
	content: "\f0f6";
}

.visualizzaDocPDFColumn {
	position: relative;
    display: inline-grid;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.visualizzaDocPDFColumn:before {
	content: "\f1c1";
}

.visualizzaDocWORDColumn {
	position: relative;
    display: inline-grid;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.visualizzaDocWORDColumn:before {
	content: "\f1c2";
}

.verticalizzazioniColumn {
	background-image: url("../../images/verticalizzazioni.gif");
	float: right;
	background-position: center top;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.verticalizzazioniparametriColumn {
	background-image: url("../../images/verticalizzazioni_parametri.gif");
	float: left;
	background-position: center top;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.gisLink {
	background-image: url("../../images/gis_ico.gif");
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
}

.dettaglioGisLink {
	background-image: url("../../images/edit.gif");
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
}

.letteraA:before {
	/*background-image: url("../../images/lettera_a.gif");*/
	content: "A";
}

.salvaRiga {
	background-image: url("../../images/save.png");
	background-position: center top;
	background-repeat: no-repeat;
}

.upColumn {
	background-image: url("../../images/up.gif");
	background-position: center top;
	background-repeat: no-repeat;
}

.downColumn {
	background-image: url("../../images/drop.gif");
	float: right;
	background-position: center top;
	background-repeat: no-repeat;
}

.infoColumn {
	background-image: url("../../images/magnifying-glass.gif");
	background-position: center;
	background-repeat: no-repeat;
}

.stampaColumn {
	background-image: url("../../images/printer.gif");
	background-position: center;
	background-repeat: no-repeat;
}

.notificheASLColumn {
	position: relative;
    display: inline-grid;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.notificheASLColumn:before {
	content: "\f0f9";
}

.copiaRecord {
	background-image: url("../../images/copy.png");
	background-position: center;
	background-repeat: no-repeat;
	float: right;
}

.dettagliOneri {
	background-image: url("../../images/d.gif");
	background-repeat: no-repeat;
	float: left;
}

.raggruppamentoOneri {
	background-image: url("../../images/r.gif");
	background-repeat: no-repeat;
	float: left;
}

.rielabora {
	background-image: url("../../images/clear.png");
	background-repeat: no-repeat;
	float: left;
}

.undo {
	background-image: url("../../images/undo.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.aggiornaColumn {
	background-image: url("../../images/save.png");
	background-position: center;
	background-repeat: no-repeat;
	/*float: left;*/
}

.blockColumn {
	background-image: url("../../images/block-icon.gif");
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

.listaRecordColumn {
	background-image: url("../../images/list-icon.png");
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

.totalRow {
	white-space: nowrap;
	background-color: #FFE79A;
	font-size: 12px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.totalRow td {
	padding: 1px 3px 1px 3px;
}

.sezioneDatiMeno {
	/*background-image: url("../../images/meno.gif");
	background-position: left;
	background-repeat: no-repeat;*/
}
.sezioneDatiMeno:before {
	font-family: 'Glyphicons Halflings';
    content: "\e113";
    color: #c4c4c4;
    text-decoration: none;
    font-size: 12px;
}

.sezioneDatiMeno label {
	color: #696969;
	padding-left: 18px;
	cursor: pointer;
}

.sezioneDatiPiu {
	/*background-image: url("../../images/piu.gif");
	background-position: left;
	background-repeat: no-repeat;*/
}

.sezioneDatiPiu:before {
	font-family: 'Glyphicons Halflings';
    content: "\e114";
    color: #c4c4c4;
    font-size: 12px;
    text-decoration: none;
}
.sezioneDatiPiu label {
	color: #696969;
	padding-left: 18px;
	cursor: pointer;
}

.avvisoBox {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-image: url("../../images/error.png");
	background-color: #FF2A00;
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.scadenzaBox {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-image: url("../../images/warning.gif");
	background-color: #FFD800;
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* ----------------------------------------------------------------------*/
/* ------------------------------->>> Global <<<-------------------------*/
/* ----------------------------------------------------------------------*/
body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #555;
}

p, ol, ul {
	line-height: 1.67em;
}

#functions li>a {
	color: #FFFFFF;
	text-decoration: none;
}

.movimentoDaEffettuare {
	color: #0000EE !important;
	text-decoration: none;
}

.movimentoEffettuato {
	color: #006D0D !important;
	text-decoration: none;
}

.movimentoReadOnly {
	color: #808080 !important;
	text-decoration: none;
}

img {
	border: 0;
	margin-left: 4px;
}

a:hover { /*text-decoration: none;*/
	
}

input[type=checkbox] {
	margin-left: 4px;
	width: 14px;
	height: 12px;
}

input {
	
}

select {
	
}

textarea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

/* ----------------------------------------------------------------------*/
/* ----------------------------->>> Page <<<-----------------------------*/
/* ----------------------------------------------------------------------*/
#header {
	background-color: #FFFFFF;
	color: #696969;
	background: white;
}

.comune_logged_arrow {
	background-color: #016C10;
}

.comune_logged {
	background-color: #016C10;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

#wrapper {
	margin-top: 0px;
	background-color: @main-background-color;
}

#page {
	background-color: #ffffff;
	padding: 2px;
}

#page br {
	clear: both;
}

.modulo {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	float: right;
	margin-top: 2px;
	margin-right: 5px;
}

/* ----------------------------------------------------------------------*/
/* ---------------------------->>> Content <<<---------------------------*/
/* ----------------------------------------------------------------------*/
#content {
	
}

.intestazione {
	font-size: 1.2em;
	font-weight: bold;
}

.titoloPagina {
	font-size: 20px;
	display: block;
    width: 80%;
    text-align: center;
}

.titoloTabella {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.titoloSezione {
	width: 100%;
	background-color: #fff;	
	color: #696969;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
	border-top: 2px solid #e7eaec;
	border-bottom: 1px solid #e7eaec;	
}

.titoloSezione>td {
	padding: 4px;
}

.titoloSezione>td>label {
	margin-bottom: 0px;
	font-weight: bold;
}

.titoloSottoSezione {
	color: #696969;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #A9D6C4;	
	width: 70%;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

.parametri {
	color: #696969;
	font-size: 1.0em;
	font-weight: bold;
	display: block;
	margin-bottom: 3px;
	margin-right: 10px;
}

.parametri>label {
	color: #B61218;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.rigaSubTotaleOneri {
	width: 100%;
	background-color: #FFE79A;
	color: #333333;
	font-size: 14 px;
	font-weight: bold;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

.rigaTotaleOneri {
	width: 100%;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 16 px;
	/*font-weight: bold;*/
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

.rigaSeparazione {
	width: 100%;
	border-bottom: #c0c0c0 0.5px dashed;
	size: 0.1em;
}

.rigaSeparazioneContinua {
	width: 100%;
	border-bottom: #c0c0c0 0.7px solid;
	size: 0.1em;
	padding-top: 10px;
}

.titoloSezionePosteggio {
	width: 100%;
	background-color: #FFE79A;
	color: #333333; /*#696969;*/
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.global_messages {
	
}

.global_messages_errors {
	list-style: none;
}

/*classi per i posteggi dei mercati*/
.posteggiContent {
	
}

.posteggi {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin: 1px;
	min-width: 350px;
	min-height: 130px;
	width: 350px;
	float: left;
	background-color: white;
}

.posteggi>label {
	margin: 2px;
	font-weight: bold;
}

.posteggi_header {
	background-color: black;
	color: white;
}

.posteggi_dettaglio_header {
	background-color: black;
	color: white;
}

.posteggi_dettaglio {
	background-color: #FFFFFF;
	border: black 1px solid;
	padding: 2px 2px 2px 2px;
	color: black;
}

.etichetta_posteggio {
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

.etichetta_posteggio_disable {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: line-through;
	color: #FFE79A;
	cursor: pointer;
	cursor: hand;
}

/*NUOVA VISUALIZZAZIONE DEI PARAMETRI*/
.etichetta {
	
}

.etichetta>div {
	color: #696969;
	font-size: 1.0em;
	font-weight: bold !important;
}

.parametro {
	font-size: 1.1em;
	font-weight: bolder;
}

.parametro>div {
	color: #B61218;
	font-size: 1.0em;
	font-weight: bold;
}

.parametriDiv {
	
}

#menuAbilitati ul {
	list-style-type: none;
}

#menuAbilitati li {
	text-decoration: none;
	font-weight: bold;
}

#menuAbilitati li li {
	display: block;
	text-decoration: none;
	padding: 3px 3px 3px 17px;
	font-weight: normal;
}

#menuAbilitati>ul:FIRST-CHILD>li {
	border-bottom: 1px black solid;
}

#div_check_permessi {
	float: right;
	color: green;
}

.mail_destinatario {
	cursor: pointer;
    border-style: solid;
    border-width: thin;
    padding-right: 4px;
    padding-left: 5px;
    border-radius: 4px;
}

/* ----------------------------------------------------------------------*/
/* --------------------------->>> Navigation <<<-------------------------*/
/* ----------------------------------------------------------------------*/
#navigation {
	text-align: right;
	margin-right: 5px;
}

#innernav {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	display: none;
}

#innernav label {
	margin-left: 2px;
	margin-right: 2px;
}

#innernav .selected {
	font-size: 20px;
}

/* ----------------------------------------------------------------------*/
/* ----------------------------->>> Sidebar <<<--------------------------*/
/* ----------------------------------------------------------------------*/
#sidebar {
	
}

#sidebar ul {
	list-style: none;
}

#sidebar li {
	
}

#sidebar li ul {
	border-top: 1px dashed #666633;
}

#sidebar li li {
	
}

#sidebar li li a {
	
}

#sidebar h2 {
	
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* ----------------------------------------------------------------------*/
/* -------------------------->>> Sidebar Help <<<------------------------*/
/* ----------------------------------------------------------------------*/
#help {
	
}

#rnd_container {
	background: #DFD5B9;
	margin: 1px;
}

#ajax_container {
	background: #DFD5B9;
	margin: 1px;
	position: absolute;
}

.rnd_top, .rnd_bottom {
	display: block;
	background: #EBEAD1;
	font-size: 1px;
}

.rnd_b1, .rnd_b2, .rnd_b3, .rnd_b4 {
	display: block;
	overflow: hidden;
}

.rnd_b1, .rnd_b2, .rnd_b3 {
	height: 1px;
}

.rnd_b2, .rnd_b3, .rnd_b4 {
	background: #FFFFFF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.rnd_b1 {
	margin: 0 5px;
	background: #CCCCCC;
}

.rnd_b2 {
	margin: 0 3px;
	border-width: 0 2px;
}

.rnd_b3 {
	margin: 0 2px;
}

.rnd_b4 {
	height: 2px;
	margin: 0 1px;
}

.rnd_content {
	display: block;
	border: 0 solid #CCCCCC;
	text-align: left;
	border-width: 0 1px;
	padding: 4px;
	background: #FFFFFF;
	color: #000000;
}

.rnd_content td {
	background: #FFFFFF !important;
}

.rnd_content h4 {
	margin: 0;
	font-weight: bold;
}

/* ----------------------------------------------------------------------*/
/* ----------------------------->>> Footer <<<---------------------------*/
/* ----------------------------------------------------------------------*/
#footer {
	background-color: #FFFFFF;
	color: #FFFFFF;
}

#footer a {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 1em;
	color: #FFFFFF;
}

#footer ul {
	list-style: none;
}

#footer li {
	
}

#footer li.first {
	
}

#footer li ul {
	
}

#footer li li {
	border-bottom: 1px solid #573D30;
}

#footer li li a {
	
}

#footer h2 {
	color: #FFFFFF;
}

/* ----------------------------------------------------------------------*/
/* ----------------------------->>> Footer Legal <<<---------------------*/
/* ----------------------------------------------------------------------*/
#legal {
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #525252;
}

#legal a {
	border-bottom: 1px dotted #939393;
	text-decoration: none;
	color: #939393;
}

/* ----------------------------------------------------------------------*/
/* ---------------------------->>> Various classes <<<-------------------*/
/* ----------------------------------------------------------------------*/
.timestamp {
	font-size: 1.2em;
}

.timestamp a {
	font-weight: normal;
}

.blue {
	color: #4088b8;
}

.error, .error_header {
	
}

.success, .success_header {
	
}

.succes_checkbox {
	color: green;
	padding-left: 3px;
	font-weight: bold;
}

.error_checkbox {
	color: #ba0000;
	padding-left: 3px;
	font-weight: bold;
}

.succes_ajax_call {
	color: green;
	padding-left: 3px;
	font-weight: bold;
}

.error_ajax_call {
	color: #ba0000;
	padding-left: 3px;
	font-weight: bold;
}

.warning, .warning_header {
	color: #ba0000;
	padding-bottom: 1px;
}

.fade {
	color: #c8c8c8;
}

.gray {
	color: gray;
}

.red {
	color: #B61218;
}

.help_pagina {
	
}

.help_inline {
	background-color: #4088b8;
	border: black 1px solid;
	padding: 2px 2px 2px 2px;
	color: white;
}

.help_image {
	cursor: pointer;
	padding-top: 3px;
	background-image: none;
	max-height: 20px;
	max-width: 22px;
}

.help_image label {
	
}

.info_inline {
	background-color: #4088b8;
	border: black 1px solid;
	padding: 2px 2px 2px 2px;
	color: white;
}

.info_image {
	cursor: pointer;
	padding-top: 3px;
}

.info_image label {
	
}

.warning_inline {
	background-color: #4088b8;
	border: black 1px solid;
	padding: 2px 2px 2px 2px;
	color: white;
}

.warning_image {
	cursor: pointer;
	padding-top: 3px;
}

.warning_image label {
	
}

.searchboxBackgroudRed {
	background-color: #FF0000;
}

.inputGreen {
	border-color: #016C10;
}

.inputRed {
	border-color: #B61218;
}

.warning_backup_stc {
	width: 100%; //
	background-color: #FFE79A;
	color: #696969;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

.alertLine {
	font-weight: bolder;
	padding: 4px;
	background-color: #800000;
	color: #ffffff;
	width: 100%;
}

.warningLine {
	font-weight: bolder;
	padding: 4px;
	background-color: #f1da07;
	color: #000000;
	width: 100%;
}
/* ----------------------------------------------------------------------*/
/* ---------------------------->>> Calendario <<<------------------------*/
/* ----------------------------------------------------------------------*/
.calendar_header {
	font-size: medium;
	font-weight: bold;
}

.calendar_month_header_cell {
	font-weight: bold;
}

.calendar_month_cell {
	background-color: white;
}

.calendar_days_cell {
	background-color: gray;
	color: white;
	text-align: center;
}

.calendar_cell, .calendar_holiday_cell, .calendar_selected_cell,
	.calendar_holiday_selected_cell,
	.calendar_holiday_selected_storico_cell,
	.calendar_selected_storico_cell {
	color: black;
	font-weight: bold;
	text-align: center;
	border: solid;
	border-width: 2px;
	border-color: white;
}

.calendar_cell>a, .calendar_selected_cell>a,
	.calendar_selected_storico_cell>a {
	color: black;
	font-weight: bold;
}

.calendar_holiday_cell, .calendar_holiday_cell>a,
	.calendar_holiday_selected_cell, .calendar_holiday_selected_cell>a,
	.calendar_holiday_selected_storico_cell>a {
	color: #B61218;
}

.calendar_selected_cell, .calendar_holiday_selected_cell,
	.calendar_holiday_selected_storico_cell,
	.calendar_selected_storico_cell {
	border: solid;
	border-width: 2px;
	border-color: green;
}

.calendar_holiday_selected_cell, .calendar_holiday_selected_storico_cell
	{
	border-color: #B61218;
}

.calendar_selected_storico_cell, .calendar_holiday_selected_storico_cell
	{
	background: #C0C0C0;
}

/* ----------------------------------------------------------------------*/
/* -------------------------->>> Schede Dinamiche <<<--------------------*/
/* ----------------------------------------------------------------------*/
.bulletlistaSchede ul, .bulletlistaSchede li {
	list-style-type: none;
	text-transform: uppercase;
	list-style-image: url("../../images/item_arrow_2.gif");
}

.listaSchede {
	border-bottom: 1px solid #ccc;
}

.listaSchede ul, .listaSchede li {
	list-style-type: none;
}

.listaSchede a:link, .listaSchede a:visited {
	background: #E8EBF0;
	border: 1px solid #ccc;
	color: #999;
	font-size: small;
	font-weight: normal;
	line-height: 14px;
	text-decoration: none;
}

.listaSchede a:hover {
	background: #d8dBe0;
	color: #696969;
	/*color: #ccc;*/
}

.listaSchede a.SchedaAttiva {
	background: #fff;
	border-bottom: 1px solid #fff;
	/*color: #696969;*/
	color: #888;
	font-weight: bold;
}

/* ----------------------------------------------------------------------*/
/* -------------------------->>> Finestra di dialogo modale  <<<--------------------*/
/* ----------------------------------------------------------------------*/
.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #ccc;
	top: 0;
	left: 0;
	z-index: 1000;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9
}

.dialog {
	width: 80%;
	min-height: 80px;
	max-height: 80%;
	background-color: #fff;
	position: relative;
	top: 200px;
	left: 10%;
	z-index: 1000;
}

.dijitDialog {
	z-index: 2500 !important;
}

/* ---------------------------------------------------------------------------------*/
/* -------------------------->>> Finestra di notifica pop up  <<<--------------------*/
/* ---------------------------------------------------------------------------------*/
.notifichePopup {
	display: none;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 350px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: #eeeeee;
	margin: 2px;
	padding: 2px;
	z-index: 1000;
	opacity: 1 !important;
	
}

.notifichePopupTitle {
	padding: 2px;
	background-color: #1ab394;
	border-radius: 10px;
	text-align: center;
	color: white;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
}

.notifichePopupInner2 {
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.notifichePopupInner {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: url("../../images/exclamation_octagon_fram.png") no-repeat
		left center;
	margin: 0px 5px 0px 5px;
}

.notifichePopupInfoInner {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: url("../../images/info.gif") no-repeat left center;
	margin: 0px 5px 0px 5px;
}

.bobColumn {
	position: relative;
    display: inline-grid;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;	
    height: 16px;
    width: 16px;
    margin-left: 3px;
    /*margin-right: 3px;*/
    background-image: none;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    vertical-align: middle;
}
.bobColumn:before {
	content: "\e008";
}


/* ---------------------------------------------------------------------------------*/
/* -------------------------->>> Stili custom Link  <<<-----------------------------*/
/* ---------------------------------------------------------------------------------*/
.linkConversioneFisicaGiuridica {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

/* FIX FORM TABLE*/
label {
	margin-bottom: 0px;
	margin-left: 4px;
	margin-right: 8px;
	font-weight: normal;
}

form>table td {
	padding-top: 5px;
	padding-bottom: 5px;
}