:root {
    --main-bg-color: white;
    --light-color: #f5f5f5;
    --accent-color: #b61218;
    --accent-color-hover: #6d0b0e;
    --form-field-border-color: #ccc;
    --highlight-color: #E8EBF0;
    --highlight-text-color: #696969;
    --text-color: #696969
}
