.DatiDinamici {
    .helpIcon {
        cursor: pointer;
    }

    TABLE {
        border-collapse: collapse;
    }

    .Titolo {
        /*background-color: #deddcc;*/
        width: 100%;
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 1.8em;
    }

    SPAN {}

    .EtichettaControllo {
        /*Corregge il comportamento di "span"*/
        font-style: normal;
        line-height: 1.80;
    }
}

.TitoloModello {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
}

.ContenutoScheda {
    .UpdatePanel {
        clear: both;
        float: none;
        border-radius: 4px;
    }

    textarea {
        font-family: tahoma, arial, helvetica;
        font-size: 11px;
    }
}

.listaSchede {
    border-bottom: 1px solid #ccc;
    margin: 0px;
    margin-top: 0px;
    margin-top: 10px;
    padding-left: 0px;
    display: block;

    > li {
        display: inline-block;
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        > a:link,
        > a:visited {
            background-color: #E8EBF0;
            border: 1px solid #ccc;
            border-bottom-color: rgb(204, 204, 204);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            font-size: small;
            padding: 8px 16px 8px 16px;
            text-decoration: none;
            display: inline-block;
            position: relative;
            top: 1px;
            text-transform: uppercase;
            color: #696969;
        }

        > a.SchedaAttiva {
            background-color: #fff;
            border-bottom-color: transparent;
        }
    }
}

.ErroriDatiDinamici {
    margin-left: 15%;
    margin-right: 15%;
    color: Red;

    UL {
        margin: 0px;
    }
}

#salvataggioEffettuato {
    color: Green;
    font-weight: bold;
    display: none;
}

#salvataggioInCorso {
    font-weight: bold;
    display: none;
}

.descrizioneCampoDinamico {
    display: none;
    background-color: #fff;
    border: 1px solid #000;
    padding: 2px;
}

.bloccoMultiplo {
    border: 1px solid #666;
    margin-top: 3px;
    margin-bottom: 3px;

    .Titolo {
        margin-top: 0px;
    }

    legend {
        /*   width:*/
    }
}

.divEliminazioneBlocco {
    width: 100%;
    text-align: right;

    > a {
        padding-left: 3px;
        text-decoration: none;
        margin-right: 2px;
    }

    &:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f1f8";
    }
}

/* Tabella per righe multiple*/
table.righeMultiple {
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .d2Control {
        margin-bottom: 0;
    }

    tr.bloccoMultiploAggiungiRiga {
        background-color: transparent;

        > td {
            border-top: 2px solid #deddcc !important;
        }
    }
}

#datiDinamici table td {
    vertical-align: top;
}

.testataRigheMultiple {
    background-color: #deddcc;
    font-weight: bold;
}

.rigaRigheMultiple {
    background-color: #fff;

    .divEliminazioneBlocco {
        text-align: left !important;
        margin-left: 2px;
        width: 150px;
    }
}

.rigaAltRigheMultiple {
    background-color: #f4f3e3;

    .divEliminazioneBlocco {
        text-align: left !important;
        margin-left: 2px;
        width: 150px;
    }
}
/* Fine tabella per righe multiple*/

/**/
.tabellaDatiDinamici .helpIcon {
    vertical-align: top !important;
}

.d2Control {
    /*
    font-size: 12px;
    color: #606060;
    margin-bottom: 6px;
    margin-right: 5px;
    font-size: 12px;
    font-family: tahoma, arial, helvetica;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
*/

    &.d2-hidden {
        display: none !important;
    }

    &.d2-read-only-text {
        border: 0;
        box-shadow: none;
        width: 100%;
        height: auto;
        padding: 0;

        &.titolo {
            font-size: 24px;
            font-weight: 500;
        }

        &.sottotitolo {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &.d2Search,
    &.d2CheckBox,
    &.d2CheckBoxReadOnly {
        border: 0px solid !important;
        padding: 0px;
    }

    &.d2Search > input,
    &.d2CheckBox > input {
        border: 1px solid #aaa;
        padding: 3px;
        /*font-family: "tahoma", "arial", "helvetica";*/
        font-size: 12px;
        color: #606060;
    }

    &.d2Search > a:link {
        color: #666666;
        font-weight: bold;
    }

    &.d2Search > a {
        padding-left: 3px;
        padding-right: 3px;
    }

    &.d2CheckBox > input {
        margin: 0px;
    }
}

input[type=checkbox].d2Errori {
    outline: 1px solid #f00 !important;
}
