.CodeMirror {
    border: 1px solid #dfdfdf;
    /*margin-left:250px;*/
    width: 100%;
    box-sizing: border-box;
}

.CodeMirror-scroll {
    height: 500px;
}

.CodeMirror-fullscreen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin: 0;
    padding: 0;
    border: 0px solid #BBBBBB;
    opacity: 1;
    background-color: #fff;
}

.Bottoni > input {
    display: block;
}

.d2mf {
    display: flex;
    font-size: 16px;

    hr {
        margin: 12px;
        display: none;
    }

    & > .lista-funzionalita {
        width: 290px;
        box-sizing: border-box;
        padding: 12px;

        & > .check-mostra:last-child {
            margin-bottom: 24px;
        }

        & > .check-mostra {

            & > label {
                display: inline-block !important;
                font-weight: normal !important;
            }

            & > input {
                margin: 4px 4px 4px 0;
            }

            .evento {
                margin-top: -11px;
                margin-bottom: 12px;

                & > label {
                    display: none;
                }

                select {
                    width: 100%;
                    padding: 6px;
                }
            }
        }

        .comandi {
            margin-bottom: var(--double-padding);
            font-size: 0.9em;

            h4 {
                position: relative;
                margin-top: var(--half-padding);
                margin-bottom: var( --default-padding);
                border-bottom: 1px solid var(--form-field-border-color);
                padding-bottom: var(--half-padding);
                cursor: pointer;

                &::after {
                    font-family: 'FontAwesome';
                    content: "\f077";
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            .fa {
                min-width: 24px;
            }

            a {
                display: block;
                margin-top: var(--half-padding);
                margin-bottom: var(--half-padding);
            }

            &.chiuso {
                & > * {
                    display: none;
                }

                & > h4 {
                    display: block;

                    &::after {
                        font-family: 'FontAwesome';
                        content: "\f078";
                        position: absolute;
                        background-color: white;
                        right: 0;
                        top: 0;
                    }
                }
            }

            &.tags {
                div {
                    color: var(--accent-color);
                    cursor: pointer;
                    margin-top: var(--half-padding);
                    margin-bottom: var(--half-padding);

                    &:hover {
                        color: var(--accent-color-hover);
                    }
                }
            }
        }

        .dipendenze-campi {
            ul {
                padding: 0;
                list-style-type: none;

                li {
                    position: relative;

                    .rimuovi-campo-collegato {
                        color: var(--highlight-text-color);
                    }


                    &:hover {

                        &::after {
                            display: block;
                            font-family: 'FontAwesome';
                            color: var(--accent-color-hover);
                            content: "\f1f8";
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }

            .lnk-aggiungi {
                /*text-align: right;*/
            }
        }
    }

    .editor-codice {
        box-sizing: border-box;
        width: 100%;
    }
}



.esito-salvataggio {
    position: absolute;
    bottom: 0;
    width: 400px;
    z-index: 100;

    & > .alert {
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }
}
