fieldset {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;

	& div {
		clear: both;
	}

	& > div {
		line-height: 20px;
		vertical-align: middle;
		margin-bottom: 6px;
	}

	& legend {
		width: 100%;
		background-color: #deddcc;
		font-weight: bold;
		margin-bottom: 8px;
		padding: 8px;
		clear: both;

		& span {
			padding-left: 5px;
		}
	}

	& label {
		margin-left: 15px;
		float: left;
		width: 250px;
		text-align: left;

		&.obbligatorio {
			margin-left: 8px;
			width: 257px;
		}
	}

	& .Intervallo {
		clear: both;
		width: 100%;
		display: block;
		margin-bottom: 10px;

		& .Da {
			clear: none;
			float: left;
			width: 360px;
		}

		& .A {
			clear: none;
			float: left;

			& LABEL {
				width: 100px;
			}
		}
	}

	& input,
	& textarea,
	& select,
	& checkbox {
		margin-bottom: 6px;
		margin-right: 5px;
		font-size: 12px;
		font-family: tahoma, arial, helvetica;
		float: left;
		border: 1px solid #ccc;
		padding: 5px;
	}

		& input[type=text] {
			float: left;
		}

	& .CampoFormula {
		font-size: 12px;
		font-family: Courier New;
		float: left;
	}

	& input[type=image] {
		width: auto;
		margin-left: 7px;
	}

	& .DescrizioneCampo {
		margin-left: 260px;
		line-height: 18px;
		font-style: italic;
	}

	& .ErroreCampo {
		margin-left: 265px;
		line-height: 18px;
		color: #f00;
	}

	& .Bottoni {
		padding-top: 10px;
	}
}

img {
	border: 0px;
}

.HelpControllo {
	position: absolute;
	background-color: #fff;
	border: 1px solid #666;
	width: 300px;
	height: auto;
	top: 0px;
	left: 0px;
	line-height: normal;
	padding: 10px;

	&.large {
		width: 550px;
	}
}

input[type=submit],
input[type=button] {
	border: 2px solid transparent;
	padding: var(--half-padding) var(--default-padding);
	background-color: rgb(182, 18, 24);
	font-size: 10px !important;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	clear: both;
	color: #fff;
	float: none !important;

	&:hover {
		background-color: rgb(116, 11, 15);
		cursor: pointer;
	}
}

.UpdatePanel {
	clear: none;
	float: left;
	margin-top: auto;
	padding: 0px;
	width: auto;
}

input[type=file] {
	border: 1px solid #b4b4b4;
	padding: 3px;
	border-radius: 2px;
	background-color: #fafafa;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	width: 350px;
	margin-right: 10px;
}

.ui-autocomplete-input {
	padding-left: 20px !important;
	background-image: url('../images/magnifying-glass.gif');
	background-repeat: no-repeat;
	background-position: left center;
}
