
/*-----------------------------------------------*/
				/*TABELLE ONERI*/
/*-----------------------------------------------*/

.TabellaOneri
{
	border-spacing: 40px;
	*border-collapse: expression('separate', cellSpacing = '40px');
}

.TabellaOneri TD
{
	/*vertical-align:top;*/
	/*border: 1px solid #f00;*/
}

.TabellaOneri TABLE
{
	border-spacing: 2px;
	/*border-collapse: collapse;*/
	border:0px solid #000;
}

.TabellaOneri TABLE TH, .TabellaOneri TABLE TD
{

	border:1px solid #aaa;
	empty-cells: hide;
}