<div *ngIf="dataSource && dataSource.length" class="griglia-endoprocedimenti">
    <ul class='lista-endoprocedimenti'>
        <li *ngFor="let famiglia of dataSource">
            <div class='tipologia'>{{famiglia.famiglia}}</div>
            <ul>
                <li *ngFor="let tipologia of famiglia.tipologie">
                    <div class='famiglia'>{{tipologia.nome}}</div>
                    <ul>
                        <li *ngFor="let e of tipologia.endoprocedimenti">
                            <span class="link" (click)="endoprocedimentoSelezionato(e)">{{e.nome}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
