#header {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	height: 50px;
	width: 99%;
	top: 0px;
	left: 0px;
	position: relative;
	z-index: 100;
}

#header_left {
	/*position: absolute;*/
	position: relative;
	float: left;
	z-index: 10;
	width: 15%;
}

#header_center {
	position: relative;
	/*width: 39%;*/
	float: left;
	margin: 0 auto;
	padding-top: 2px;
	max-width: 60%;
}

#header_right {
	/*position: absolute;*/
	position: relative;
	float: right;
	text-align: right;
	/*margin: 0px 5px;*/
	/*right: 5px;*/
	/* width: 15%;*/
}

.comune_logged_arrow {
}

.comune_logged {

}

.user_logged_arrow {
	
}

.user_logged {
	font-size: 12px;
	font-weight: bold;
}

.app_version_name {
	text-align: right;
}

.app_name {
	font-size: 12px;
	font-weight: bold;
	color: #696969;
}

.app_version {
	color: #B61218;
	font-size: 12px;
	font-weight: bolder;
	margin-right: 5px;
}

.app_description {
	font-size: 12px;
	text-align: left;
}

.header_alert_image {
	background: #ffffff url(../../images/warning.gif) no-repeat left top;
}

.header_alert_message {
	text-align: justify;
	/*padding-left: 20px;*/
	font-weight: bold;
	font-size: 12px;
	color: #ffe200;
}