.alberoEndo ul,
.alberoEndo li
{
    padding: 0px;
    margin: 0px;
    list-style-type:none;
}
.alberoEndo .famigliaEndo
{
    font-size: 13px;
    color: #000;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom: 10px;
}

.alberoEndo .tipoEndo
{
    font-size: 12px;
    font-weight: normal;
    color: #da8011;
    list-style-image: url('../../Images/contenuti/freccia-arancio.png');
    margin: 0px 0px 0px 23px;
}



.alberoEndo .endo
{
    text-transform: none;
    list-style-image: none; 
    margin: 0px;
    padding: 0px;  
}

.alberoEndo .endo > dl
{
	margin: 0px;
    padding: 0px; 
}

.alberoEndo .endo > dl > dt,
.alberoEndo .endo > dl > dd
{
    margin: 0px;
    padding: 0px;
    padding-bottom: 3px;
}

.alberoEndo .endo > dl > dt
{
    font-size: 11px;
    color: #999;
}

.alberoEndo .endo > dl > dd,
.alberoEndo .endo > dl > dd > a,
.alberoEndo .endo > dl > dd > a:hover,
.alberoEndo .endo > dl > dd > a:visited
{
    font-size: 12px;
    color: #666;
}

.alberoEndo .endo > dl > dd > input[type=checkbox]
{
	margin-right: 5px;
}


.dettagliIntervento  table
{
    width: 100%;
}

.dettagliIntervento  table .rigaAlternata
{
    background-color: #e0e0e0 !important;
}

.dettagliIntervento  table  tr  th
{
 background:  url(../jqueryui/images/ui-bg_highlight-soft_75_cccccc_1x100.png) #ccc repeat-x 50% 50%;
}

.dettagliIntervento  table tr img
{
    border: 0px;
}