@import url("../reset.css");
@import url("dettagliIntervento.css");


html
{
/*	width: 100%;	
	height: 100%;*/
}

body
{
	/*width: 100%;	
	height: 100%;*/
	font-family: arial, tahoma;
	font-size: 0.9em;
	padding: 0px;
}

h1
{
	font-weight: bold;
	text-transform: uppercase;
}

h3
{
	margin-top: 20px;
	font-weight: bold;
	font-size: 1.0em;
	padding: 0.5em 0.5em 0.1em 0.5em;
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.3em;
	width: 95%;
}

.alberoEndo
{
	margin-left:10px;
}

#listaEndoprocedimentiSelezionabili
{
	height: 400px;
	width: 98%;
	overflow:auto;
	margin-bottom:10px;
	border: 1px solid #aaa;
}
#listaEndoprocedimentiSelezionabili>div
{
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #fff;
}

div.bottoni
{
	margin-top: 10px;
	width: 100%;
}


div.bottoni > a:link,
div.bottoni > a:visited
{
	color: #da8011;
	text-transform:uppercase;
	text-decoration:none;
	margin-right: 10px;
	background-image: -webkit-linear-gradient(180deg,transparent,transparent 33%,#da8011 33%);
    background-image:    -moz-linear-gradient(180deg,transparent,transparent 33%,#da8011 33%);
    background-image:      -o-linear-gradient(180deg,transparent,transparent 33%,#da8011 33%);
	background-image:     -ms-linear-gradient(180deg,transparent,transparent 33%,#da8011 33%);
	background-size: 3px 45px;
	background-repeat: no-repeat;
	padding-left: 7px;
}

div.bottoni >a:hover
{
	text-decoration:underline;
}

.persist-header {
	height: 15px; 
	width: 100%;
	background-color: white;
}

.descrizione
{
	color: #666;
	margin-bottom: 5px;
}