button {
    background-color: transparent;
    border: 0;
    color: var(--main-primary);
}

    button:hover {
        text-decoration: underline;
    }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
