body 
{
	background: none;	
}

#contenuto1
{
	width: 100%
}	
#corpoIntervento
{
	width: 99%
}

#stepContenuto
{
	width:auto
}

#stepContenuto > span >.treeView,
.dettagliIntervento > #corpoIntervento
{
	height: auto;
	overflow-y: hidden;
}

#stepContenuto
{
	margin-left: 0px;
}

.ui-widget
{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.0em;
}

.alberoEndo .famigliaEndo,
.alberoEndo .tipoEndo,
.alberoEndo .endo > dl > dd,
.alberoEndo li.endo > dl > dd > a,
.alberoEndo li.endo > dl > dd > a:link,
.alberoEndo li.endo > dl > dd > a:hover
{
	font-size: 1.0em;
}