html
{
	background-color: #ddd;
}

body
{
    width: 1024px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0em;
    background-color: #fff !important;
}

header
{
}

.sir-nav-menu {
    background-color: #B7282E;
    height: 30px;
    padding-top: 5px;
}

.sir-nav-menu  > ul > li {
    text-align: center;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.sir-nav-menu > ul {
    margin-left: 20%;
    display:block;
}

.sir-nav-menu > div {
    margin: 0px auto;
    padding-top: 5px;
}

.clear {
    clear: both;
}

.sir-loghi > img {
    float: left;
}

.sir-loghi >.sir-logo-comune {
    float: right;
    width: 20%;
    text-align: center;
    padding-top: 10px;
}

.sir-nav-menu > ul > li > a {
    color: #fff;
    text-decoration: none;
}

.sir-nav-menu > ul > li > a:hover {
    text-decoration: underline;
}

.sir-content *
{
    color: #57585A;
}

.sir-content {
    /* padding-top: 30px;*/
    padding-bottom: 50px;
}

.sir-footer {
    font-size: 0.8em;
}

.sir-footer > .sir-separator {
    background-color: #B7282E;
    height: 5px;
    padding-top: 5px;
    margin-bottom: 10px;

}

.sir-dati-comune 
{
	padding-left: 80px;
	margin-bottom: 10px;
}

.sir-dati-comune > .sir-nome-comune {
    margin-bottom: 10px;
}

.sir-dati-comune > .sir-nome-comune > .titolo{
    font-weight: bold;    
}

.sir-footer .sottotitolo,
.sir-footer .label {
    color: #B7282E;
    margin-right: 5px;
}

.sir-box-regione > .sottotitolo
{
    font-weight: bold;
    display:block;
}


.sir-box-comune {
    float:left;
    width: 60%;
}

.sir-box-comune > img {
    float:left;
    width: 70px;
    padding-right: 10px;
}


.sir-box-regione {
    width: 260px;
    float: right;
    text-align: left;
    padding-right: 10px;
}

.sir-box-regione > img {
    margin-top: 15px;
}

.sir-benvenuto {
    text-align: center;
    width: 70%;
    margin: 0px auto;
}

.sir-sezione
{
	width: 90%;
    margin: 0px auto;
}

.sir-sezione > div 
{
	margin-top: 2.0em;
}

.sir-sezione > div > p
{
	margin-top: 1.0em;
	text-align: justify;
}

.sir-benvenuto .upper {
    color: #B7282E;
    font-weight: bold;
}

.sir-benvenuto-links
{
    text-align: center;
    margin-top: 30px;
}

.sir-benvenuto-links > a
{
    font-weight: bold;    
    text-decoration: none;

}

.sir-benvenuto-links > .sir-box-info {
    float:left;
    width: 50%;
}

.sir-benvenuto-links .titolo {
    color: #B7282E;
}

.sir-benvenuto-links img {
    margin-bottom: 10px;
}

.sir-benvenuto-links > .sir-box-suape {
    float:right;
    width: 50%;
}

.sir-titolo-sezione
{
	float:left;
	margin-bottom: 30px;
}

.sir-titolo-sezione > h1
{
	color: #B7282E;
	font-weight: bold;
	font-size: 1.2em;
}

.sir-bottoni-sezione
{
	float:right;
}

.sir-lista-links
{
	margin-top: 30px;
}


.sir-lista-links > .titolo
{
	font-weight: bold;
	color: #B7282E;
}

.sir-lista-faq > .sir-elemento-faq
{
	margin-top: 30px;
}

.sir-lista-faq > .sir-elemento-faq > .sit-titolo-faq
{
	font-weight: bold;
	color: #B7282E;
	text-align: justify;
}

.sir-lista-faq > .sir-elemento-faq > .sit-corpo-faq
{
	text-align: justify;
}

.sir-titolo-note
{
	font-style: italic;
	font-weight: bold;
}