.servizio_title{
	font-weight: bold;
	padding: 10px;
	display: block;
}
.servizio_form{
	float: left;
	padding: 10px;
}
.parameter{
	margin-bottom: 10px;
}
.label{
	width: 50%;
	float: left;
}
.field{
	float: left;
}
.separator{
	width: 90%;
	margin: 20px;
	border-top: 2px #000000 dotted;
}
.top {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  height: 180px;
  overflow: scroll;
}

.legend {
	font: italic;
}

.riga{
	padding-bottom: 10px;
}

.output{
	width: 50%;
	border: 1px solid black;
    background-color: lightblue;
    height: 210px;
    overflow: scroll;	
	
}