/*** Default style ***/ /* Table of Contents:
    1.  Menu
    2.  BUTTON
    3.  EFFECT
    4.  JMESA
    5.  Global
    9.  Page
    10. Content
    11. Navigation
    12. Sidebar
    13. Sidebar help
    14. Footer 
    15. Footer Legal
    16. Various classes
    17. Calendario
    18. Schede Dinamiche
    19. Finestra di dialogo modale 
*/
	/* ----------------------------------------------------------------------*/
	/* ------------------------------->>> MENU <<<-------------------------*/
	/* ----------------------------------------------------------------------*/
#menu {
	background-color: #016C10;
}
.sf-menu {
	margin: 0px !important;
	margin-left: 7px !important;
}
.sf-menu a {
	border-left: 0px !important;
	border-top: 0px !important;
}
.sf-menu a {
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #CFDEFF;
	padding: 0.30em;
	text-decoration: none;
}
.sf-menu a,.sf-menu a:visited {
	color: #FFFFFF !important; 
}
.sf-menu li {
	background: #016C10 !important;
}
.sf-menu li li {
	background: #016C10; 
}
.sf-menu li li li {
	background: #016C10; 
}
.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active
	{
	background: #A3B8CC;
	color: black;
	outline: 0;
}
/* ----------------------------------------------------------------------*/
	/* ------------------------------->>> BUTTON <<<-------------------------*/
	/* ----------------------------------------------------------------------*/
#functions {
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

#functions ul {
	margin: 2px;
	padding-left: 0;
	list-style: none;
	float: left;
}

#functions li:first-child {
	margin-left: 0 !important;
}

#functions li {
	  float: left;
	  display: inline-block;
	  border-radius: 4px;
	  background-color: #b61218;
	  border: none;
	  color: #ffffff;
	  text-align: center;
	  font-size: 1.em;
	  font-weight: bold;
	  text-transform: uppercase;
	  padding: 5px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: 5px;
}

#functions li a {

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#functions a:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#functions a:link,#functions a:visited {
	float: none !important;
	color: #ffffff;
	clear: both;
	
 
}

#functions a:hover,#functions a:focus,#functions a:active {
	float: none !important;
	color: #ffffff;
	clear: both;
}
/* bottoni dei componenti per la gestione degli oggetti/documenti */
#contenitoreUpload>li {
    display: block;
    float: none;
}
#contenitoreUpload .rimuovi-file {
	background-color: transparent;
	border: 0 !important;
}
.bottone-file{
	cursor: default;
}

.buttondisabled a {
	background-color: #ECE9D8 !important;
	color: #C0C0C0 !important;
}

.buttondisabled a:link,.buttondisabled a:visited {
	border: 1px solid #C0C0C0 !important;
	color: #C0C0C0 !important;
}

.buttondisabled a:hover,.buttondisabled a:focus,.buttondisabled a:active {
	border: 1px solid #C0C0C0 !important;
	color: #C0C0C0 !important;
}

.draggable {
	height: 40px;
	background: #fff;
	cursor: move;
	position: relative;
}

.highligthDroppable {
	width: 100%;
	height: 20px;
	background: #bbb;
	border: 1px dashed #ccc;
	position: relative;
}

.unHighligthDroppable {
	width: 100%;
	height: 20px;
	border: 1px dashed #fff;
	position: relative;
}

/* ----------------------------------------------------------------------*/
	/* ------------------------------->>> EFFECT <<<-------------------------*/
	/* ----------------------------------------------------------------------*/
	

div.autocomplete {
	position: absolute; /* aggiunto per firefox*/
	background-color: white;
	border: 1px solid #888;
}

div.autocomplete ul {
	list-style-type: none;
}

div.autocomplete ul li.selected {
	background-color: #ffb;
}

div.autocomplete ul li {
	list-style-type: none;
	cursor: pointer;
}

div.autocomplete li.li_error {
	font-size: 0px;
}

div.autocomplete span.error {
	font-weight: bold;
}

/* ----------------------------------------------------------------------*/
	/* ------------------------------->>> JMESA <<<--------------------------*/
	/* ----------------------------------------------------------------------*/
.jmesa caption {
	caption-side: top;
	color: #444444;
	font-weight: bold;
	font-size: 1em;
	text-align: left;
}

.jmesa .table { /*border: 1px solid silver;*/
	width: 100%;
}

.jmesa .toolbar {
	background-color: #DEDDCC;
}

.jmesa .toolbar select {
	font-size: 11px;
	/*border: solid 1px #c4c3c2;*/
}

.jmesa .toolbar .pageNumber {
	font-size: 13px;
	font-weight: bold;
	color: #c4634d;
}

.jmesa .toolbar .pageNumber a {
	font-size: 13px;
	font-weight: normal;
	color: black;
}

.jmesa .filter {
	background-color: #DEDDCC;
}

.jmesa .filter td {
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.jmesa .filter .dynFilter {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	border: 1px solid #c0c0c0;
	background-color: #efebe7;
	white-space: nowrap;
	cursor: pointer;
}

.jmesa .filter #dynFilterDiv {
	border: 1px solid #c0c0c0;
	background-color: #e1ebf4;
}

.jmesa .filter #dynFilterInput {
	/*
	font-family: tahoma, arial, helvetica;
	font-size: 12px;
	border-style: none;
	background-color: #e1ebf4;
	*/
    border-style: none;
    background-color: #e1ebf4;
    height: 15px;
    font-size: 11px;
    border: 0;
}

.jmesa .filter #dynFilterDroplistDiv {
	background-color: #e1ebf4;
}

.jmesa .filter #dynFilterDroplist {
	font-family: tahoma, arial, helvetica;
	font-size: 12px;
	border: 1px solid #c0c0c0;
	background-color: #e1ebf4;
}

.jmesa .header td {
	white-space: nowrap;
	background-color: #DEDDCC;
	font-size: 12px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.jmesa td .header {
	white-space: nowrap;
	background-color: #DEDDCC;
	font-size: 12px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.jmesa .odd a,.jmesa .even a {
	color: #B61218;
	text-decoration: none;
}

.jmesa .odd a,.jmesa .even a {
	color: #B61218;
	text-decoration: none;
}


.jmesa .odd td,.jmesa .even td {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
}

.jmesa .odd td {
	border: 1px solid #ffffff;
}

.jmesa .even td {
	border: 1px solid #F5F5F0;
}

.jmesa .odd {
	background-color: #ffffff;
}

.jmesa .even {
	background-color: #ececec;
}

.jmesa .highlight td {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	background-color: #fdecae;
}

.jmesa .highlight a {
	color: black;
}

.jmesa .statusBar td {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	border-top: 1px solid silver;
	background-color: #efebe7;
}

.jmesa .wsColumn {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	border-bottom: 1px solid #c0c0c0;
	white-space: nowrap;
	cursor: pointer;
}

.jmesa .wsColumnError {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	font-style: italic;
	color: #ec4646;
	border-bottom: 1px dashed #ec4646;
	white-space: nowrap;
	cursor: pointer;
}

.jmesa .wsColumnChange {
	font-family: tahoma, arial, helvetica;
	font-size: 11px;
	font-style: italic;
	color: #005e8f;
	border-bottom: 1px dashed #005e8f;
	white-space: nowrap;
	cursor: pointer;
}

.jmesa #wsColumnDiv {
	border: 1px solid #c0c0c0;
	background-color: #ededed;
}

.jmesa #wsColumnInput {
	font-family: tahoma, arial, helvetica;
	font-size: 12px;
	border-style: none;
	background-color: #ededed;
}
.inline-ui-cell{
	display: inline-flex;
}

.inline-ui-cell input[type=checkbox]{
    min-width: 14px;
    min-height: 12px;
}

a.vbg-btn:ACTIVE, a.vbg-btn:HOVER, a.vbg-btn:FOCUS{
	text-decoration: none;
}
.vbg-btn{
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
	margin-left: 3px;
    margin-right: 0px;
    border-radius: 3px;
	background-position: center center;
	background-repeat: no-repeat;
}
.vbg-btn > label{
	display: none;
}
.vbg-stack{
	position: relative;
    display: inline-grid;
    vertical-align: middle;	
}
.vbg-stack-btn{
	position: relative;
    margin-left: 4px;
    cursor: pointer;
	color: #337ab7;
    text-decoration: none;
    display: inline-grid;
    height: 16px;
}
.vbg-btn-disabled{
	cursor: default;
}
.btn-dettaglio{
	background-image: url(../../images/search.gif);
}
.btn-avvisi{
	background-image: url(../../images/warning.gif);
}
.btn-modifica{
	background-image: url(../../images/edit.gif);
}
.btn-aggiungi{
	background-image: url(../../images/add.png);
}
.btn-rinuncia-posteggio{
	background-image: url(../../images/warning.gif);
}
.btn-altreopzioni{
	background-image: url(../../images/verticalizzazioni.gif);
}
.btn-elimina{
	background-image: url(../../images/cross.gif);
}
.btn-cerca{
	background-image: url(../../images/search.gif);
}
.btn-attesa{
	background-image: url(../../images/spinner.gif);
}
.btn-storico{
	background-image: url(../../images/search_s.gif);
}
.btn-salva{
	background-image: url(../../images/save.png);
}
.btn-cerca{
	background-image: url(../../images/find.gif);
}
.btn-calcola{
	background-image: url(../../images/calcolatrice.gif);
}
.btn-info{
	background-image: url(../../images/info.gif);
}
.btn-rielabora{
	background-image: url(../../images/clear.png);
}
.btn-error{
	background-image: url(../../images/error.png);
}
.btn-euro:before{
	content: "€";
	font-weight: bolder;
	font-size: 1.2em;
}
.btn-utente{
	background-image: url(../../images/bob.png);
}
.btn-pdf{
	background-image: url(../../images/doc_generate_pdf.gif);
}

.btn-qrcode{
	background-image: url(../../images/qrcode.gif);
}

.btn-cambia{
	background-image: url(../../images/switch.gif);
}

.btn-check-enabled{
	background-image: url(../../images/accept.png);
}

.btn-check-disabled{
	background-image: url(../../images/accept-gray.gif);
}

.btn-stc-in{
	background-image: url(../../images/retestc_in.gif);
    display: inline-block;
    width: 38px;
}
.btn-stc-out-ok{
	background-image: url(../../images/retestc_out.gif);
	display: inline-block;
	width: 38px;
}
.btn-stc-out-ko{
	background-image: url(../../images/retestc_out_ko.gif);
	display: inline-block;
	width: 38px;
}
.btn-stc-out-attesa{
	background-image: url(../../images/retestc_out_wait.gif);
	display: inline-block;
	width: 38px;
}
.btn-stc-da-notificare{
	background-image: url(../../images/warning.gif);
}
.btn-stc-nolink{
	background-image: url(../../images/retestc_nolink.gif);
	width: 38px;
}
.btn-dettaglio-notifica{
	background-image: url(../../images/dettaglio_notifica.gif);
}
.btn-import{
	background-image: url(../../images/dettaglio_notifica.gif);
}
.btn-a{
	background-image: url(../../images/lettera_a.gif);
}
.btn-a-verde{
	background-image: url(../../images/lettera_a_verde.gif);
}
.btn-email{
	background-image: url(../../images/email.png);
}
.btn-allegato{
	background-image: url(../../images/attach.gif);
}
.btn-eventi-nonletti{
	background-image: url(../../images/exclamation_octagon_fram.png);
}
.btn-mettiallafirma{
	background-image: url(../../images/metti_alla_firma.gif);
}
.btn-mettiallafirma_completa{
	background-image: url(../../images/metti_alla_firma_completa.gif);
}
.btn-mettiallafirma_negata{
	background-image: url(../../images/metti_alla_firma_negata.gif);
}
.btn-mettiallafirma_richiesta{
	background-image: url(../../images/metti_alla_firma_richiesta.gif);
}
.btn-verificafirma{
	background-image: url(../../images/sign.gif);
}

.btn-remotefirma{
	background-image: url(../../images/otp.png);
}
.btn-certificato{
	background-image: url(../../images/certificato.gif);
}
.btn-gis{
	background-image: url(../../images/gis_ico.gif);
}

.btn-applicalayer{
	background-image: url(../../images/layer.png);
}
.btn-beside{
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}
.addColumn {
	background-image: url("../../images/add.png");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}

.add {
	background-image: url("../../images/add.png");
}

.emailColumn {
	background-image: url("../../images/email.png");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}

.dettaglioColumn {
	background-image: url("../../images/edit.gif");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}

.eliminaRiga {
	background-image: url("../../images/cross.gif");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}

.assegnaColumn {
	background-image: url("../../images/money_add.png");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
   	padding: 0px 0px 4px 0px;
}

.visualizzaDocColumn {
	background-image: url("../../images/download.gif");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
   	padding: 0px 0px 4px 0px;
}


.visualizzaDocPDFColumn{
	background-image: url("../../images/download_pdf.gif");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
   	padding: 0px 0px 4px 0px;
}

.visualizzaDocWORDColumn{
	background-image: url("../../images/download_word.gif");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
   	padding: 0px 0px 4px 0px;
}

.verticalizzazioniColumn {
	background-image: url("../../images/verticalizzazioni.gif");
	background-position:center center;
	background-repeat:no-repeat;	
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
   	padding: 0px 0px 4px 0px;
}

.verticalizzazioniparametriColumn {
	background-image: url("../../images/verticalizzazioni_parametri.gif");
	background-position:center center;
	background-repeat:no-repeat;	
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
   	padding: 0px 0px 4px 0px;
}

.gisLink {
	background-image: url("../../images/gis_ico.gif");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 4px; 
}

.dettaglioGisLink
{
	background-image: url("../../images/edit.gif");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 4px; 
}

.letteraA {
	background-image: url("../../images/lettera_a.gif");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}

.salvaRiga {
	background-image: url("../../images/save.png");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
   	padding: 0px 0px 4px 0px; 
}

.upColumn {
	background-image: url("../../images/up.gif");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    /*height: 16px;*/
    width: 20px;
    margin-left: 4px;
    margin-right: 2px;
}
.downColumn {
	background-image: url("../../images/drop.gif");
	background-position: center center ;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
   /* height: 16px;*/
    width: 20px;
    margin-left: 4px;
    margin-right: 2px;
}

.infoColumn {
	background-image: url("../../images/magnifying-glass.gif");
	background-position: center ;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}
.stampaColumn {
	background-image: url("../../images/printer.gif");
	background-position: center ;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}

.notificheASLColumn {
	background-image: url("../../images/asl.gif");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}

.copiaRecord {
	background-image: url("../../images/copy.png");
	background-position: center ;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}


.dettagliOneri {
	background-image: url("../../images/d.gif");
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}

.raggruppamentoOneri {
	background-image: url("../../images/r.gif");
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}

.rielabora {
	background-image: url("../../images/clear.png");
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}

.undo {
	background-image: url("../../images/undo.png");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}

.aggiornaColumn {
	background-image: url("../../images/save.png");
	background-position: center ;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}

.blockColumn {
	background-image: url("../../images/block-icon.gif");
	background-position: center ;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}


.listaRecordColumn {
	background-image: url("../../images/list-icon.png");
	background-position: center ;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}

.downloadEmlColumn
{
	background-image: url("../../images/hourglass-icon.gif");
	background-position: center ;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
}

.totalRow {
	white-space: nowrap;
	background-color: #DEDDCC;
	font-size: 12px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.totalRow td {
	padding: 1px 3px 1px 3px;
}

.sezioneDatiMeno {
	background-image: url("../../images/meno.gif");
	background-position: left;
	background-repeat: no-repeat;
}

.sezioneDatiMeno label {
	color: #696969;
	padding-left: 18px;
	cursor: pointer;
}

.sezioneDatiPiu {
	background-image: url("../../images/piu.gif");
	background-position: left;
	background-repeat: no-repeat;
}

.sezioneDatiPiu label {
	color: #696969;
	padding-left: 18px;
	cursor: pointer;
}

.avvisoBox {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-image: url("../../images/error.png");
	background-color: #FF2A00;
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.scadenzaBox {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-image: url("../../images/warning.gif");
	background-color: #FFD800;
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* ----------------------------------------------------------------------*/
	/* ------------------------------->>> Global <<<-------------------------*/
	/* ----------------------------------------------------------------------*/
body {
	font-size: 72.5%;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	/*overflow: hidden;*/ /*SCOMMENTARE PER BACKOFFICE EXTERNAL*/
}

p,ol,ul {
	line-height: 1.67em;
}

a {
	color: #669900;
	text-decoration: none;
	margin-left: 4px;
	margin-right: 2px;
}

.movimentoDaEffettuare {
	color: #0000EE !important;
	text-decoration: none;
}

.movimentoEffettuato {
	color: #006D0D !important;
	text-decoration: none;
}

.movimentoReadOnly {
	color: #808080 !important;
	text-decoration: none;
}

img {
	border: 0;
}

a:hover { /*text-decoration: none;*/
	
}

input {
	
}

select {
	
}

textarea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

/* ----------------------------------------------------------------------*/
	/* ----------------------------->>> Page <<<-----------------------------*/
	/* ----------------------------------------------------------------------*/
#header {
	background-color: #FFFFFF;
	color: #696969;
	background: white;
}

.comune_logged_arrow {
	background-color: #016C10;
}

.comune_logged {
	background-color: #016C10;
	color: white;
	font-size: 12px;
	font-weight: bold;
}
#wrapper {
	/*background: #EBEAD1 url(../images/content_up.gif) repeat-x;*/
	background-color: white;
}

#page {
	
}

#page br {
	clear: both;
}

.modulo {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	float: right;
	margin-top: 2px;
	margin-right: 5px;
}

/* ----------------------------------------------------------------------*/
	/* ---------------------------->>> Content <<<---------------------------*/
	/* ----------------------------------------------------------------------*/
#content {
	
}

.intestazione {
	font-size: 1.2em;
	font-weight: bold;
}

.titoloPagina {
	color: #B61218;
	font-family: Arial, Verdana, Tahoma, Helvetica;
	font-weight: bold;
	font-size: 12pt;
}

.titoloTabella {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.titoloSezione {
	width: 100%;
	background-color: #DEDDCC;
	color: #696969;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

.titoloSottoSezione {
	color: #696969;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #DEDDCC;
	width: 70%;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

.parametri {
	color: #696969;
	font-size: 1.0em;
	font-weight: bold;
	display: block;
	margin-bottom: 3px;
	margin-right: 10px;
}

.parametri>label {
	color: #B61218;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.rigaSubTotaleOneri {
	width: 100%;
	background-color: #DEDDCC;
	color: #333333;
	font-size: 14 px;
	font-weight: bold;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

.rigaTotaleOneri {
	width: 100%;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 16 px;
	/*font-weight: bold;*/
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}


.rigaSeparazione {
	width: 100%;
	border-bottom: #c0c0c0 0.5px dashed;
	size: 0.1em;
}

.rigaSeparazioneContinua {
	width: 100%;
	border-bottom: #c0c0c0 0.7px solid;
	size: 0.1em;
	padding-top:10px;
	
}


.titoloSezionePosteggio {
	width: 100%;
	background-color: #DEDDCC;
	color: #333333;/*#696969;*/
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.global_messages {
	
}

.global_messages_errors {
	list-style: none;
}

/*classi per i posteggi dei mercati*/
.posteggiContent {
	
}

.posteggi {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin: 1px;
	min-width: 350px;
	min-height: 130px;
	width: 350px;
	float: left;
	background-color: white;
}

.posteggi>label {
	margin: 2px;
	font-weight: bold;
}

.posteggi_header {
	background-color: black;
	color: white;
}

.posteggi_dettaglio_header {
	background-color: black;
	color: white;
}

.posteggi_dettaglio {
	background-color: #FFFFFF;
	border: black 1px solid;
	padding: 2px 2px 2px 2px;
	color: black;	
}

.etichetta_posteggio{
	font-size: 1.5em; 
	font-weight: bold;
	cursor: pointer;
    cursor: hand;
}

.etichetta_posteggio_disable{
	font-size: 1.5em; 
	font-weight: bold;
	text-decoration: line-through;
	color: #DEDDCC;
	cursor: pointer;
    cursor: hand;
}

/*NUOVA VISUALIZZAZIONE DEI PARAMETRI*/
.etichetta {
	
}

.etichetta>div {
	color: #696969;
	font-size: 1.0em;
	font-weight: bold;
}

.parametro {
	
}

.parametro>div {
	color: #B61218;
	font-size: 1.0em;
	font-weight: bold;
}

.parametriDiv {
	
}

#menuAbilitati ul {
	list-style-type: none;
}

#menuAbilitati li {
	text-decoration: none;
	font-weight: bold;		
}

#menuAbilitati li li {
	display: block;
	text-decoration: none;
	padding: 3px 3px 3px 17px;	
	font-weight: normal;	
}

#menuAbilitati > ul:FIRST-CHILD > li {
	border-bottom: 1px black solid;
}

#div_check_permessi {
	float: right;
	color: green;
}

.mail_destinatario{
	cursor: pointer;
}

/* ----------------------------------------------------------------------*/
	/* --------------------------->>> Navigation <<<-------------------------*/
	/* ----------------------------------------------------------------------*/
#navigation {
	text-align: right;
	margin-right: 5px;
}

#innernav {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	/*font-weight:bold;*/
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	/*color: #878787;*/
}

#innernav label {
	margin-left: 2px;
	margin-right: 2px;
}

#innernav .selected {
	font-size: 14px;
	color: #B61218;
}

/* ----------------------------------------------------------------------*/
	/* ----------------------------->>> Sidebar <<<--------------------------*/
	/* ----------------------------------------------------------------------*/
#sidebar {
	
}

#sidebar ul {
	list-style: none;
}

#sidebar li {
	
}

#sidebar li ul {
	border-top: 1px dashed #666633;
}

#sidebar li li {
	
}

#sidebar li li a {
	
}

#sidebar h2 {
	
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Sidebar Help <<<------------------------*/
	/* ----------------------------------------------------------------------*/
#help {
	
}

#rnd_container {
	background: #DFD5B9;
	margin: 1px;
}

#ajax_container {
	background: #DFD5B9;
	margin: 1px;
	position: absolute;
}

.rnd_top,.rnd_bottom {
	display: block;
	background: #EBEAD1;
	font-size: 1px;
}

.rnd_b1,.rnd_b2,.rnd_b3,.rnd_b4 {
	display: block;
	overflow: hidden;
}

.rnd_b1,.rnd_b2,.rnd_b3 {
	height: 1px;
}

.rnd_b2,.rnd_b3,.rnd_b4 {
	background: #FFFFFF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.rnd_b1 {
	margin: 0 5px;
	background: #CCCCCC;
}

.rnd_b2 {
	margin: 0 3px;
	border-width: 0 2px;
}

.rnd_b3 {
	margin: 0 2px;
}

.rnd_b4 {
	height: 2px;
	margin: 0 1px;
}

.rnd_content {
	display: block;
	border: 0 solid #CCCCCC;
	text-align: left;
	border-width: 0 1px;
	padding: 4px;
	background: #FFFFFF;
	color: #000000;
}

.rnd_content td {
	background: #FFFFFF !important;
}

.rnd_content h4 {
	margin: 0;
	font-weight: bold;
}

/* ----------------------------------------------------------------------*/
	/* ----------------------------->>> Footer <<<---------------------------*/
	/* ----------------------------------------------------------------------*/
#footer {
	background-color: #FFFFFF;
	color: #FFFFFF;
}

#footer a {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 1em;
	color: #FFFFFF;
}

#footer ul {
	list-style: none;
}

#footer li {
	
}

#footer li.first {
	
}

#footer li ul {
	
}

#footer li li {
	border-bottom: 1px solid #573D30;
}

#footer li li a {
	
}

#footer h2 {
	color: #FFFFFF;
}

/* ----------------------------------------------------------------------*/
	/* ----------------------------->>> Footer Legal <<<---------------------*/
	/* ----------------------------------------------------------------------*/
#legal {
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #525252;
}

#legal a {
	border-bottom: 1px dotted #939393;
	text-decoration: none;
	color: #939393;
}

/* ----------------------------------------------------------------------*/
	/* ---------------------------->>> Various classes <<<-------------------*/
	/* ----------------------------------------------------------------------*/
.timestamp {
	font-size: 1.2em;
}

.timestamp a {
	font-weight: normal;
}

.blue {
	color: #4088b8;
}

.error,.error_header {
	color: #ba0000;
	padding-bottom: 1px;
}

.success,.success_header {
	color: green;
	padding-bottom: 1px;
}

.succes_checkbox {
	color: green;
	padding-left: 3px;
	font-weight: bold;
}

.error_checkbox {
	color: #ba0000;
	padding-left: 3px;
	font-weight: bold;
}

.succes_ajax_call {
	color: green;
	padding-left: 3px;
	font-weight: bold;
}

.error_ajax_call {
	color: #ba0000;
	padding-left: 3px;
	font-weight: bold;
}

.warning,.warning_header {
	color: #ba0000;
	padding-bottom: 1px;
}

.fade {
	color: #c8c8c8;
}

.gray {
	color: gray;
}

.red {
	color: #B61218;
}

.help_pagina{
	
}

.help_inline {
	background-color: #4088b8;
	border: black 1px solid;
	padding: 2px 2px 2px 2px;
	color: white;
}

.help_image {
	cursor: pointer;
	padding-top: 3px;
}

.help_image label {
	
}

.info_inline {
	background-color: #4088b8;
	border: black 1px solid;
	padding: 2px 2px 2px 2px;
	color: white;
}

.info_image {
	cursor: pointer;
	padding-top: 3px;
}

.info_image label {
	
}

.warning_inline {
	background-color: #4088b8;
	border: black 1px solid;
	padding: 2px 2px 2px 2px;
	color: white;
}

.warning_image {
	cursor: pointer;
	padding-top: 3px;
}

.warning_image label {
	
}

.searchbox {
	background-color: #fff;
}

.searchboxBackgroudRed {
	background-color: #FF0000;
}

.inputGreen {
	border-color: #016C10;
	border-width: medium;
}

.inputRed {
	border-color: #B61218;
	border-width: medium;
}

.warning_backup_stc {
	width: 100%;
	/*background-color: #DEDDCC;*/
	color: #696969;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

.alertLine{
	font-weight: bolder; 
	padding: 4px; 
	background-color: #800000; 
	color: #ffffff; 
	width: 100%;	
}

.warningLine{
	font-weight: bolder; 
	padding: 4px; 
	background-color: #f1da07; 
	color: #000000; 
	width: 100%;	
}
/* ----------------------------------------------------------------------*/
	/* ---------------------------->>> Calendario <<<------------------------*/
	/* ----------------------------------------------------------------------*/
.calendar_header {
	font-size: medium;
	font-weight: bold;
}

.calendar_month_header_cell {
	font-weight: bold;
}

.calendar_month_cell {
	background-color: white;
}

.calendar_days_cell {
	background-color: gray;
	color: white;
	text-align: center;
}

.calendar_cell,.calendar_holiday_cell,.calendar_selected_cell,.calendar_holiday_selected_cell,.calendar_holiday_selected_storico_cell,.calendar_selected_storico_cell
	{
	color: black;
	font-weight: bold;
	text-align: center;
	border: solid;
	border-width: 2px;
	border-color: white;
}

.calendar_cell>a,.calendar_selected_cell>a,.calendar_selected_storico_cell>a
	{
	color: black;
	font-weight: bold;
}

.calendar_holiday_cell,.calendar_holiday_cell>a,.calendar_holiday_selected_cell,.calendar_holiday_selected_cell>a,.calendar_holiday_selected_storico_cell>a
	{
	color: #B61218;
}

.calendar_selected_cell,.calendar_holiday_selected_cell,.calendar_holiday_selected_storico_cell,.calendar_selected_storico_cell
	{
	border: solid;
	border-width: 2px;
	border-color: green;
}

.calendar_holiday_selected_cell,.calendar_holiday_selected_storico_cell
	{
	border-color: #B61218;
}

.calendar_selected_storico_cell,.calendar_holiday_selected_storico_cell
	{
	background: #C0C0C0;
}

/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Schede Dinamiche <<<--------------------*/
	/* ----------------------------------------------------------------------*/
.bulletlistaSchede ul,.bulletlistaSchede li {
	list-style-type: none;	
	text-transform: uppercase;
	list-style-image:  url("../../images/item_arrow_2.gif");
}	
	
.listaSchede {
	border-bottom: 1px solid #ccc;		
}

.listaSchede ul,.listaSchede li {
	list-style-type: none;		
}

.listaSchede a:link,.listaSchede a:visited {
	background: #E8EBF0;
	border: 1px solid #ccc;
	color: #999;
	font-size: small;
	font-weight: normal;
	line-height: 14px;
	text-decoration: none;
}

.listaSchede a:hover {
	background: #d8dBe0;
	color: #696969;
	/*color: #ccc;*/
}

.listaSchede a.SchedaAttiva {
	background: #fff;
	border-bottom: 1px solid #fff;
	/*color: #696969;*/
	color: #888;
	font-weight: bold;
}

.listaSchede a.SchedaDati {
  background-color: #c1e2b3 !important;
}
.listaSchede a.SchedaDati:hover {
  background-color: #9FF781 !important;
}


/* ----------------------------------------------------------------------*/
	/* -------------------------->>> Finestra di dialogo modale  <<<--------------------*/
	/* ----------------------------------------------------------------------*/
.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #ccc;
	top: 0;
	left: 0;
	z-index: 1000;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9
}

.dialog {
	width: 80%;
	min-height: 10%;
	max-height: 80%;
	background-color: #fff;
	position: relative;
	top: 10%;
	left: 10%;
	z-index: 1000;
}
/* ---------------------------------------------------------------------------------*/
/* -------------------------->>> Finestra di notifica pop up  <<<--------------------*/
/* ---------------------------------------------------------------------------------*/
.notifichePopup {
	display: none;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 350px;
	border: 1px solid gray;
	background-color: #eeeeee;
	margin: 2px;
	padding: 2px;
	z-index: 1000;
}

.notifichePopupTitle {
	padding: 2px; 
	background-color: gray; 
	color: white; 
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
}

.notifichePopupInner2 {
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.notifichePopupInner {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: url("../../images/exclamation_octagon_fram.png") no-repeat left center;
	margin: 0px 5px 0px 5px;
}

.notifichePopupInfoInner {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: url("../../images/info.gif") no-repeat left center;
	margin: 0px 5px 0px 5px; 
}

.bobColumn {
	background-image: url("../../images/bob.png");
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    margin-right: 2px;
	padding: 0px 0px 4px 0px; 
}


/* ---------------------------------------------------------------------------------*/
/* -------------------------->>> Stili custom Link  <<<-----------------------------*/
/* ---------------------------------------------------------------------------------*/

.linkConversioneFisicaGiuridica {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}



.data_nei_termini:before{


}

.data_in_scadenza{
	background-color: #ffcc00;
	padding: 4px;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1em;	
	border-radius: 5px;
    text-align: center;
}


.data_scaduta{
	background-color: #cc3300;
	padding: 4px;
	color: #ffffff; 	
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1em;
	border-radius: 5px;
    text-align: center;
}

.form-group {
	margin-bottom: 12px;	
}


.form-group>label {
	margin-bottom: 6px;
	display: block;
	
}

.form-group>.form-control {
	min-width: 50%;
	padding: 4px 6px 4px 6px;
}

.input-error {
	border-color: #ba0000;
	color: #ba0000;	
}

button:disabled,
#functions a[disabled="disabled"] {
  cursor: not-allowed;
  pointer-events: none !important;
  color: #bbb;
}
#functions a[disabled="disabled"]:active {
    cursor: not-allowed;
}
