@CHARSET "UTF-8";

.init-autocompiler{
}

.init-comboautocompiler{
	padding-left: 20px !important;
}

.init-comboautocompiler-disabled{
	background-image: none;
	padding-left: 3px !important;
}

.init-endoautocompiler{
	/*width: 267px;*/
}

.init-endoautocompiler-disabled{
	/*width: 267px;*/
}

.init-autocompiler-wrapper{
	display: inline-block;
}

A.init-autocompiler-button{
	height: 20px;
	width: 20px;
	font-size: 10pt;
	vertical-align: top;
	text-align: center;
	display: inline-block;
	/*
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-top: 1px;
	*/
}

.init-autocompiler-button > SPAN{
	height: 20px;
	width: 20px;
	font-size: 10pt;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.init-autocompiler-button-find{
	background-image: url(images/find.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-copy{
	background-image: url(images/copy.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-count{
	background-image: url(images/copy.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-user{
	background-image: url(images/bob.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-info{
	background-image: url(images/info.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-help{
	background-image: url(images/help.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	cursor: pointer;
}

.init-autocompiler-button-link{
	background-image: url(images/external_link_icon.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-help label {
	visibility: hidden;
}

.init-autocompiler-button-download{
	background-image: url(images/download.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-download-pdf{
	background-image: url(images/pdf16x16.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-download-doc{
	background-image: url(images/doc16x16.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-download-rtf{
	background-image: url(images/rtf16x16.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-download-odt{
	background-image: url(images/odt16x16.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.init-autocompiler-button-scheda-dinamica{
	background-image: url(images/application_form_edit.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

BUTTON.init-autocompiler-button > SPAN{
	padding: 0em 1em !important;
}

.init-autocompiler_search_panel{
	/*position: absolute;*/
	width: 400px;
	height: 150px;
	border-width: 2px;
	border-color: gray;
}

.init-autocompiler-error{
	font-weight: normal;
	font-size: 9px;
	font-style: italic;
	color: red;
}

.init-autocompiler-error-big{
	font-weight: normal;
	font-style: italic;
	font-size: 10pt;
	color: red;
}

.init-autocompiler-results-table{
	width: 95%;
}

.init-autocompiler-results-header{
	font-size: 10.5px;
	text-align: left;
}

.init-widget-content {
    /*background-color: #FFFFFF;*/
    border: 1px solid #AAAAAA;
    color: #222222;
}
	
DIV.init-autocompiler-toolbar{
	height: 20px;
}