<div class="frame-header" *ngIf="loaded">
    <header>
        <div class="header-top">

            <div class="container">



                <div class="denominazione-x pull-left">
                    <ul>
                        <li>

                            <a href="{{datiComune.linkRegione}}" target="_blank">{{datiComune.denominazioneRegione}}</a>

                        </li>
                        <li *ngIf="datiComune.linkComune">
                            <a href="{{datiComune.linkComune}}" target="_blank"
                                *ngIf="linkComune">{{datiComune.denominazioneComune}}</a>
                        </li>
                    </ul>
                </div>


                <div class="accedi-ai-servizi pull-right">
                    <a href="{{datiComune.scrivaniaVirtuale.link}}" target="_blank">
                        <h2>{{datiComune.scrivaniaVirtuale.titolo}}</h2>
                    </a>
                </div>


            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 hidden-xs">
                        <img src="{{pathLogoComune}}" alt="{{datiComune.denominazioneComune}}">
                    </div>

                    <div class="col-md-8">
                        <h1>{{datiComune.denominazioneComune}}</h1>
                        <h2>{{datiComune.denominazioneSportello}}</h2>
                    </div>

                    <div class="col-md-3 social-links hidden-xs">
                        <span *ngIf="datiComune?.canaliSocial">


                            <span>Seguici su</span>

                            <a href="{{canale.link}}" title="Seguici su {{canale.tipo}}"
                                *ngFor="let canale of datiComune?.canaliSocial" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-{{canale.tipo}} fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only">{{canale.tipo}}</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-menu">
            <nav class="navbar navbar-default">


                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" #hambtnref id="hamburger-menu-btn2" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#bs-main-menu" aria-expanded="false"
                            (click)="isCollapsed = !isCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>


                    <div class="navbar-collapse elementi-menu" id="bs-main-menu" [collapse]="isCollapsed">
                        <ul class="nav navbar-nav">
                            <li *ngFor="let item of datiComune?.menu">

                                <a [routerLink]="[item.link]">{{item.titolo}}</a>
                            </li>
                            <li dropdown *ngIf="passaALinks" id="link-software">
                                <a href dropdownToggle id="basic-link" (click)="false"
                                    aria-controls="basic-link-dropdown">
                                    {{datiComune.passaALinks.etichetta}}<span class="caret"></span>
                                </a>
                                <ul *dropdownMenu id="basic-link-dropdown" class="dropdown-menu"
                                    aria-labelledby="basic-link" role="menu">
                                    <li role="menuitem" *ngFor="let item of datiComune.passaALinks.items">
                                        <a href={{item.link}} [class]="item.stato">{{item.label}}</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>


                    </div>

                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </header>
</div>