#functions {
	/* width: 100%; */
}

#functions ul {
	margin: 2px;
	padding-left: 0;
	list-style: none;
}

#functions li {
	display: inline;
	margin: 2px;
	padding: 0;
}

#functions a:link,#functions a:visited {
	float: left;
	margin: 0em;
	padding: 0.1em 0.3em;
}

.functionsMinus{
	width: 20px;
	height: 22px;
	min-width: 20px;
	min-height: 22px;
}

.functionsPlus{
	width: 20px;	
	height: 22px;
	min-width: 20px;
	min-height: 22px;
}