/*@accent-color: #06c;*/
/*@accent-dark: #003d7a;*/
/*@paginatore-steps-color: @background-start-color;*/
:root {
  --default-font-size: 16px;
  --padding-x-small: 6px;
  --padding-small: 12px;
  --padding-default: 24px;
  --padding-large: 36px;
  --main-bg-color: #fff;
  --accent-color: var(--main-primary);
  --well-background-color: #f0f0f0;
  --font-color: #5a6772;
  /*--font-hover-color: #003d7a;*/
  --font-hover-color: var(--main-dark-primary);
  /*--font-accent-color: #06c;*/
  --font-accent-color: var(--main-primary);
  --form-control-border-color: #f0f0f0;
  --table-border-color: #ddd;
  --table-row-hover-color: #f0f6fc;
  --color-danger: #a94442;
  --color-success-bg: #dff0d8;
  --color-success: #3c763d;
}