.grid-button-group {
  text-align: left;
  color: var(--font-accent-color);
}
.grid-button-group .grid-button {
  display: block;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  margin-bottom: var(--padding-x-small);
  white-space: nowrap;
  margin: 0;
  padding: 0;
  line-height: 1.42857143;
}
.grid-button-group .grid-button:hover {
  text-decoration: underline;
}
.grid-button-group .grid-button i {
  margin-right: 0.5em;
}
.grid-button-group .grid-button i.IconOnTheRight {
  margin-right: 0;
  margin-left: 0.5em;
}