.table {
    thead {
        .sorting,
        .sorting_asc,
        .sorting_desc {
            cursor: pointer;
            position: relative;
            padding-right: 30px;
        }

        .sorting:after {
            opacity: 0.1;
            content: "\f0dc";
            position: absolute;
            bottom: 8px;
            right: 1rem;
            display: block;
            font-family: 'FontAwesome';
        }

        .sorting_desc:after {
            opacity: 0.6;
            content: "\f161";
            position: absolute;
            bottom: 8px;
            right: 1rem;
            display: block;
            font-family: 'FontAwesome';
        }

        .sorting_asc:after {
            opacity: 0.6;
            content: "\f160";
            position: absolute;
            bottom: 8px;
            right: 1rem;
            display: block;
            font-family: 'FontAwesome';
        }
    }

    .pagination .pageInput {
        border: none;
        width: 2em;
        margin: 0;
        padding: 0;
        display: inline;
        color: inherit;
        min-height: auto;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 0%);
    }

    .itemsPerPage {
        width: auto;
        padding: 0;
        display: inline;
        color: inherit;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 0%);
    }
}

.table-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

/* Chrome, Safari, Edge, Opera */
input.pageInput::-webkit-outer-spin-button,
input.pageInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number].pageInput {
    -moz-appearance: textfield;
}
