.grid-button-group {
    text-align: left;
    color: var(--font-accent-color);

    .grid-button {
        display: block;
        border: none;
        // border-bottom: 1px solid;
        // border-bottom-color: transparent;
        background: none;
        color: inherit;
        cursor: pointer;
        margin-bottom: var(--padding-x-small);
        white-space: nowrap;
        margin: 0;
        padding: 0;
        line-height: 1.42857143;

        &:hover {
            text-decoration: underline;
        }

        i {
            margin-right: .5em;

            &.IconOnTheRight {
                margin-right: 0;
                margin-left: .5em;
            }
        }
    }
}
