.paginatore-step {
    /*text-align: center;*/
    background-color: @paginatore-steps-color; /*@background-start-color;*/
    z-index: 3;

    .pagination {
        margin-top: 5px;
        margin-bottom: 5px;

        li:hover:not(.disabled, .active) a {
            background-color: hsl(0deg, 0%, 80%);
        }

        a {
            /*border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;*/
            cursor: pointer;
        }

        .disabled {
            color: rgb(59,59,59) !important;
            cursor: not-allowed;
        }
    }
    /*.vai-avanti {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        text-decoration: none;
        border: 1px solid #337ab7;
        background-color: #337ab7;
        //border-color: #337ab7;
        color: #fff;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
        }
    }

    .vai-indietro {
        cursor: pointer;
    }*/
}   
/* 
@media (min-width: 1200px) {
    .paginatore-step {
        width: 75%;
        min-width: 1200px;
    }
}
*/
/*
@media (max-width: 1170px) {
    .paginatore-step {
        width: 100%;
    }
}*/
