.paga-dopo {
    .opzioni-pagamento {
        display: flex;
        margin-top: var(--padding-large);

        & > button {
            background-color: var(--well-background-color);
            padding: var(--padding-default);
            color: var(--font-color) !important;
            text-decoration: none;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s;
            width: 50%;
            border: 0;

            &:first-child {
                margin-right: var(--padding-default);
            }

            &:last-child {
                margin-left: var(--padding-default);
            }

            &:hover {
                box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
            }

            &:active {
                box-shadow: none;
            }

            .icona {
                text-align: center;
                /*font-size: 11em;
                line-height: 0;*/
                padding: var(--padding-small) 0 var(--padding-small) 0;
            }
        }

        h3 {
            margin: 0;
            padding: 0;
            text-align: center;
            /*color: var(--font-accent-color) !important;*/
            font-size: 1.8em;
            text-transform: uppercase;

            & > small {
                font-size: var(--default-font-size);
                text-transform: none;
            }
        }
    }
}
