
.step-domanda {
    // margin-left: -15px;
    // margin-right: -15px;
    display: flex;
    flex-direction: column;
    // min-height: calc(100% - 10px);
    flex-grow:1;
}

.contenuto-step {
    // margin-bottom: var(--padding-small);
    flex-grow: 1;
    
    // padding-left: var(--padding-small);
    // padding-right: var(--padding-small);

    // .descrizione-step {
    //     margin-bottom: 20px;
    // }
}

.paginatore-step {
    flex-grow: 0;
    width: 100%;
}
