/*@import "_constants-default.less";


.rotante::before {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.rotante,
.roteante {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

html {
    min-height: 100%;
}

body.areariservata {

    @import "_base.less";
    //color: #5a6772;
    background-color: #fff;
    //font-size: 16px;*/
    /*background-image: -moz-linear-gradient(bottom, @background-start-color 60%, @background-end-color 100%);
    background-image: -moz-linear-gradient(bottom, @background-start-color 60%, @background-end-color 100%);
    background-image: -webkit-linear-gradient(bottom, @background-start-color 60%, @background-end-color 100%);
    background-image: -ms-linear-gradient(bottom, @background-start-color 60%, @background-end-color 100%);
    background-image: -o-linear-gradient(bottom, @background-start-color 60%, @background-end-color 100%);
    background-image: linear-gradient(bottom, @background-start-color 60%, @background-end-color 100%);
    background-attachment: fixed;*/
    /*min-height: 100%;

    > form {
        > .container {
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
            padding-bottom: 15px;
            background-color: #fff;
            min-height: 100%;
        }

        @media (min-width:768px) and (max-width:1199px) {
            > .container {
                width: 100%;
            }
        }
    }

    a:not(.dropdown-item) {
        color: @menu-bar-color;

        &:hover {
            color: @accent-dark;
        }

        &:focus {
            color: @accent-dark;
        }

        &.btn-primary {
            color: @inverse-font-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .btn-primary > a {
        color: @inverse-font-color;

        &:hover {
            text-decoration: none;
        }
    }

    header {
        //position: absolute;*/
        /* top: 0; */
        /*left: 0;
        right: 0;*/
        /* bottom: 0; */
        /*margin: auto;
        z-index: 2;
    }
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #ddd !important;
    border-bottom-width: 2px !important;
}*/