#alberoEndo ul {
    margin: 0px;
    padding: 0px;
}

#alberoEndo li {
    margin-left: 20px;
    list-style-type: none;
    margin-bottom: 5px;
}

#alberoEndo > ul > li {
    margin-left: 5px;
    padding-bottom: 16px;
}

    #alberoEndo > ul > li > ul {
        /*margin-top: 5px;*/
    }

#alberoEndo ul {
    margin-top: 5px;
}

#alberoEndo li > input[type=checkbox] {
}

#alberoEndo span {
    font-weight: bold;
    cursor: pointer;
}
/*
#alberoEndo label {
    font-weight: normal;
}
*/

#alberoEndo .glyphicon-question-sign,
#alberoEndo .fa-question {
    cursor: pointer;
    color: val(--accent-color);
}
#accordion .ui-widget-content {
    border: 1px solid #ddd;
}
