<div *ngIf="dataSource && dataSource.length">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Descrizione</th>
                <th>Tipologia</th>
                <th>Scarica</th>
                <th>Link</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of dataSource">
                <td>{{item.descrizione}}</td>
                <td>{{item.tipologia}}</td>

                <td><span class="link" (click)="download(item.codiceOggetto)" *ngIf="item.codiceOggetto">Scarica</span></td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
