vbg-email-autocomplete {
    display: block;
}

.vbg-email-autocomplete ul#lista-destinatari {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: var(--default-padding);
    white-space: normal;
}

.vbg-email-autocomplete ul#lista-destinatari > li {
    display: inline-block;
    padding: var(--half-padding) var(--default-padding);
    border: 1px solid var(--form-element-border-color);
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.vbg-email-autocomplete ul#lista-destinatari > li > a {
    color: var(--accent-color);
    margin-left: var(--default-padding);
    cursor: pointer;
}

/* -------------------*/
.vbg-email-autocomplete-input {
    display: inline-block;
    position: relative;
}

.vbg-email-autocomplete-input ul {
    padding: var(--default-padding);
    border: 1px solid var(--form-element-border-color);
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    background-color: var(--main-bg-color);
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 5px 5px 0px var(--modal-backdrop-color);
}

.vbg-email-autocomplete-input ul > li {
    border-bottom: 1px solid var(--form-element-border-color);
    padding: var(--half-padding);
    cursor: pointer;
}

.vbg-email-autocomplete-input ul > li.selected {
    background-color: var(--form-element-border-color);
}

.vbg-email-autocomplete-input ul > li > .titolo {
    font-weight: bold;
}

.vbg-email-autocomplete-input ul > li:last-child {
    border-bottom: none;
}


.vbg-email-autocomplete-input input {
    width: 500px;
}