@charset "UTF-8";

#input_ricerca {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
	margin-top: 12px;
	margin-bottom: 12px;
	width: 20%;
	background-color: #e1ebf4;
}

.input-icons i {
	position: absolute;
}

.input-icons {
	width: 100%;
	margin-bottom: 10px;
}

.icon {
	padding: 20px 5px 20px 8px;
	min-width: 40px;
}

.input-help {
	margin-left: 0px !important;
}