.vbg-table {
	width: 100%;
	background-color: var(--main-bg-color);
	border-collapse: collapse;
	margin-top: var(--default-padding);
	white-space: initial;
}

.vbg-table td, .vbg-table th {
	padding: var(--default-padding);
	text-align: left;
}

.vbg-table thead th {
	background-color: var(--table-header-color);
}

.vbg-table>thead>tr {
	border-bottom: 1px solid var(--table-hover-color);
}

.vbg-table>tbody>tr:nth-child(even) {
	background-color: var(--table-row-color);
}

.vbg-table>tbody>tr:nth-child(odd) {
	background-color: var(--table-alt-row-color);
}

.vbg-table>tbody>tr:hover {
	background-color: var(--table-hover-color);
}

.vbg-table>tbody>tr {
	border-bottom: 1px solid var(--table-hover-color);
}

.table-fix-head {
	overflow: auto;
	max-height: 500px;	
}

.table-fix-head thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}