.titoloPagina {
    font-size: 2em;
    font-weight: normal;
    display: block;
    margin-top: var(--default-padding);
    margin-bottom: var(--half-padding);
}

#innernav {
    font-family: inherit;
    font-weight: inherit;
    margin-top: inherit;
    font-size: 1.2em  !important;
    color: inherit;
    margin-bottom: var(--default-padding);
}

#innernav>label.selected {
    font-size: inherit !important;
}