#if($modelloHelper.isRenderForPrint())
	<b>$decodedVal</b>
#else
	#set($text = $campo.getProprietaCampo("Testo",""))
	<input type="button" name="$nameAttr" id="${nameAttr}_ID" value="$text" class="$classeCampo"/>
#end