#datiDinamici {
    .d2-hidden {
        display: none !important;
        // background-color: black !important;
        // color: white !important;
    }




    .d2-touched {

        &.d2Errori {
            /*color: #a94442 !important;
        background-color: #f2dede !important;
        border-color: #ebccd1 !important;
            */
            border-color: #a94442 !important;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        }
    }

    .gestione-errori {
        color: #a94442 !important;
        //font-weight: bold;
    }

    .d2Control {
        display: inline-block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

        &.d2-read-only-text {
            border: 0;
            box-shadow: none;
            width: 100%;
            height: auto;
            padding: 0;

            &.titolo {
                font-size: 30px;
                font-weight: 500;
            }

            &.sottotitolo {
                font-size: 24px;
                font-weight: 500;
            }
        }
    }

    .has-error {
        .d2Control {
            border-color: #a94442;
        }
    }

    .d2Control[disabled], .d2Control[readonly] {
        background-color: #eee;
        opacity: 1;
    }

    textarea.d2Control {
        height: auto;
    }

    select {
        height: auto !important;
        font-size: 13px !important;
    }

    .descrizioneCampoDinamico {
        display: none;
    }

    .helpIcon {
        cursor: pointer;
        vertical-align: top !important;
    }

    input[type=checkbox].d2Errori {
        border-color: #a94442 !important;
        outline: 1px solid #a94442 !important;
    }

    .bottoni {
        margin-top: 24px;
    }

    .tabellaDatiDinamici {
        //width: 100%;
        //max-width: 100%;
        margin-bottom: 20px;
        position: relative;

        td {
            padding: 8px;
        }
    }

    .divEliminazioneBlocco {
        float: right;
        line-height: 2.0em;

        i {
            margin-right: 5px;
        }
    }

    input[type=file] {
        display: inline-block !important;
    }

    select {
        display: inline-block;
        padding: 4px;
        font-size: 13px;
        line-height: 18px;
        color: #808080;
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .campo-limitato {
        position: relative;
        /* font-size: 10px; */
        border-bottom: 1px solid transparent;
        /* position: absolute; */
        /* bottom: 0px; */
        margin: 0;
        padding: 0;
        line-height: 0;
        display: inline-block;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 3px;
        border-radius: 0 0 3px 3px;

        textarea {
            overflow-x: hidden;
            padding-bottom: 16px;
        }
    }

    .caratteri-rimanenti {
        font-size: 11px;
        border-bottom: 0;
        position: absolute;
        bottom: 1px;
        line-height: 1;
        /* display: none; */
        background-color: #f0f0f0;
        //width: 100%;
        //border-bottom: 1px solid #ccc;
        // border-left: 1px solid transparent;
        // border-right: 1px solid transparent;
        text-align: right;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 3px;
        border-radius: 0 0 3px 3px;
        left: 0;
        right: 0;
        margin-left: 1px;
        margin-right: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .d2SearchContainer {

        & > .glyphicon {
            top: 4px;
            left: -25px;
        }
    }

    .d2-date-addon {
        top: 4px;
        left: -25px;
    }

    .d2-label-cell {
        vertical-align: top;

        .EtichettaControllo {
            line-height: 32px;
        }
    }

    .d2Label {
        height: auto;
        border: 0px;
        box-shadow: none;
    }

    .bloccoMultiplo {
        h3 {
            margin: 0;
        }
    }

    .righeMultiple {
        &.table-striped > tbody > tr:last-child {
            background-color: transparent;
        }
    }
}

.tooltip-errore {
    #datiDinamici.d2-touched.d2Errori;
}

.dati-dinamici-readonly {
    .tabellaDatiDinamici {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        position: relative;
        
        td:first-child{
            width: 25%;
        } 
        
        td {
            padding: 8px;
        }
    }
}
