@charset "UTF-8";

body {
	padding: 10px;
}

.titolo {
	color: #333333;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
}

.container {
	
}

.files {
	
}

.blocco {
	margin: 5px;
	padding: 5px;
	background-color: #D8D8D8;
	width: 460px;
	border: 1px solid #C0C0C0;
}

.panel {
	width: 460px;
	margin: 5px;
}