<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LinkNextSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="LinkNextSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://linknext-t.comune.modena.it/LinkNext.asmx"
                binding="basicHttpBinding" bindingConfiguration="LinkNextSoap"
                contract="EntraNextService.LinkNextSoap" name="LinkNextSoap" />
        </client>
    </system.serviceModel>
</configuration>