<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BariConfigServiceSoap" />
                <binding name="TaresServiceSoap" />
                <binding name="SignatureServiceSoapBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BariConfigServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="TaresServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsBari/BariConfigService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BariConfigServiceSoap"
                contract="BariConfigServiceReference.BariConfigServiceSoap"
                name="BariConfigServiceSoap" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsBari/BariConfigService.asmx"
                binding="customBinding" bindingConfiguration="BariConfigServiceSoap12"
                contract="BariConfigServiceReference.BariConfigServiceSoap"
                name="BariConfigServiceSoap12" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsTaresBari/TaresService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TaresServiceSoap"
                contract="BariTaresSigeproServiceReference.TaresServiceSoap"
                name="TaresServiceSoap" />
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsTaresBari/TaresService.asmx"
                binding="customBinding" bindingConfiguration="TaresServiceSoap12"
                contract="BariTaresSigeproServiceReference.TaresServiceSoap"
                name="TaresServiceSoap12" />
            <endpoint address="http://devel9:8080/dss-webapp/wservice/signatureService"
                binding="basicHttpBinding" bindingConfiguration="SignatureServiceSoapBinding"
                contract="JSignPdfWebService.SignatureService" name="SignatureServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>