html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.map {
    width: 100%;
    height: 60vh;
}

.esempi {
    height: 40vh;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul span {
    cursor: pointer;
}

a {
    text-decoration: none;
}

dl {
    padding: 0px 10px 20px 10px;
}
dt {
    float: left;
    clear: left;
    /*width: 200px;
  text-align: right;*/
    font-weight: bold;
}
dt::after {
    content: ': ';
}
dd {
    /*margin: 0 0 0 110px;*/
    padding: 0;
}

.menu-1 {
    padding: 5px;
    text-align: center;
}
