#accordion h3
{
    font-weight: bold;
}

.popupDettagliEndo fieldset
{
    border: 0px;
}

.popupDettagliEndo fieldset > div > .etichetta
{
    font-weight: bold;
    font-style:italic;
    width: 100%;
    display:block;
}
.popupDettagliEndo fieldset > div 
{
    margin-top: 2px;
}

