@import url("jqueryui/jquery-ui.css");
@import url("init.tree.css");
@import url("cart.css");
@import url("popupDettagliEndo.css");

/*INTESTAZIONE DELLA PAGINA*/
BODY
{
    margin: 0px;
    background-color: white;
    color: #000;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 10px;
    height: 100%;
    
}

#nomeComuneV2,
#datiUtenteV2
{
	display: none;
}




A IMG
{
    border: 0px;
}

.titoloPagina
{
   font-size: 12px;
   font-weight:700;
   text-transform:uppercase;
   margin-bottom: 10px;
   padding:1px;
}

.titoloPaginaPopup
{
   font-size: 12px;
   font-weight:700;
   text-transform:uppercase;
   margin-bottom: 10px;
   padding:1px;
   margin-left:20px;	
}

.errori
{
	color : Red;
	font-size: 11px;
}

#intestazionePagina
{
	width:100%;
	clear:both;
}
#intestazionePagina #hrTop
{
	background-color: #b71218;
    height: 3px;
    width: 100%;
}
#intestazionePagina #logo
{
	float:left;
}
#intestazionePagina #nomeComune
{
	float:right;
	width: 500px;
	vertical-align:bottom;
	margin-top: auto;
	margin-right: 10px;
	text-align: right;
	margin-top: 30px;
	font-weight: 700;
}

#intestazionePagina #nomeComune #postNomeComune
{
	padding-right: 10px;
}

#intestazionePagina #datiUtente
{
	clear:both;
	margin-top: 10px;
	font-weight: 700;
}


#intestazionePagina #datiUtente #preNomeUtente
{
	width: 137px;
	height: 14px;
	background-image: url(../Images/img_utente.gif);
	float: left;
	color: transparent;
}
#intestazionePagina #loginAreaRiservata 
{
	clear:both;
	margin-top: 10px;
}
#intestazionePagina #loginAreaRiservata #logoAreaRiservata
{
	width: 117px;
	height: 14px;
	background-image: url(../Images/img_areariservata.gif);
	float: left;
}
#intestazionePagina #datiUtente SPAN
{
	text-transform:uppercase;
	margin-left: 5px;
}
#intestazionePagina #spacer
{
	width:100%;
	height: 1px;
	background-image: url(../Images/sfondo_puntini.gif);
	margin-bottom: 10px;
	margin-top: 10px;
}

#piedePagina
{
	clear:both;
	width:100%;
	height: 1px;
	background-image: url(../Images/sfondo_puntini.gif);
	margin-bottom: 10px;
	margin-top: 20px;
}

#contenitorePrincipale
{
	width: 100%;
	height: 100%;	
	clear:both;
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	float:left;
}

#menuNavigazione
{
	float:left;
	width: 15%;
	min-height: 100px;
}

#contenitorePrincipale #menuNavigazione LI
{
	list-style-image: url(../Images/DotMenuSx.gif);
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	font-weight: 700;
}

#contenitorePrincipale #menuNavigazione A, #contenitorePrincipale #menuNavigazione A:active
{
	color: #000;
	text-decoration:none;
}


#contenitorePrincipale #menuNavigazione A:hover
{
	text-decoration: underline;	
}


#contenuti
{
	float:left;
	min-height: 100px;
	width: 83%;
}


#contenutoStep
{
	min-height: 100px;
}

#contenitorePrincipale #contenuti A,
#contenitorePrincipale #contenuti A:active,
#contenitorePrincipale #contenuti A:visited
{
	color: #000;
}

.inputFormPopup fieldset
{
	margin-left:20px;	
	margin-top:10px;
	width:700px;
}


/*BOX LOGIN*/
.inputForm fieldset
{
	width: 95%;
	border: 0px;
}

fieldset.blocco
{
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

/*
.inputForm fieldset div input[type=submit],
.inputFormPopup fieldset div input[type=submit]
{
	border: 0px;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}
*/
.inputForm fieldset legend
{
	clear:both;
	*margin-left:-7px! important;
	font-weight:bold;
	/*text-transform: capitalize;*/
	margin-top: 15px;	
	margin-bottom: 5px;	
	color: #000;
}

.inputFormPopup fieldset legend
{
	clear:both;
	*margin-left:-7px! important;
	font-weight:bold;
	/*text-transform: capitalize;*/
	/*margin-top: 15px;*/
	margin-bottom: 5px;	
	margin-left:5px;
	padding-right:5px;
	padding-left:5px;
	padding-top:1px;
	padding-bottom:10px;
	color: #000;
}

.inputForm fieldset div>label,
.inputFormPopup fieldset div>label
{
	float: left;
	width: 200px;
	min-height: 16px;
}

.inputForm fieldset input[type=file]
{
	width: 350px;
}

.inputForm fieldset input, 
.inputForm fieldset select, 
.inputForm fieldset textarea,
.inputFormPopup fieldset input, 
.inputFormPopup fieldset select, 
.inputFormPopup fieldset textarea,
TD select
{
	font-family: Verdana, Arial ,Helvetica,Sans-Serif;
    font-size: 10px;
}

.inputForm > fieldset > div,
.inputForm > fieldset > fieldset.blocco > div
{
	clear:both;
	padding:1px;
}

.inputForm div .treeView
{
	clear:none !important;
	padding:0px;
}

.inputFormPopup div
{
	clear:both;
	padding:1px;	
}

/* griglie */

TABLE
{
	border: 1px solid transparent !important;
	border-collapse:collapse;
	width: 100%;
}

.pagerStyle TABLE
{
	width: auto;
	font-weight: bold;
}

TH,
.HeaderStyle
{
    font-weight: bold;
    color: #000000;
    font-family: verdana,arial,sansserif,helvetica;
    background-color: #c5c5b9;
    text-align: left;
    text-decoration: none
}

.HeaderStyleRiepilogo
{
	font-weight: bold;
    color: #000000;
    font-family: verdana,arial,sansserif,helvetica;
    text-decoration: none
}
.HeaderStyleRiepilogo TD
{
	border: 0px solid #fff;
	
}


.HeaderStyle TD
{
	padding: 5px;
	border: 0px solid #fff;
}
.HeaderStyle SPAN
{
	font-weight:normal;
	/*margin-left: 10px;*/
}

.ItemStyle
{
    COLOR: #000000;
    font-family: Verdana,Arial,SansSerif,Helvetica;
    background-color: #fff;/*#f1f1f1*/
}
.ItemStyle A,.ItemStyle A:active,.ItemStyle A:link,.ItemStyle A:visited,
.AlternatingItemStyle A,.AlternatingItemStyle A:active,.AlternatingItemStyle A:link,.AlternatingItemStyle A:visited,
.SelectedItemStyle A,.SelectedItemStyle A:active,.SelectedItemStyle A:link,.SelectedItemStyle A.visited
{
    color: black;
    margin: 5px;
    display:block;
    font-weight: bold;
    text-decoration: none;
    text-transform:uppercase;
    padding:0px;
}

.ItemStyle A:hover,
.AlternatingItemStyle A:hover
{
	color: black;
    margin: 5px;
    display:block;
    font-weight: bold;
    text-decoration: underline;
}

.SelectedItemStyle
{
	COLOR: #000000;
	font-family: Verdana,Arial,SansSerif,Helvetica;
	background-color:#FFCC7F;/*#d5d5df;*/
}

.downloadModelli A:link,.downloadModelli  A:visited
{
	display:inline;
	margin-right: 2px;
	width:100%;
	text-align:left;
	margin-left: 0px;
}


.AlternatingItemStyle TD,
.ItemStyle TD,
.SelectedItemStyle TD
{
	padding: 3px;
	border: 0px solid #fff;
	/*border-left: 1px solid #c5c5b9;*/
}

.AlternatingItemStyle TR,
.ItemStyle TR,
.SelectedItemStyle TR
{
	border: 0px solid #fff;
}

.AlternatingItemStyle
{
    COLOR: #000000;
    FONT-FAMILY: Verdana,Arial,SansSerif,Helvetica;
    BACKGROUND-COLOR: #e2e1e1
}


#paginatoreStep
{
	float: right;
	font-size: 11px;
	margin-right: 5%;
}
/*
#paginatoreStep input[type=submit]
{
	font-size:  11px;
	margin-left: 5px;
	border: 0px solid;
}
*/

#paginatoreStep input[type=submit]
{
	font-size:  11px;
	/*margin-left: 5px;*/
	border: 0px solid;
	background-color: #fff;
	font-weight:bold;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}

#paginatoreStep input[type=submit]:hover
{
	font-size:  11px;
	border: 0px solid;
	background-color: #fff;
	font-weight:bold;
	text-decoration: underline;
	cursor:pointer;
	margin: 0px;
	padding: 0px;
}

#paginatoreStep TD
{
	padding-left: 5px !important;
	font-weight: bold;
}

#paginatoreStep .step
{
	color: #000000;
	font-family: Verdana,Arial,SansSerif,Helvetica;
	background-color: #f1f1f1;
	font-size:  10px;
	font-weight:normal;
}
/*
#paginatoreStep .step A
{
	text-decoration: none;
	font-size:  10px;
	color: #666 !important; 
	font-weight: bold;
}
*/
#paginatoreStep .stepCorrente
{
	font-weight: bold;
	color: #B61218;
	font-family: Verdana,Arial,SansSerif,Helvetica;
	font-size: 12px;
}

.riepilogoDomanda
{
	width:700px; 
	height: 500px;
	border: 1px solid #666;
	background-color:#ddd;
	padding: 5px;
	overflow-y:scroll;
}

.bottoni
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.bottoni > input[type=submit]
{
   border: 1px solid maroon;
   background-color: #b61218;
   border-radius: 4px;
   box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
   -o-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
   -webkit-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
   -moz-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
   color: white;
   text-shadow: 0 1px 1px black;
   padding: 3px 20px;
}
/*
.bottoni input[type=submit],
#datiDinamici input[type=submit]
{
	font-size: 10px !important;
	background-color: #B61218 !important;
	border-right: 2px solid #000 !important;
	border-bottom: 2px solid #000 !important;
	border-top: 2px solid #E11218 !important;
	border-left: 2px solid #E11218 !important;
	color: #fff !important;
	font-weight: bold !important;
	text-decoration: none !important;
}
*/
#datiDinamici .bloccoMultiplo
{
    border: 1px solid #666;
    margin-top: 3px;
    margin-bottom: 3px;
}

#datiDinamici input[type=text],
#datiDinamici select,
#datiDinamici textarea
{
    font-style:normal;
    font-size: 11px;
}

#datiDinamici .divEliminazioneBlocco
{
    width:100%;
	text-align:right;
	font-weight:bold;
}

#datiDinamici .bloccoMultiplo .Titolo
{
    margin-top: 0px;
}

#datiDinamici .divEliminazioneBlocco>a
{
	text-decoration: none;
	margin-right: 2px;
}


.clear
{
	clear:both;
}

LI
{
	margin-bottom: 5px;
}

LI A, A:visited, A:active
{
	margin-bottom: 5px;
	color:#000;
}

.treeView LI A, 
.treeView A:visited,
.treeView A:active
{
	margin-bottom: 0px;
	color:#000;
}



.ui-autocomplete LI A
{
    margin: 0px;
}

.ui-autocomplete .clearAteco
{
    clear:both;
    background-color:Transparent;
    border: 1px solid Transparent;
}

.ui-autocomplete .clearAteco:hover
{
    border: 1px solid #999999; background: #dadada url(jqueryui/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121;
}

.ui-autocomplete .codiceAteco
{
   width: 60px;
   float:left;
   background-color:Transparent;
}
.ui-autocomplete .descrizioneAteco
{
    margin-left: 60px;
    background-color:Transparent;
}


.downloadDomanda
{
	width: 540px;
	text-align:center;
	margin: 0px auto;
	border:1px solid #666;
	padding: 10px;
	background: #ddd;
}

.downloadDomanda input
{
	margin-top: 10px;
}

.downloadDomanda div
{
	text-align:justify;
	margin-bottom: 10px;
}

.downloadDomanda A
{
	font-weight: bold;
	margin-left: 5px;
}
/*
.downloadDomanda DIV INPUT[type=image]
{
	margin-top: 10px;
}
*/
.downloadDomanda DIV INPUT[type=file]
{
	width: 480px;
}

pre
{
	 color: #000;
    font-family: Verdana, Arial ,Helvetica,Sans-Serif;
    font-size: 10px;
}

.descrizioneStep
{
	margin-top: 5px;
	margin-bottom: 15px;
	width: 95%;
	text-align:justify;
}


iframe.riepilogoDomandaHtml
{
	width: 70%;
	height: 500px;
	border: 1px solid;
	margin: 0px;
	padding: 0px;
	overflow:auto;
}

.riepilogoDomandaHtml
{
	background-color: #f0f0f0;
	width: 70%;
	max-height: 500px;
	border: 1px solid;
	padding: 10px;
	overflow:auto;
}

.notifica
{
	width: 70%;
	border: 1px solid #000;
	padding: 10px;
	text-align:justify;
	background-color: #f0f0f0;
	margin: 0px auto;
	font-weight: bold;
}

.PagerStyle
{
	font-weight: bold;
	color: #B61218;
	font-family: Verdana,Arial,SansSerif,Helvetica;
	font-size: 10px;
}

.PagerStyle A
{
	color: #000000;
	font-family: Verdana,Arial,SansSerif,Helvetica;
	background-color: #f1f1f1;
	font-size:  10px;
	font-weight:normal;
}

#mainFormPopup
{
	position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(../Images/bgerrore.png);
}

#mainFormPopup .inputFormPopup
{
	background-color:#fff;
	width:60%;
	margin:0px auto;
	margin-top:15%;
	padding:5px;
	border:solid 1px #000;
}

#mainFormPopup .inputFormPopup fieldset
{
	margin-left:20px;	
	margin-top:10px;
	margin-right:20px;
	width:auto;
}

#mainFormPopup .bottoni
{
	margin-left:20px;
	padding-bottom:10px;	
}


#mainFormPopup .bottoni input[type=button]
{
	font-size: 10px !important;
	background-color: #B61218 !important;
	border-right: 2px solid #000 !important;
	border-bottom: 2px solid #000 !important;
	border-top: 2px solid #E11218 !important;
	border-left: 2px solid #E11218 !important;
	color: #fff !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

#mainFormPopup .inputFormPopup fieldset label
{
	/*float: left;
	min-height: 16px;*/
	width: 150px;
}

.treeview input[type=checkbox]
{
	float:left;
}
.treeview table
{
	margin-top: 10px;
}
.treeview .leaf span
{
	display:block;
	width: 700px;
}

#datiDinamici
{
    width: 100%;
}

#datiDinamici .errori
{
    color: Red;   
}

#datiDinamici ul {
  margin-bottom: 10px;
}
#datiDinamici ul li.elementoListaDatiDinamici {
  list-style-type: none;
  margin-top: 5px;
}
#datiDinamici ul li.compilato {
  list-style-image: url(../images/Check-icon.png);
}

.DatiDinamici
{
	
}

.DatiDinamici TABLE
{
	border-collapse: collapse;
	width: 100%;
}

.DatiDinamici .Titolo
{
	/*padding-left: 5px;*/
	background-color: #deddcc;
	width:100%;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	/* *margin-left: -5px;*/
}



.TitoloModello
{
	width: 100%;
	text-align: center; 
	font-weight: bold; 
	font-size: larger; 
	text-transform: uppercase;
}



.DatiDinamici SPAN
{
	font-style:italic;
}

.ContenutoScheda .UpdatePanel
{
	clear:both;
	float:none;
}

.DatiDinamici .EtichettaControllo
{
	/*Corregge il comportamento di "span"*/
	font-style:normal;
}

.listaSchede
{
	border-bottom : 1px solid #ccc;
	margin : 0;
	padding-bottom : 19px;
	padding-left : 10px;
}

.listaSchede ul, .listaSchede li	{
	display : inline;
	list-style-type : none;
	margin : 0;
	padding : 0;
}

.listaSchede a:link, .listaSchede a:visited
{
	background : #E8EBF0;
	border : 1px solid #ccc;
	color : #999;
	float : left;
	font-size : small;
	font-weight : normal;
	line-height : 14px;
	margin-right : 8px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}
.listaSchede a:hover
{
	background : #d8dBe0;
	color: #696969;
	/*color: #ccc;*/
}

.listaSchede a.SchedaAttiva	{
	background : #fff;
	border-bottom : 1px solid #fff;
	/*color: #696969;*/
	color : #888;
	font-weight: bold;
}


.ContenutoScheda
{
	border-left : 1px solid #ccc;
	border-right : 1px solid #ccc;
	border-bottom : 1px solid #ccc;
}


.ErroriDatiDinamici
{
	margin-left: 15%;
	margin-right: 15%;
	color: Red;
}

.ErroriDatiDinamici UL
{
	margin: 0px;
}

#salvataggioEffettuato
{
    color: Green;
    font-weight: bold;
    display: none;
}

#salvataggioInCorso
{
    font-weight: bold;
    display: none;  
}
.descrizioneCampoDinamico
{
    position:absolute;
    display: none;
	background-color: #fff;
	border: 1px solid #000;
	width: 300px;
	height: auto;
	padding: 2px;
}

.RicerchePlus input, .RicerchePlus textarea, .RicerchePlus select
{
	font-size: 12px;
	font-family: tahoma, arial, helvetica;
	
	float:left;
}

.RicerchePlus A, .RicerchePlus A:visited, .RicerchePlus A:hover 
{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	color: #000;
	font-weight: 900;
	text-transform: capitalize;
	text-decoration: underline;
	vertical-align:middle;
}


.RicerchePlusLista
{
	text-align:left;
    visibility:hidden;
    cursor:default;
    list-style:none;
    padding: 0px;
    margin:0px! important;
    border:solid 1px buttonshadow;  
    background-color: #fff; 
}
.RicerchePlusElementoLista
{
	background-color: White;
	color:Black;
	border-bottom: 1px solid #CCC;
}
.RicerchePlusElementoSelezionatoLista
{
	background-color: Blue;
	color: White;
	border-bottom: 1px solid #CCC;
}

#datiDinamici .titoloScheda
{
    font-weight: bold;
    font-size: 12px; 
    margin-bottom: 10px;
    clear:both;   
}


.noteIntervento img
{
    border: 0px;    
    vertical-align: bottom;
}



#intestazioneAteco,
#intestazioneInterventi
{
    position: fixed; 
    /*z-index: 9999; */
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1px;
}


#ricercaNodoAteco
{
}

.treeView
{
    margin-bottom:10px;
}
.riepilogoDomandaHtml table
{
    border: 1px solid #000 !important;
    border-collapse:collapse;
}

.riepilogoDomandaHtml table table
{
    border: 1px solid transparent !important;
    border-collapse:collapse;
}



/* Tabella per righe multiple*/
.testataRigheMultiple
{
    background-color: #deddcc;
    font-weight: bold;
}

.rigaRigheMultiple
{
    background-color: #fff;
}

.rigaAltRigheMultiple
{
    background-color: #f4f3e3;
}

.rigaRigheMultiple .divEliminazioneBlocco,
.rigaAltRigheMultiple .divEliminazioneBlocco
{
    text-align: left !important;
    margin-left: 2px;
    width: 150px;
}

/* Fine tabella per righe multiple*/


/* Albero domande per l'individuazione degli endoprocedimenti*/
.alberoDomandeEndo UL{ list-style: none;margin-left:0px;padding-left:0px;}
.alberoDomandeEndo UL > LI{ margin-left:10px;}
.alberoDomandeEndo > UL > LI{ margin-left:0px;}
.alberoDomandeEndo UL > LI.area{ padding-left:18px;padding-top:3px;background-image: url(../images/folder.gif);background-repeat:no-repeat;margin-top:5px;}
/* Fine albero domande per l'individuazione degli endoprocedimenti*/


.informativaPrivacy
{
	width: 90%;
	height:500px;
	overflow-y:auto;
	border:1px solid #000;
	padding:5px;
	margin-bottom: 5px;
}

.warningEndo
{
	border: 1px solid #AAA;
	padding:10px;
	position: relative;
}

.warningEndo > .iconaWarning
{
	position: absolute;
	top: 10px;
	left: 10px;
}

.warningEndo > .contenutoWarning
{
	padding-left: 40px;
}

.warningEndo > .contenutoWarning > ul
{
	margin-top: 10px;
}

.warningEndo > .contenutoWarning > ul > li
{
	list-style-type: disc;
	margin-left: 10px;
}

.allegato-obbligatorio
{
	background-image: url(../images/required-16x16.png);
	background-repeat:no-repeat;
}

.allegato-richiede-firma
{
	background-image: url(../images/firma-16x16.png);
	background-repeat:no-repeat;
}