.inputForm table,.inputForm td,
table.righeMultiple,
table.righeMultiple td
{
	border               : 1px solid #CCC;
	border-collapse      : collapse;
}
.inputForm table,
table.righeMultiple
{
	border                :none;
	border                :1px solid #CCC;
	width				  :100%;
}
.inputForm thead th,
.testataRigheMultiple td
{
	font-weight: bold;
}


.inputForm thead th,
.inputForm tbody th,
.testataRigheMultiple td
{
	background            : #FFF url(../images/th_bck.gif) repeat-x;
	padding               : 5px 10px;
  border-left           : 1px solid #CCC;
}
.inputForm tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #CCC;
  text-align            : left;
  font-weight           : normal;
}
.inputForm tbody tr td,
table.righeMultiple tr td
{
	padding               : 5px 10px;
}
.inputForm tbody tr:hover,
table.righeMultiple tr:hover
{
  background            : #FFF url(../images/tr_bck.gif) repeat;
}

tr.bloccoMultiPloAggiungiRiga:hover
{
	background            : none;
}

.inputForm tbody tr:hover td,
table.righeMultiple tr:hover td
{
	color                 : #454545;
	border               : 1px solid #CCC;
	border-collapse      : collapse;
}
.inputForm tfoot td,
.inputForm tfoot th,
.bloccoMultiPloAggiungiRiga td
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 4px;
  background            : #FFF url(../images/foot_bck.gif) repeat;
}
.inputForm caption
{
	text-align            : left;
	font-size             : 120%;
	padding               : 10px 0;
	color                 : #666;
}