<app-inner-page-layout [isLoading]="caricamentoInCorso">
  <div class="trasparenza dettaglio" *ngIf="dataSource">
    <div class="torna-indietro link" (click)="tornaIndietro()">
        <h4>
            <i class="glyphicon glyphicon-chevron-left"></i> Torna indietro
        </h4>
    </div>
    
    <h3>Pratica {{dataSource.Pratica}}
      <small *ngIf="dataSource.Protocollo"><br/>Protocollo {{dataSource.Protocollo}}</small>
    </h3>

    


    <div>
      <h4>Attività</h4>
      {{dataSource.Intervento}}
    </div>

    <div>
      <h4>Oggetto</h4>
      {{dataSource.Oggetto}}
    </div>

    <div>
      <h4>Stato</h4>
      {{dataSource.Stato}}
    </div>

    <div>
      <h4>Responsabile del procedimento</h4>
      {{dataSource["Responsabile del procedimento"]}}
    </div>

    <div class="localizzazioni" *ngIf="dataSource.localizzazioni && dataSource.localizzazioni.length">
        <h4>Localizzazioni</h4>
      <ul>
        <li *ngFor="let loc of dataSource.localizzazioni" (click)="selezionaIndirizzo(loc)">
            {{loc.indirizzo}}
            {{loc.datiCatastali}}
        </li>
      </ul> 
    </div>
<!--
    <app-leaflet-map [markers]="markers" [hidden]="nascondiMappa" ></app-leaflet-map>
-->
  </div>
</app-inner-page-layout>