.treeView {
    /*.glyphicon {
        margin-right: 10px;
    }*/
    .glyphicon-none {
        width: 18px;
    }

    span {
        cursor: pointer;
    }

    li {
        list-style-type: none;
    }

    .selected {
        background-color: lightgoldenrodyellow;
    }

    .folder, .file {
        & > i.glyphicon {
            margin: 0 2px 0 2px;
        }

        & a > i.glyphicon {
            margin: 0 2px 0 2px;
        }
    }
}
