<?xml version="1.0" encoding="utf-8" ?>
<MenuNavigazione xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<TitoloPagina>SUAP - Servizi on-line</TitoloPagina>
	<DescrizionePagina>Funzionalità</DescrizionePagina>

	<VociMenu>
		<ElementoMenuNavigazione>
			<Descrizione>Nuova domanda</Descrizione>
			<DescrizioneEstesa><![CDATA[<b>Nuova domanda</b>  permette la presentazione di SCIA, Comunicazioni e Procedimenti ordinari]]></DescrizioneEstesa>
			<Url>~/Reserved/NuovaIstanza.aspx</Url>
			<!--<Target>_blank</Target>-->
		</ElementoMenuNavigazione>

		<ElementoMenuNavigazione>
			<Descrizione>Istanze in sospeso</Descrizione>
			<DescrizioneEstesa><![CDATA[<b>Istanze in sospeso</b>  recupero domande non ancora presentate]]></DescrizioneEstesa>
			<Url>~/Reserved/IstanzeInSospeso.aspx</Url>
		</ElementoMenuNavigazione>

		<ElementoMenuNavigazione>
			<Descrizione>Le mie pratiche</Descrizione>
			<DescrizioneEstesa><![CDATA[<b>Le mie pratiche</b>  visualizzazione dello stato avanzamento istanza]]></DescrizioneEstesa>
			<Url>~/Reserved/IstanzePresentate.aspx</Url>
		</ElementoMenuNavigazione>

		<ElementoMenuNavigazione>
			<Descrizione>Scadenzario</Descrizione>
			<DescrizioneEstesa><![CDATA[<b>Scadenzario</b>  permette l'interazione on-line per integrazioni documentali]]></DescrizioneEstesa>
			<Url>~/Reserved/Scadenzario.aspx</Url>
		</ElementoMenuNavigazione>

		<!-- Voce di menu che permette di ricercare anche pratiche non colegate all'utente (visura senza dati sensibili)-->
		<ElementoMenuNavigazione>
			<Descrizione>Archivio pratiche</Descrizione>
			<DescrizioneEstesa><![CDATA[<b>Archivio pratiche</b>  Archivio istanze per portatori di interesse diffuso]]></DescrizioneEstesa>
			<Url>~/Reserved/ArchivioPratiche.aspx</Url>
		</ElementoMenuNavigazione>

		<ElementoMenuNavigazione>
			<Descrizione>Modifica password</Descrizione>
			<DescrizioneEstesa><![CDATA[<b>Modifica password</b>  Modifica della password dell'utente]]></DescrizioneEstesa>
			<Url>~/Reserved/ModificaPassword.aspx</Url>
		</ElementoMenuNavigazione>

		<ElementoMenuNavigazione>
			<Descrizione>Esci</Descrizione>
			<DescrizioneEstesa><![CDATA[<b>Esci</b>  Uscita dai servizi on-line]]></DescrizioneEstesa>
			<Url>~/Endpoints/Logout.ashx</Url>
		</ElementoMenuNavigazione>

	</VociMenu>
</MenuNavigazione>