fieldset .RicerchePlus
{
	clear:none;
}


.RicerchePlus input, .RicerchePlus textarea, .RicerchePlus select
{
	font-size: 12px;
	font-family: tahoma, arial, helvetica;
	
	float:left;
}


.RicerchePlus A, .RicerchePlus A:visited, .RicerchePlus A:hover 
{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	color: #000;
	font-weight: 900;
	text-transform: capitalize;
	text-decoration: underline;
	vertical-align:middle;
}

fieldset img
{
	float: left;
}

.RicerchePlusLista
{
	text-align:left;
    visibility:hidden;
    cursor:default;
    list-style:none;
    padding: 0px;
    margin:0px! important;
    border:solid 1px buttonshadow;   
}
.RicerchePlusElementoLista
{
	background-color: White;
	color:Black;
	border-bottom: 1px solid #CCC;
}
.RicerchePlusElementoSelezionatoLista
{
	background-color: Blue;
	color: White;
	border-bottom: 1px solid #CCC;
}